.pa-loading-spinner {
	width: 100%;
	height: 400px;
	background: url('../image/price_alert/pa_loading.gif') no-repeat center center;
}

a.pa-button, .list a.pa-button {
	 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: #CCCCCC #CCCCCC #B3B3B3;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    padding: 4px 12px;
	margin-left: 5px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	text-decoration: none;
    vertical-align: middle;
}

.pa-button.big {
	padding: 10px 15px;
} 

.pa-information {
	position: relative;
	padding: 10px 10px 10px 45px;
	margin-bottom: 15px;
	background: #FFF5CC url('../image/price_alert/information.png') no-repeat 10px center;
	border: 1px solid #F2DD8C;
	color: #555555;
}

#tab-price-alert table.form > tbody > tr > td {
    border-top: 1px dotted #cccccc;
}

#tab-price-alert table.form > tbody > tr > td.center, #tab-history table.form > tbody > tr > td.center {
	text-align: center;
} 