html {
	margin: 0;
	padding: 0;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	/*height: 100%;*/
	background: #FFFFFF;
}
body, td, th, input, select, textarea, option, optgroup {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
input[type='text'], input[type='password'] {
	padding: 2px;
}
select {
	padding: 1px;
}


#selectem select{
    min-width: 130px;
    background-color: #ffffff;
}

#szuro_hozzaad option:hover {
    background-color: #a1a1a1;
}

#selectem {
    display: table;
}
textarea {
	padding: 2px;
}
a, a:visited {
	color: #003366;
	text-decoration: underline;
	cursor: pointer;
}
a img {
	border: 0;
}
form {
	margin: 0;
	padding: 0;
}
label {
	cursor: pointer;
}
#header .div1 {
	height: 56px;
	padding: 0px 30px;
	background: url('../image/header.png') repeat-x;
	min-width: 900px;
}
#header .div2 {
	color: #FFFFFF;
	padding: 12px 0px 0px 0px;
	float: left;
}
#header .div3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
	text-align: right;
	padding: 15px 0px 0px 0px;
	float: right;
}
#header .div2 span {
	font-weight: bold;
}
#menu {
	background: url('../image/menu.png') repeat-x;
	position: relative;
	z-index: 1;
	height: 34px;
	clear: both;
	padding: 0px 30px;
	min-width: 900px;
}

.select_pipa {
    background: url('../image/delete.png') repeat-x;
}
#menu > ul.left {
	float: left;
}
#menu > ul.right {
	float: right;
}
#menu > ul {
	position: relative;
	margin: 0;
	padding: 0;
}
#menu > ul ul {
	list-style: none;
	margin: 0;
	padding: 0;
	background: url('../image/transparent.png');
}
#menu > ul a {
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	padding: 5px;
}
#menu > ul > li + li {
	background: url('../image/split.png') center left no-repeat;
}
#menu > ul .top, #menu > ul li li.sfhover {
	padding: 10px 15px 9px 17px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
}
#menu > ul ul li {
	padding: 2px;
}
#menu > ul .selected .top {
	background: url('../image/selected.png') repeat-x;
	color: #FFFFFF;
}
#menu > ul .selected:hover a.top, #menu > ul .sfhover a.top {
}
#menu > ul .parent {
	background: url('../image/arrow-right.png') 95% center no-repeat;
}
#menu > ul li {
	float: left;
	list-style: none;
}
#menu > ul li ul {
	position: absolute;
}
#menu > ul li li {
	clear: both;
}
#menu > ul li ul a {
	color: #FFFFFF;
	height: 15px;
	width: 145px;
}
#menu > ul li ul ul {
	margin: -27px 0 0 157px;
}
#menu > ul li li:hover, #menu > ul li li.sfhover {
	background: #333;
	color: #000000;
}
#container {
	height: 100%;
}
body > #container {
	height: auto;
	min-height: 100%;
}
#content {
	background: #FFFFFF url('../image/background.png') 0px 1px repeat-x;
	padding: 10px 30px 0px 30px;
	min-width: 900px;
	padding-bottom: 128px;
}
#footer {
	background: #FFFFFF url('../image/footer.png') repeat-x;
	height: 90px;
	padding-top: 38px;
	text-align: center;
	font-size: 12px;
	color: #333;
	position: relative;
	clear: both;
}
#footer a {
	color: #333;
	text-decoration: underline;
}
.breadcrumb, .breadcrumb a {
	font-size: 12px;
	color: #666;
	margin-bottom: 15px;
}
.success {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	background: #EAF7D9 url('../image/success.png') 10px center no-repeat;
	border: 1px solid #BBDF8D;
	color: #555555;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.warning {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
	color: #555555;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.attention {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	background: #FFF5CC url('../image/attention.png') 10px center no-repeat;
	border: 1px solid #F2DD8C;
	color: #555555;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.required {
	color: #FF0000;
	font-weight: bold;
}
.error {
	margin-top: 3px;
	color: #FF0000;
	display: block;
	font-size: 12px;
	font-weight: normal;
}
.help {
	color: #666;
	font-size: 11px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	display: block;
}
.icon {
	vertical-align: middle;
	cursor: pointer;
}
.image {
	border: 1px solid #EEEEEE;
	padding: 10px;
	display: inline-block;
}
.image img {
	margin-bottom: 5px;
}
.box {
	margin-bottom: 15px;
}
.box > .heading {
	height: 38px;
	padding-left: 7px;
	padding-right: 7px;
	border: 1px solid #DBDBDB;
	background: url('../image/box.png') repeat-x;
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
}
.box > .heading h1 {
	margin: 0px;
	padding: 11px 0px 0px 0px;
	color: #003A88;
	font-size: 16px;
	float: left;
}
.box > .heading h1 img {
	float: left;
	margin-top: -1px;
	margin-left: 3px;
	margin-right: 8px;
}
.box > .heading .buttons {
	float: right;
	padding-top: 7px;
	margin-right: 5px;
}

.szinezett {
    background: #003A88;
    color: #fff;
    border: 1px outset;
    padding: 5px 10px;
    font-weight: bold;
    transition: background-color 350ms ease-in-out;

}
.szinezett:active {
    border: 1px inset;
}

.szinezett:hover {
    background: #000b62;
}
.box > .heading .buttons .button {
	margin-left: 5px;
}
.box > .content {
	padding: 10px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	min-height: 300px;
	overflow: hidden;
    clear: left;
    min-height: 1100px;
}
a.button, .list a.button {
	text-decoration: none;
	color: #FFF;
	display: inline-block;
	padding: 5px 15px 5px 15px;
	background: #003A88;
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-khtml-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
}
.list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.list td {
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}

.list tr:hover td{
    background-color: #dddddd;
}
.list thead td {
	background-color: #EFEFEF;
	padding: 0px 5px;
}
.list thead td a, .list thead td {
	text-decoration: none;
	color: #222222;
	font-weight: bold;
}
.list tbody td a {
	text-decoration: underline;
}
.list tbody td {
	vertical-align: middle;
	padding: 0px 5px;
	background: #FFFFFF;
}
.list .left {
	text-align: left;
	padding: 7px;
}
.list .right {
	text-align: right;
	padding: 7px;
}
.list .center {
	text-align: center;
	padding: 7px;
}
.list .asc {
	padding-right: 15px;
	background: url('../image/asc.png') right center no-repeat;
}
.list .desc {
	padding-right: 15px;
	background: url('../image/desc.png') right center no-repeat;
}
.list tr.filter td {
	padding: 5px;
	background: #E7EFEF;
}
.pagination {
	border-top: 1px solid #DDDDDD;
	display: inline-block;
	width: 100%;
	padding-top: 6px;
}
.pagination .links {
	float: left;
	padding-top: 6px;
}
.pagination .links a {
	border: 1px solid #DDDDDD;
	padding: 4px 10px;
	font-size: 12px;
	text-decoration: none;
	color: #A3A3A3;
}
.pagination .links b {
	border: 1px solid #269BC6;
	padding: 4px 10px;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: #269BC6;
	background: #FFFFFF;
}
.pagination .results {
	float: right;
	padding-top: 6px;
	font-size: 12px;
}
table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

table.header > tbody > tr:first-child > td {
    border: 0;
}

table.form .fuggoleges{
  margin-left: 30px;
}

table.form > tbody > tr > td:first-child {
	width: 215px;
}
table.form > tbody > tr > td {
	padding: 10px;
	color: #000000;
	border-bottom: 1px dotted #CCCCCC;
}
table.form > thead > tr > td{
    font-size: 18px;
}
table.form > tbody{
    border-left: 1px dotted #CCCCCC;
    border-bottom: 1px dotted #CCCCCC;
    border-top: 1px dotted #CCCCCC;
    display: table;
    border-right: 1px dotted #CCCCCC;
    margin-bottom: 20px;
    min-width: 430px;
    background-color: #F9F9F9;
}
table.form > tbody > tr > th{
    text-align: left;
}
.scrollbox {
	border: 1px solid #CCCCCC;
	width: 450px;
	height: 240px;
	background: #FFFFFF;
	overflow-y: scroll;
}
.scrollbox img {
	float: right;
	cursor: pointer;
}
.htabs {
	padding: 0px 0px 0px 10px;
	height: 30px;
	line-height: 16px;
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 15px;
    display: table;
}
.htabs a {
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	background: #FFFFFF url('../image/tab.png') repeat-x;
	padding: 7px 15px 6px 15px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #000000;
	margin-right: 2px;
	display: none;
}
.htabs a.selected {
	padding-bottom: 7px;
	/*background: #FFFFFF;*/
    background: #003A88;
    color: white;
}
.vtabs {
	width: 190px;
	padding: 10px 0px;
	min-height: 300px;
	float: left;
	display: block;
	border-right: 1px solid #DDDDDD;
}
.vtabs a {
	display: none;
}
.vtabs a, .vtabs span {
	display: block;
	float: left;
	width: 160px;
	margin-bottom: 5px;
	clear: both;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	background: #F7F7F7;
	padding: 6px 14px 7px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: right;
	text-decoration: none;
	color: #000000;
}
.vtabs a.selected {
	padding-right: 15px;
	background: #FFFFFF;
}
.vtabs a img, .vtabs span img {
	position: relative;
	top: 3px;
	cursor: pointer;
}
.vtabs-content {
	margin-left: 205px;
}
.accordion-heading {
	background: #EFEFEF;
	border: 1px solid #DDDDDD;
	padding: 8px;
	font-weight: bold;
	font-size: 13px;
	color: #555555;
	margin-bottom: 15px;
}
.accordion-heading a {
	float: right;
	margin-top: 1px;
	font-weight: normal;
	text-decoration: none;
}
.accordion-content {
	padding: 0px 0px 15px 0px;
	overflow: auto;
}
.scrollbox div {
	padding: 3px;
}
.scrollbox div input {
	margin: 0px;
	padding: 0px;
	margin-right: 3px;
}
.scrollbox div.even {
	background: #FFFFFF;
}
.scrollbox div.odd {
	background: #E4EEF7;
}
.overview {
	float: left;
	width: 49%;
	margin-bottom: 20px;
}
.overview table {
	width: 100%;
}
.overview td + td {
	text-align: right;
}
.statistic {
	float: right;
	width: 49%;
	margin-bottom: 20px;
}
.range {
	float: right;
	color: #FFF;
	vertical-align: middle;
}
.range {
	padding-top: 1px;
	padding-right: 1px;
}
.range, .range select {
	font-size: 11px;
}
.latest {
	clear: both;
}
.latest tbody td {
	background: #FFF;
}
.dashboard-heading {
	background: #547C96;
	color: #FFF;
	border-bottom: 1px solid #8EAEC3;
	padding: 5px;
	font-size: 14px;
	font-weight: bold;
}
.dashboard-content {
	background: #FCFCFC;
	border: 1px solid #8EAEC3;
	padding: 10px;
	min-height: 180px;
}
.refresh {
	cursor: pointer;
	position: relative;
	top: 3px;
}
#szuro_hozzaad {
}

#szuro_hozzaad option {
    color: black;

}

#szuro_hozzaad option:visited {
    color: red;
}

.kiemel {
    font-weight: bold;
}

/* multiselect */
.ui-multiselect { padding:2px 0 2px 4px; text-align:left }
.ui-multiselect span.ui-icon { float:right }
.ui-multiselect-single .ui-multiselect-checkboxes input { position:absolute !important; top: auto !important; left:-9999px; }
.ui-multiselect-single .ui-multiselect-checkboxes label { padding:5px !important }

.ui-multiselect-header { margin-bottom:3px; padding:3px 0 3px 4px }
.ui-multiselect-header ul { font-size:0.9em }
.ui-multiselect-header ul li { float:left; padding:0 10px 0 0 }
.ui-multiselect-header a { text-decoration:none }
.ui-multiselect-header a:hover { text-decoration:underline }
.ui-multiselect-header span.ui-icon { float:left }
.ui-multiselect-header li.ui-multiselect-close { float:right; text-align:right; padding-right:0 }

.ui-multiselect-menu { display:none; padding:3px; position:absolute; z-index:10000; text-align: left }
.ui-multiselect-checkboxes { position:relative /* fixes bug in IE6/7 */; overflow-y:scroll }
.ui-multiselect-checkboxes label { cursor:default; display:block; border:1px solid transparent; padding:3px 1px }
.ui-multiselect-checkboxes label input { position:relative; top:1px }
.ui-multiselect-checkboxes li { clear:both; font-size:0.9em; padding-right:3px }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { text-align:center; font-weight:bold; border-bottom:1px solid }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { display:block; padding:3px; margin:1px 0; text-decoration:none }

* html .ui-multiselect-checkboxes label { border:none }
/* multiselect vége */

.nyomtat {
    display: block;
    text-align: right;
    margin-top: 7px;
}

.elhelyezkedes {
    width: 140px;
    display: inline-block;
}

.option_kiemelt {
    font-weight: bold;
    background-color: #dddddd;

}

.newslettertr {
    max-height:  180px;
}

.newslettertd {
    max-height:  180px;
    overflow: auto;
    display: block;
    max-width: 200px;
}
.width_szazalek {
    width: 15%;
}
.padding_5 tr td {
    padding: 5px 0 5px 0;

}
.input_multi_readonly {
    margin-left: 40px;
    background-color: #ddd;
}
.kiemelt_jellemzo td:nth-child(2) {
    color: #003366;
    font-weight: 700;
}

.list tbody .csomag {
    color: #008000;
    font-weight: bold;
}

.csoportok {
    margin: 5px 0;
}

.csoportok_nyito {
    width: 98%;
    background: #eeeeee;
    padding: 5px 0 15px 20px;
    cursor: pointer;
}

.csoportok_nyito:hover {
    background: #cccccc;


}

.csoportok_nyito > span {
    padding-right: 2px;
    top: 6px;
    position: relative;
}
.csoport_beallitasok {
    display: none;
    margin: 10px 0 50px 0px;
}
.csoportok_nyito > a{
    float: right;
    margin-right: 5px;
}
.csoport_beallitasok .scrollbox{
    display: table;
    min-width: 700px;
}
.csoport_beallitasok .scrollbox div.even, .csoport_beallitasok .scrollbox div.odd {
    display: table-row;
}

.csoport_beallitasok .scrollbox div > input {
    margin: 3px;
    padding: 0px;
    display: table-cell;
}

.csoport_beallitasok .scrollbox > span {
    display: table-cell;
    padding-right: 20px;
}


.csoport_beallitasok .scrollbox div .sorrend {
    display: table-cell;
}

.csoportok_nyito > a.beillesztes {
    display: none;
}
.csoport_beallitasok > div {
    display: inline-block;
}

.csoport_beallitasok .kijeloles{
    vertical-align: top;
    margin-left: 20px;
}

.csoport_beallitasok .kijeloles span {
    display: table;
    margin-top: 12px;
}


.input_tol_ig {
    position: relative;
    text-decoration: none;
    margin-right: 40px;
}
.active {
    background-color: #aabbb4;
}

.active.bread {
    background-color: transparent;
}

.scrollbox div .sorrend {
    float: right;
}
#export_valaszt_lista {
    display: none;
    position: absolute;
    right: 42px;
    text-align: right;

}
#export_valaszt_lista > span {
    display: block;
    margin-bottom: 10px;
}
.tabla_nev {
    vertical-align: top;
}
.top {
    vertical-align: top;
}
.margin_49 {
    margin-left: 49px;
}
.margin_175 {
    margin-left: 175px;
}
.input_mezo_sorok {
    display: block;
}
.csoport_beallitasok td {
    vertical-align: top;
}
.csv_oszlopok td {
    padding-right: 50px;
    padding-bottom: 4px;

}
.export_import_select {
    position: absolute;
    left: 0px;
    top: 23px;
    display: none;
}
.modell_szuro {
    color: black;
    min-width: 184px;
    padding: 9px;
    border: 1px solid;
    background-color: #eeeeee;
    top: 30px;
}
.export_feltolt_select {
    position: absolute;
    left: 0px;
    top: 23px;
    display: table;
    background-color: #eeeeee;
    border: 1px solid #aaa;
    padding: 10px 10px 16px 13px;
    color: #000000;
}
.import_valaszt {
    padding: 0;
    border: none;
    display: none;

}
.csoportok .csoport_beallitasok .template_neve {
    width: 27%;
    margin-left: 0;
    display: inline-table;
}
.kapcsolodo_model {
    color: rgb(106, 106, 121);
    font-weight: bold;
    font-size: 11px;
}

/* Kiemelt termékek */

.sorok td:nth-child(7) {
    position: relative;
}

.sorok {
    background-color: pink;
}

.sorok td:nth-child(7) a {
    margin-top: 3px;

}

.korhinta_set {
    display: none;
    position:absolute;
    background-color: #EFEFEF;
    border:1px solid #999;
    padding: 15px;
    right: 0;
    z-index: 99;
}

.korhinta_set > div {
    margin-bottom: 5px;
}

.korhinta_set > div:first-child {
    font-weight: bold;
}

.korhinta_set > div > * {
    display: inline-block;
}

/* Kiemelt termékek END */

.required_field{
    position: absolute;
    background: #fff;
    box-shadow: 0px 0px 2px #000;
    padding: 5px;
    display: table;
    left: 50%;
    z-index: 100;
    top: -32px;
}

.required_field::after {
    z-index: 100;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -15px;
    left: 5px;
    box-sizing: border-box;
    border: 8px solid #fff;
    border-color: transparent transparent #fff #fff;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.4);
}

#xml_szamlazz_table tbody{
    display: table;
    width: 100%;
    margin-bottom: 10px;
    border: 1px dotted #CCCCCC;
    padding: 5px;
}
#xml_szamlazz_table tbody:last-child{
    border: 0;
    padding: 0;
    margin-bottom: 0;
}
#xml_szamlazz_table tbody tr td:last-child select,#xml_szamlazz_table tbody tr td:last-child input:not([type='radio']){
    min-width: 160px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    padding: 2px;
    border: 1px solid;
    border-color: rgb(169, 169, 169);
}
#xml_szamlazz_table tbody tr td:last-child select{
    min-width: 166px;
}
#xml_szamlazz_table tbody tr td:last-child{
    text-align: right;
}
#xml_szamlazz_table tbody tr td:first-child{
    text-align: left;
}
#xml_szamlazz_table tbody tr td:last-child textarea{
    padding: 2px;
    width: calc(100% - 4px);
}
.box > .heading .buttons{
    position: relative;
}
#xml_szamlazz_beallitas{
    top: 32px;
    left: 0;
}
select[disabled],input[disabled]
{
    color : #3d3d3d;
    background-color: #DBDBDB;
}
.list .ugyfelek {
    border: 1px solid #ddd;
    background-color: #eee;
    min-width: 600px;
    position: absolute;
    z-index: 1;
    top: 30px;
    right: -80px;
}
.list .ugyfelek  tbody td, .ugyfelek thead td {
    padding: 10px 5px;
    background-color: #eee;

}
.list .kategoria {
    max-width: 200px;
}

.sorthandle {
    position: absolute;
    top:9px;
    left: 2px;
    display: block;
}

.sorthandle img{
    width: 11px;
}
.tartalom {
    position: relative;
    top:-6px;
    text-decoration: none;
    height: 33px;
    cursor: default;
}
.tartalom img {
    width: 37px;
}
.csoportok_nyito span, .csoportok_nyito a {
    cursor: default;
}

.csoportok_nyito a.button {
    cursor: pointer;
}
.nagyitott {
    height: 800px;
    transition: height 0.3s ease-out;
}
.nagyito {
    width: 25px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}
.nagyito:hover {
    border: 1px solid #dddddd;
}
.erkezteto_tajokoztato {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #dddddd;
    padding: 10px;
    font-size: 13px;

}
.fogalom_magyarazo {
    box-sizing: border-box;
    position: absolute;
    min-width: 150px;
    max-width: 300px;
    height: auto;
    background-color: #f1f1f1;
    border: 1px solid #DBDBDB;
    z-index: 10;
    padding: 1px;
}
.fogalom_magyarazo .fogalom_name {
    box-sizing: border-box;
    display: inline-block;
    padding: 6px 0;
    font-weight: 700;
}

.fogalom_fejlec {
    background-color: #ddd;
    padding: 0 4px;
}
.fogalom {
    background-color: #f1f1f1;
    padding: 4px;
    min-height: 50px;

}

.takaro {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 20;
    /*display: none;*/
}

.takaro .wait {
    position: fixed;
    top: 40%;
    left: 48%;
}
.list_ertek {
    cursor: pointer;
    width: 90%;
    min-height: 10px;
    display: block;
}

table.form > tbody > tr > td.non-top-border {
    border-top: none;
}
table.form > tbody > tr > td.non-bottom-border{
    border-bottom: none;
}
table.form > tbody > tr > td.non-left-border{
    border-left: none;
}
table.form > tbody > tr > td.non-right-border{
    border-right: none;
}

table.form > tbody > tr > td.right-border {
    border-right: 1px dotted #CCCCCC;
}
table.form > tbody > tr > td.right {
    text-align: right;
}
.product_list_oszlop, .customer_list_oszlop {
    border: 1px solid #ddd;
    background-color: #fdfdfd;
    position: absolute;
    padding: 0 15px 15px 15px;
    left: 200px;
}
input[readonly], input[readonly="readonly"] {
    background: #dbf1ff;
}

.send {
    padding: 10px;
    /*background-color: #0E5381;
    color: #ffffff;*/
    font-size: 13px;

}
.send .heading {
    margin: 3px 0 5px 0;
    font-size: 14px;
}