<?php if ($modules) { ?>
    <div class="contenttop" style="width: auto; text-align: center;">
        <div id="content-top">
            <?php foreach ($modules as $module) { ?>
                <?php echo $module; ?>
            <?php } ?>
        </div>
    </div>
<?php } ?>

