<?php if (isset($this->session->data['feltolto']) && $this->session->data['feltolto'] == 1) { ?>
    <div class="cart" style="margin-right: 10px; vertical-align: bottom;">
            <?php $csomagolasi_mennyiseg = $csomagolasi_mennyiseg > 1 ? $csomagolasi_mennyiseg : 1; ?>
            <input type="button" class="arajanlat_keszites" value="<?php echo $button_arajanlat_keszites; ?>"
                   onclick="arajanlatKeszites('<?php echo $product_id; ?>',
                       $('#product-quantity_<?php echo $product_id; ?>').val()*<? echo $csomagolasi_mennyiseg?>,
                       '<?php echo $this->config->get('config_template')?>',
                       '<?php echo $module_name.$product_id?>',
                       true)" />
    </div>
<?php }  ?>
