<?php if (!$elorendeles && $mutat_arat && !$megrendelem) { ?>
    <input class="mennyit_vasarol" type="text"  id="product-quantity_<?php echo $product_id; ?>" name="quantity" size="2" value="<?php echo $minimum; ?>" />
<?php } ?>

    <?php if (isset($option['type']) && $option['type'] == 'checkbox_qty') { ?>
        <script type="text/javascript">
            $('.price_nemkell, .price-panel').hide();
            $('input[name=quantity]').hide();
        </script>
    <?php } ?>