<div id="hitel_lehetoseg">
    <a class="infofancy fancybox.ajax"
       href="<?php echo $this->url->link('information/information/info', 'information_id=' . $beallitas_termek_aloldal['informacios_id_1']);?>"
       alt="<?php echo $informaciok1; ?>">
            <?php echo $informaciok1 ?>
    </a>
</div>