<div id="szallitasi_infok">
    <a class="infofancy fancybox.ajax"
       href="<?php echo $this->url->link('information/information/info', 'information_id=' . $beallitas_termek_aloldal['informacios_id_3']);?>"
       alt="<?php echo $informaciok4; ?>">
        <?php echo $informaciok4; ?>
    </a>
</div>