<div id="fizetesi_modok">
    <a class="infofancy fancybox.ajax"
       href="<?php echo $this->url->link('information/information/info', 'information_id=' . $beallitas_termek_aloldal['informacios_id_4']);?>"
       alt="<?php echo $informaciok5; ?>">
        <?php echo $informaciok5 ?>
    </a>
</div>