<div id="csomag_ajanlat">
    <?php if(isset($packages)) { ?>
        <a class="scroll" href="#package_fejlec"><?php echo $informaciok2 ?></a>
    <?php } else { ?>
        <a class="infofancy fancybox.ajax" href="<?php echo $this->url->link('information/information/info',                     'information_id=' . $beallitas_termek_aloldal['informacios_id_2']);?>" alt="<?php echo $informaciok2; ?>"><?php echo $informaciok2 ?></a>
    <?php } ?>
</div>