<h1 class="product_title">

    <?php if (isset($beallitas_termek_aloldal['model'])) { ?>
        <span class="model"><?php echo $model;?></span> <?php echo " - ";?>
    <?php }?>

    <?php if (isset($beallitas_termek_aloldal['cikkszam'])) { ?>
        <span class="model"><?php echo $cikkszam;?></span> <?php echo " - ";?>
    <?php }?>

    <?php if (isset($beallitas_termek_aloldal['manufacturer'])) { ?>
        <span class="manufacturer"><?php echo $manufacturer;?></span> <?php echo " - ";?>
    <?php }?>

    <?php echo $heading_title; ?>

</h1>
