<?php if (isset($termekadatok['megjelenit_product_model']) && !empty($termekadatok['megjelenit_product_model'])) { ?>
    <div class="termekadatok termekadatok-modell" >
        <span class="termekadatok-modell-szoveg"><?php echo $termekadatok['megjelenit_product_model']['text_name']; ?></span>
        <span class="termekadatok-modell-ertek"><?php echo $termekadatok['megjelenit_product_model']['value']; ?></span>
    </div>
<?php } ?>