<?php if (isset($termekadatok['megjelenit_product_kaphato']) && !empty($termekadatok['megjelenit_product_kaphato'])) { ?>
    <div class="termekadatok termekadatok-kaphato" >
        <span class="termekadatok-kaphato-szoveg"><?php echo $termekadatok['megjelenit_product_kaphato']['text_name']; ?></span>
        <span class="termekadatok-kaphato-ertek"><?php echo $termekadatok['megjelenit_product_kaphato']['value']; ?></span>
    </div>
<?php } ?>