<?php if (isset($termekadatok['megjelenit_product_cikkszam2']) && !empty($termekadatok['megjelenit_product_cikkszam2'])) { ?>
    <div class="termekadatok termekadatok-cikkszam2" >
        <span class="termekadatok-cikkszam2-szoveg"><?php echo $termekadatok['megjelenit_product_cikkszam2']['text_name']; ?></span>
        <span class="termekadatok-cikkszam2-ertek"><?php echo $termekadatok['megjelenit_product_cikkszam2']['value']; ?></span>
    </div>
<?php } ?>