<div class="velemeny">
    <div>
        <?php if(isset($beallitas_termek_aloldal['no_pic_star']) && $beallitas_termek_aloldal['no_pic_star']) { ?>
            <?php $counter = 0; $upper = true; for($i = 0; $i<5; $i++) {
                    if($counter == $rating) {
                        echo "<span class='star-trick'>&#9734;</span>";
                        $upper = false;
                    } else {
                        echo "<span class='star-trick' style='color: #dd7200;'>&#9733;</span>";
                    }
                    if($upper) {
                        $counter++;
                    }
                  }
            ?>
        <?php } else { ?>
        <img src="catalog/view/theme/default/image/stars-<?php echo $rating; ?>.png" alt="<?php echo $reviews; ?>" />&nbsp;&nbsp;
        <?php } ?>
        <a onclick="$('a[href=\'#tab-review\']').trigger('click'); $('html, body').animate({ scrollTop: $('#tabs').offset().top }, 1000);"><?php echo $reviews; ?></a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a onclick="$('a[href=\'#tab-review\']').trigger('click'); $('html, body').animate({ scrollTop: $('#tabs').offset().top }, 1000);"><?php echo $text_write; ?></a>
    </div>
</div>