<p>
    <style type="text/css">html, body { height:100%; }
    body {
        font-size: 16px;
        font-family: Helvetica, Arial, sans-serif;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom center;
    }
    h1 {
        background-color: #0086BA;
        color: white;
        font-size: 2em;
        padding: 1em;
        margin:0;
        text-align: center;
        text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);

    }
    h2 {
        background-color: #F9BA16;
        color: white;
        font-size: 1.5em;
        padding: 1em;
        margin:0;
        text-align: center;
        text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
    }

    h3 {
        font-size: 1.4em;
        padding: 1em 1em 0em 1em;
        text-align: center;
        color: #0086BA;
        border-bottom: 1px solid #F9BA16;
    }
    h4 {
        font-size: 1em;
        padding: 1em 1em 0em 1em;
        text-align: center;
        color: red;
    }
    #canvas {
        width: 100%;
        height: auto;
    }
    .cta-box {
        width: 30%;
        height: auto;
        /*
        position: absolute;
        top: 50px;
        right: 200px;
        */
        margin: 60px auto;
    }
    .cta-box a {
        text-decoration: none;
    }
    .cta {
        background: #FBBC15;
        background-image: -webkit-linear-gradient(top, #FBBC15, #eb9412);
        background-image: -moz-linear-gradient(top, #FBBC15, #eb9412);
        background-image: -ms-linear-gradient(top, #FBBC15, #eb9412);
        background-image: -o-linear-gradient(top, #FBBC15, #eb9412);
        background-image: linear-gradient(to bottom, #FBBC15, #eb9412);
        -webkit-border-radius: 60;
        -moz-border-radius: 60;
        border-radius: 60px;
        -webkit-box-shadow: 0px 2px 13px #666666;
        -moz-box-shadow: 0px 2px 13px #666666;
        box-shadow: 0px 2px 13px #666666;
        color: #ffffff;
        font-size: 4em;
        padding: 20px 30px 20px 30px;
        border: solid #ffffff 7px;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
    }
    .cta:hover {
        background: #fa6617;
        background-image: -webkit-linear-gradient(top, #fa6617, #fa2617);
        background-image: -moz-linear-gradient(top, #fa6617, #fa2617);
        background-image: -ms-linear-gradient(top, #fa6617, #fa2617);
        background-image: -o-linear-gradient(top, #fa6617, #fa2617);
        background-image: linear-gradient(to bottom, #fa6617, #fa2617);
        text-decoration: none;
    }
    .felhivas {
        width: 225px;
        height: 150px;
        background: url('/facebook/img/nyeremenyjatek_folyamatban.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        /*position: absolute;
        bottom: 200px;
        left: 100px;*/
        margin: 10px 0 0 100px;
        -ms-transform: rotate(-10deg);
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
        -webkit-box-shadow: 0px 2px 6px #000000;
        -moz-box-shadow: 0px 2px 6px #000000;
        box-shadow: 0px 2px 6px #000000;
    }
    .felhivas:hover {
        -ms-transform: rotate(-10deg) scale(1.5);
        -webkit-transform: rotate(-10deg) scale(1.5);
        transform: rotate(-10deg);
        -webkit-transition: 0.3s;
        transition: 0.3s;
        transition-timing-function: ease-in-out;
    }
    .tovabb.button {
        margin:0 auto;
        cursor: pointer;
        padding: 20px 40px;
        width:300px;
        font-size: 19px; color: rgb(255, 255, 255);
        line-height: 0;
        font-family: Verdana, sans-serif;
        font-weight: bold;
        box-shadow: rgb(102, 102, 102) 0px 2px 2px;
        transition: color 350ms ease-in-out, background-color 350ms ease-in-out;
        border: 0px;
        /*height: 30px;*/
        width: auto;
        background: rgb(27, 131, 190);
        display: block;
    }
    .uppercase{
        font-size: 2em;
        text-align: center;
        font-weight: bold;
    }
    .lowercase{
        font-size: 2em;
        text-align: center;
    }
    .keszulj-okosan{
        float: right;
        width: 30%;
        margin: 0em 1em 1em 1em;
    }
    .mit-kell-tenned{
        float: left;
        width: 30%;
        margin: 0em 1em 1em 1em;
    }
    .wifi-modul{
        float: right;
        width: 30%;
        margin: 0em 1em 1em 1em;
    }
    .clear{
        clear: both;
    }
    @media screen and (max-width: 600px) {
        .keszulj-okosan{
            float: none;
            width: 90%;
        }
        .mit-kell-tenned{
            float: none;
            width: 90%;
        }
        .wifi-modul{
            float: none;
            width: 90%;
        }
    }
    </style>
    <!-- Google Code for Teljes regisztr&aacute;ci&oacute; Conversion Page --><script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 958986078;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "xwajCPitvmgQ3u6jyQM";
    var google_remarketing_only = false;
    /* ]]> */
</script><script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script><noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/958986078/?label=xwajCPitvmgQ3u6jyQM&amp;guid=ON&amp;script=0"/>
    </div>
</noscript><script type="text/javascript">
    window.fbAsyncInit = function()
    {
        FB.Canvas.setSize();
    }
</script></p>

<div id="canvas">
    <h1>Hogyan juthatsz hozz&aacute; egy 1,2 milli&oacute; Ft &eacute;rt&eacute;kű napelem rendszerhez ingyen?</h1>

    <h2>Solarni sustavi su obično vrlo skupe investicije….</h2>

    <p>Egy &aacute;tlagos csal&aacute;di h&aacute;zhoz sz&uuml;ks&eacute;ges <strong>napelem rendszer t&ouml;bb mint 1 milli&oacute; forintba ker&uuml;l,</strong> a fogyaszt&aacute;s n&ouml;veked&eacute;s&eacute;vel pedig egyre dr&aacute;g&aacute;bb. &Eacute;pp ez&eacute;rt csak kev&eacute;s ember engedheti meg mag&aacute;nak, hogy napenergi&aacute;t haszn&aacute;ljon otthon&aacute;ban.</p>

    <h3><strong>K&eacute;sz&uuml;lj okosan a p&aacute;ly&aacute;zatokra</strong></h3>
    <img alt="" class="keszulj-okosan" src="https://webshop.eu-solar.hu/image/data/eu_solar/keszulj-okosan.jpg" />
    <p>Szerencs&eacute;re <strong>van es&eacute;ly arra, hogy p&aacute;ly&aacute;zati forr&aacute;s seg&iacute;ts&eacute;g&eacute;vel telep&iacute;thess napelemet.</strong></p>

    <p>Jelenleg nincs ilyen p&aacute;ly&aacute;zat, de a ki&iacute;r&aacute;sok b&aacute;rmikor v&aacute;ltozhatnak. Ez&eacute;rt b&iacute;zzunk benne, hogy az idei &eacute;v elej&eacute;n m&aacute;r meghirdetnek olyat, amely forr&aacute;st biztos&iacute;that az otthoni napelem rendszeredhez.<br />
        Ne agg&oacute;dj azon, hogy nem tudod pontosan a p&aacute;ly&aacute;zatok időpontj&aacute;t! Ez m&aacute;r csak akkor sz&aacute;m&iacute;t, amikor a bead&aacute;si hat&aacute;ridőket be kell tartani. <strong>Jelenleg csup&aacute;n egy picit előre kell gondolkodnod.</strong> Elmondjuk mi&eacute;rt: Amennyiben ki&iacute;rnak egy p&aacute;ly&aacute;zatot, a lakoss&aacute;gi ig&eacute;ny hirtelen megnő a napelem rendszerekre. A rengeteg ig&eacute;nybeny&uacute;jt&aacute;st a napelemmel foglalkoz&oacute; c&eacute;gek &eacute;s a szolg&aacute;ltat&oacute; nem fogj&aacute;k győzni, ez&eacute;rt <strong>hamar kialakulnak a v&aacute;r&oacute;list&aacute;k.</strong> Ilyen esetben szinte bor&iacute;t&eacute;kolhat&oacute;, hogy lemaradsz a p&aacute;ly&aacute;zatr&oacute;l. Erre bizony&iacute;t&eacute;k a legutols&oacute; ki&iacute;rt p&aacute;ly&aacute;zat, amely 2011. augusztus 15-&eacute;n jelent meg a lakoss&aacute;g r&eacute;sz&eacute;re. Ezt k&eacute;t nap m&uacute;lva le is z&aacute;rt&aacute;k. Csup&aacute;n 3-400 csal&aacute;di h&aacute;zra volt elegendő a keret.</p>

    <div class="clear">&nbsp;</div>

    <h3><strong>Mit kell tenned?</strong></h3>
    <img alt="" class="mit-kell-tenned" src="https://webshop.eu-solar.hu/image/data/eu_solar/mit-kell-tenned.jpg" />
    <p>Egy biztos:</p>

    <p><span class="uppercase">ENGED&Eacute;LYEZTET&Eacute;SI TERVVEL KELL RENDELKEZNED</span></p>

    <p>Egy ilyen enged&eacute;lyeztet&eacute;si terv elk&eacute;sz&uuml;l&eacute;se 2 h&oacute;napig is eltarthat. A p&aacute;ly&aacute;zatok azonban hamar lez&aacute;rulnak&hellip;</p>

    <p><span class="lowercase">Egyetlen dologgal tudod bebiztos&iacute;tani magad: ha m&aacute;r MOST rendelsz egy enged&eacute;lyeztet&eacute;si tervet.</span> A terv nem &eacute;v&uuml;l el (kiv&eacute;ve Elmű-&Eacute;M&Aacute;SZ eset&eacute;ben - de ott is 1 &eacute;vig &eacute;rv&eacute;nyes), ez&eacute;rt nem kell agg&oacute;dnod, hogy mikor &iacute;rj&aacute;k ki a p&aacute;ly&aacute;zatot.</p>

    <div class="clear">&nbsp;</div>

    <h3><strong>Terveztess, hogy nyerhess</strong></h3>
    <img alt="" class="wifi-modul" src="https://webshop.eu-solar.hu/image/data/eu_solar/wifi-modul.jpg" />
    <p>Id&eacute;n m&aacute;r 350 sikeres enged&eacute;lyeztet&eacute;si tervet elk&eacute;sz&iacute;tett&uuml;nk, valamint mindh&aacute;rom nagy &aacute;ramszolg&aacute;ltat&oacute;val (E.ON, Elmű-&Eacute;M&Aacute;SZ, EDF D&Eacute;M&Aacute;SZ) kapcsolatban &aacute;llunk. <strong>N&aacute;lunk a legjobb helyen vagy!</strong></p>

    <p>Az enged&eacute;lyeztet&eacute;si tervben tulajdonk&eacute;ppen megtervezz&uuml;k a h&aacute;zadhoz illő rendszert.</p>

    <p>Nem kell agg&oacute;dnod, hogy a tervet visszautas&iacute;tj&aacute;k, m&eacute;ghozz&aacute; k&eacute;t okb&oacute;l:</p>

    <ol>
        <li>Soha nem t&ouml;rt&eacute;nt m&eacute;g olyan, hogy a mi enged&eacute;lyeztet&eacute;si terv&uuml;nket visszautas&iacute;tott&aacute;k.</li>
        <li>A terv fel&uuml;lvizsg&aacute;l&oacute; szervezetnek is az a c&eacute;lja, hogy min&eacute;l t&ouml;bb otthonba napelemek ker&uuml;ljenek.</li>
    </ol>

    <p>Rendeld meg MOST a tervet, &iacute;gy r&eacute;szt tudsz venni <strong>NYEREM&Eacute;NYJ&Aacute;T&Eacute;KUNKON</strong> is, ahol egy 2 kW-os (1,2 milli&oacute; forint &eacute;rt&eacute;kű) napelem rendszert nyerhetsz!</p>

    <p>Ha MOST megrendeled az enged&eacute;lyeztet&eacute;si tervet, egyedi akci&oacute; v&aacute;r R&aacute;d:</p>

    <h4>120.650 Ft-os &aacute;r helyett <span style="font-size:2.5em;">63.500 Ft</span>-&eacute;rt ig&eacute;nyelhetsz enged&eacute;lyeztet&eacute;si tervet.</h4>

    <p>Rendeld meg m&eacute;g időben! 100%-os p&eacute;nzvisszafizet&eacute;si garanci&aacute;t v&aacute;llalunk arra az esetre, ha az enged&eacute;lyeztet&eacute;s nem siker&uuml;l.<br />
        <strong>T&ouml;ltsd ki a megrendelő lapot adataiddal, &eacute;s k&uuml;ldd el nek&uuml;nk az enged&eacute;lyeztet&eacute;si terved ig&eacute;nyl&eacute;s&eacute;t!</strong></p>

    <p><strong>Adj es&eacute;lyt magadnak, hogy &ouml;r&ouml;kre elfelejthesd villanysz&aacute;ml&aacute;d!</strong></p>

    <center>
        <div class="product_sor_1 prod_center " style="margin: 0px; padding: 0px; font-size: 0px; box-sizing: border-box; color: rgb(88, 88, 88); font-family: Arial;">
            <div class="product_oszlop_1_1 short_desc " style="margin: 0px; padding: 0px; font-size: 12px; max-width: 660px; vertical-align: top; display: inline-block;">
                <div class="product_sor_1_1_2 valasztek-panel " style="margin: 0px; padding: 0px; text-align:center;">&nbsp;<a href="http://www.eu-solar.hu/jatekszabalyzat-nyerj-egy-teljesen-ingyenes-napelem-rendszert-otthonodba/" target="_blank">J&aacute;t&eacute;kszab&aacute;lyzat</a> | <a href="http://www.eu-solar.hu/adatvedelmi-nyilatkozat/" target="_blank">Adatv&eacute;delmi nyilatkozat</a></div>

                <div class="product_sor_1_1_3 kosar_sor " style="padding: 0px; text-align: right; font-size: 0px; margin: 0px !important;">&nbsp;</div>

                <div class="product_sor_1_1_4 kosar_sor " style="margin: 0px; padding: 0px; text-align: right; font-size: 0px;">&nbsp;</div>
            </div>
        </div>

        <div class="product_sor_4 szocialis " style="margin: 0px 0px 10px; padding: 0px; font-size: 0px; min-height: 39px; color: rgb(88, 88, 88); font-family: Arial;">
            <div class="product_oszlop_4_0  " style="margin: 7px 0px 0px; padding: 0px; font-size: 12px; max-width: 550px; display: inline-block; vertical-align: top;">&nbsp;</div>
            &nbsp;

            <div class="product_oszlop_4_1  " style="margin: 0px; padding: 0px; font-size: 12px; max-width: 550px; display: inline-block;">
                <div class="product_sor_4_1_0  " style="margin: 0px; padding: 0px;">
                    <div class="addthis" style="margin: 0px 0px 0px auto; padding: 0px; display: table;">
                        <div class="addthis_sharing_toolbox" data-title="Kivitelezés, tervezés" data-url="http://eu.somaweb.eu/index.php?route=product/product&amp;product_id=12220" style="margin: 0px; padding: 0px;">
                            <div class="at-share-tbx-element addthis_32x32_style addthis-smartlayers addthis-animated at4-show" id="atstbx" style="margin: 0px; padding: 0px; animation-fill-mode: both; animation-duration: 1s; opacity: 1 !important;">&nbsp;</div>

                            <div class="at-share-tbx-element addthis_32x32_style addthis-smartlayers addthis-animated at4-show" id="atstbx" style="margin: 0px; padding: 0px; animation-fill-mode: both; animation-duration: 1s; opacity: 1 !important;"><a class="tovabb button" href="http://webshop.eu-solar.hu/index.php?route=module/erkezteto_oldal&amp;oldal=3" target="_blank">Megrendelem</a></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product_sor_10  " style="margin: 0px; padding: 0px; color: rgb(88, 88, 88); font-family: Arial; font-size: 13px;">&nbsp;</div>
        </div>
    </center>

    <p>&nbsp;</p>
</div>

<p>&nbsp;</p>
<!-- Google Code for Kalkul&aacute;tor k&ouml;sz&ouml;n&#337; - sales oldalra jutott Conversion Page --><script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 988450214;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "zxRmCMjrs2YQppuq1wM";
    var google_remarketing_only = false;
    /* ]]> */
</script><script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script><noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/988450214/?label=zxRmCMjrs2YQppuq1wM&amp;guid=ON&amp;script=0"/>
    </div>
</noscript><!-- Facebook Pixel Code --><script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
        n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
            document,'script','https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '540221186132456');
    fbq('track', "PageView");</script><noscript><img height="1" width="1" style="display:none"
                                                     src="https://www.facebook.com/tr?id=540221186132456&ev=PageView&noscript=1"
        /></noscript><!-- End Facebook Pixel Code -->