<form method="post" action="<?php echo $utvonal;?>" >
    <script type="text/javascript">
        $("#reg").click(function () {
            $("#regisztralt").toggle(this.checked);
        });
        function regisztraltUgyfelId() {
            $("#otp_fizetes").html('<label for="regisztraltUgyfelId" >Regisztrált ügyfél azonositó: </label><input type="text" name="regisztraltUgyfelId" value="" size="40" maxlength="64" class="text"/>');
        }

    </script>
       <!-- <label for="reg">(VbV/MSC) szo0lgáltatás használata:</label>
        <input id="reg" type="checkbox" name="reg" value="Reg" />-->
        <input type="hidden" name="tranzakcioAzonosito" size="40" maxlength="32" class="text"/>
    <!--<input type="hidden" name="posId" value="02202720" size="40" maxlength="15" class="text"/>
    <input type="hidden" name="posId" value="#02299991" size="40" maxlength="15" class="text"/>-->
        <input type="hidden" name="posId" value="<?php echo $this->config->get('otp_privkey')?>"  class="text"/>
        <input type="hidden" name="osszeg" value="<?php echo $amt; ?>" size="15" maxlength="10" class="text"/>
        <input type="hidden" name="devizanem" value="<?php echo (!empty($this->session->data['currency'])) ? $this->session->data['currency'] : 'HUF'; ?>" size="5" maxlength="3" class="text"/>
        <input type="hidden" name="nyelvkod" value="<?php echo (!empty($this->session->data['language'])) ? $this->session->data['language'] : 'hu'; ?>" size="5" maxlength="2" class="text"/>
        <input type="hidden" name="nevKell" value="true" checked="checked" class="check"/>
        <input type="hidden" name="shopMegjegyzes" value="" size="40"  class="text"/>
        <!--<input type="hidden" name="shopMegjegyzes" value="<?php echo iconv("UTF-8", "ISO-8859-2", 'Otp bankkártyás vásárlás');?>" size="40"  class="text"/>-->
        <input type="hidden" name="haromszereplos" value="<?php echo $this->config->get('otp_haromszereplos')?>" />
        <input type="hidden" name="webshop_client" value="<?php echo $this->config->get('otp_webshop_client')?>"/>

        <input type="hidden" name="backURL" value="<?php echo $utvonal?>" size="40"  class="text"/>

        <input type="hidden" name="vevoVisszaigazolasKell" value="false" checked="checked" class="check"/>
    <div id="regisztralt" style="display: none;">
        <label for="regisztraltUgyfelId" >Regisztrált ügyfél azonositó: </label><input type="text" name="regisztraltUgyfelId" value="" size="40" maxlength="64" class="text"/>
    </div>
    <div class="buttons">
        <div class="right"><input type="hidden" name="func" value="fiz3"/>
            <input type="submit" name="ok" value="<?php echo $button_confirm; ?>" class="button" id="otp_fizetes"/>
            <!--<input type="button" name="ok" value="<?php echo $button_confirm; ?>" class="button" id="otp_fizetes"/>-->
        </div>
    </div>
</form>
<div class="otp_cards">
    <img src="image/otp_logo.jpg" alt="cards" style="width: 300px"/>
</div>
<div class="otp_description">
    <?php echo $otp_description; ?>
</div>
<script>
    /*$('#otp_fizetes').bind('click',function(){
        $.ajax({
            url: 'index.php?route=checkout/guest_history',
            type: 'post',
            data: 'Megrendelem=Tovább',
            dataType: 'html',

            success: function(json) {
                $('form').submit();

            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });*/
</script>