<?php echo $header; ?>
    <div class="breadcrumb">
        <?php $elemszam=count($breadcrumbs);
        $i=0;
        foreach ($breadcrumbs as $breadcrumb) { $i++;
            if ($i==$elemszam) { ?>
                <? echo $breadcrumb['separator']; ?><a class="utolsobread" href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
            <? } else {
                echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
            <? }
        } ?>
    </div>
<?php echo $column_left; ?><?php echo $column_right; ?>
<div id="content"><?php echo $content_top; ?>

  <h1><?php echo $heading_title; ?></h1>
  <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data">
    <h2><?php echo $text_edit_address; ?></h2>
    <div class="content">
        <table class="form">
            <?php if (($this->config->get('megjelenit_regisztracio_vezeteknev') == 1 && $ceges == 0) || ($this->config->get('megjelenit_regisztracio_ceges_vezeteknev') == 1 && $ceges == 1 )) {?>
                <tr>
                    <td><span class="required">*</span> <?php echo $entry_firstname; ?></td>
                    <td><input type="text" name="firstname" value="<?php echo $firstname; ?>" />
                        <?php if ($error_firstname) { ?>
                            <span class="error"><?php echo $error_firstname; ?></span>
                        <?php } ?></td>
                </tr>
            <?php } ?>
            <?php if (($this->config->get('megjelenit_regisztracio_keresztnev') == 1 && $ceges == 0) || ($this->config->get('megjelenit_regisztracio_ceges_keresztnev') == 1 && $ceges == 1 )) {?>
                <tr>
                    <td><span class="required">*</span> <?php echo $entry_lastname; ?></td>
                    <td><input type="text" name="lastname" value="<?php echo $lastname; ?>" />
                        <?php if ($error_lastname) { ?>
                            <span class="error"><?php echo $error_lastname; ?></span>
                        <?php } ?>
                    </td>
                </tr>
            <?php } ?>
        <?php if ( ($this->config->get('megjelenit_regisztracio_cimadat_cegnev') == 1 && $ceges == 0) || ($this->config->get('megjelenit_regisztracio_ceges_cimadat_cegnev') == 1 && $ceges == 1) ) {?>
            <tr>
                <td><?php echo $entry_company; ?></td>
                <td><input type="text" name="company" value="<?php echo $company; ?>" /></td>
            </tr>
        <?php } ?>
        <?php if ( ($this->config->get('megjelenit_regisztracio_vallalkozasi_forma') == 1 && $ceges == 0)  || ($this->config->get('megjelenit_regisztracio_ceges_vallalkozasi_forma') == 1 && $ceges == 1) ) {?>
            <tr>
                <td><?php echo $entry_vallalkozasi_forma; ?></td>
                <td><input type="text" name="vallalkozasi_forma" value="<?php echo $vallalkozasi_forma; ?>" /></td>
            </tr>
        <?php } ?>
        <?php if ( ($this->config->get('megjelenit_regisztracio_szekhely') == 1 && $ceges == 0 ) || ($this->config->get('megjelenit_regisztracio_ceges_szekhely') == 1 && $ceges == 1 ) ) {?>
            <tr>
                <td><?php echo $entry_szekhely; ?></td>
                <td><input type="text" name="szekhely" value="<?php echo $szekhely; ?>" /></td>
            </tr>
        <?php } ?>
        <?php if ( ($this->config->get('megjelenit_regisztracio_ugyvezeto_neve') == 1 && $ceges == 0 ) || ($this->config->get('megjelenit_regisztracio_ceges_ugyvezeto_neve') == 1 && $ceges == 1 ) ) {?>
            <tr>
                <td><?php echo $entry_ugyvezeto_neve; ?></td>
                <td><input type="text" name="ugyvezeto_neve" value="<?php echo $ugyvezeto_neve; ?>" /></td>
            </tr>
        <?php } ?>
        <?php if ( ($this->config->get('megjelenit_regisztracio_ugyvezeto_telefonszama') == 1 && $ceges == 0) || ($this->config->get('megjelenit_regisztracio_ceges_ugyvezeto_telefonszama') == 1 && $ceges == 1) ) {?>
            <tr>
                <td><?php echo $entry_ugyvezeto_telefonszama; ?></td>
                <td><input type="text" name="ugyvezeto_telefonszama" value="<?php echo $ugyvezeto_telefonszama; ?>" /></td>
            </tr>
        <?php } ?>
        <?php if ( ($this->config->get('megjelenit_regisztracio_adoszam') == 1 && $ceges == 0) || ($this->config->get('megjelenit_regisztracio_ceges_adoszam') == 1 && $ceges == 1) ) {?>
            <tr>
                <td><?php echo $entry_adoszam; ?></td>
                <td><input type="text" name="adoszam" value="<?php echo $adoszam; ?>" /></td>
            </tr>
        <?php } ?>
        <?php if ( ($this->config->get('megjelenit_regisztracio_utca') == 1 && $ceges == 0) || ($this->config->get('megjelenit_regisztracio_ceges_utca') == 1 && $ceges == 1) ) {?>
            <tr>
                <td><span class="required">*</span> <?php echo $entry_address_1; ?></td>
                <td><input type="text" name="address_1" value="<?php echo $address_1; ?>" />
                    <?php if ($error_address_1) { ?>
                        <span class="error"><?php echo $error_address_1; ?></span>
                    <?php } ?></td>
            </tr>
        <?php } ?>
        <?php if ( ($this->config->get('megjelenit_regisztracio_cimadat_kiegeszito') == 1 && $ceges == 0) || ($this->config->get('megjelenit_regisztracio_ceges_cimadat_kiegeszito') == 1 && $ceges == 1) ) {?>
            <tr>
                <td><?php echo $entry_address_2; ?></td>
                <td><input type="text" name="address_2" value="<?php echo $address_2; ?>" /></td>
            </tr>
        <?php } ?>
        <?php if ( ($this->config->get('megjelenit_regisztracio_varos') == 1 && $ceges == 0) || ($this->config->get('megjelenit_regisztracio_ceges_varos') == 1 && $ceges == 1) ) {?>
            <tr>
                <td><span class="required">*</span> <?php echo $entry_city; ?></td>
                <td><input type="text" name="city" value="<?php echo $city; ?>" />
                    <?php if ($error_city) { ?>
                        <span class="error"><?php echo $error_city; ?></span>
                    <?php } ?></td>
            </tr>
        <?php } ?>
        <?php if ( ($this->config->get('megjelenit_regisztracio_iranyitoszam') == 1 && $ceges == 0) || ($this->config->get('megjelenit_regisztracio_ceges_iranyitoszam') == 1 && $ceges == 1) ) {?>
            <tr>
                <td><span class="required">*</span> <?php echo $entry_postcode; ?></td>
                <td><input type="text" name="postcode" value="<?php echo $postcode; ?>" />
                    <?php if ($error_postcode) { ?>
                        <span class="error"><?php echo $error_postcode; ?></span>
                    <?php } ?></td>
            </tr>
        <?php } ?>
        <?php if ( ($this->config->get('megjelenit_regisztracio_orszag') == 1 && $ceges == 0) || ($this->config->get('megjelenit_regisztracio_ceges_orszag') == 1 && $ceges == 1) ) {?>
            <tr>
                <td><span class="required">*</span> <?php echo $entry_country; ?></td>
                <td><select name="country_id" onchange="$('select[name=\'zone_id\']').load('index.php?route=account/register/zone&country_id=' + this.value + '&zone_id=<?php echo $zone_id; ?>');">
                        <option value=""><?php echo $text_select; ?></option>
                        <?php foreach ($countries as $country) { ?>
                            <?php if ($country['country_id'] == $country_id) { ?>
                                <option value="<?php echo $country['country_id']; ?>" selected="selected"><?php echo $country['name']; ?></option>
                            <?php } else { ?>
                                <option value="<?php echo $country['country_id']; ?>"><?php echo $country['name']; ?></option>
                            <?php } ?>
                        <?php } ?>
                    </select>
                    <?php if ($error_country) { ?>
                        <span class="error"><?php echo $error_country; ?></span>
                    <?php } ?>
                </td>
            </tr>
        <?php } ?>
        <?php if ( ($this->config->get('megjelenit_regisztracio_megye') == 1 && $ceges == 0) || ($this->config->get('megjelenit_regisztracio_ceges_megye') == 1 && $ceges == 1) ) {?>
            <tr>
                <td><span class="required">*</span> <?php echo $entry_zone; ?></td>
                <td><select name="zone_id">
                    </select>
                    <?php if ($error_zone) { ?>
                        <span class="error"><?php echo $error_zone; ?></span>
                    <?php } ?></td>
            </tr>
        <?php } ?>
        <tr>
          <td><?php echo $entry_default; ?></td>
          <td><?php if ($default) { ?>
            <input type="radio" name="default" value="1" checked="checked" />
            <?php echo $text_yes; ?>
            <input type="radio" name="default" value="0" />
            <?php echo $text_no; ?>
            <?php } else { ?>
            <input type="radio" name="default" value="1" />
            <?php echo $text_yes; ?>
            <input type="radio" name="default" value="0" checked="checked" />
            <?php echo $text_no; ?>
            <?php } ?></td>
        </tr>
      </table>
    </div>
    <div class="buttons">
      <div class="left"><a href="<?php echo $back; ?>" class="button"><?php echo $button_back; ?></a></div>
      <div class="right"><input type="submit" value="<?php echo $button_continue; ?>" class="button" /></div>
    </div>
  </form>
  <?php echo $content_bottom; ?></div>
<script type="text/javascript"><!--
$('select[name=\'zone_id\']').load('index.php?route=account/address/zone&country_id=<?php echo $country_id; ?>&zone_id=<?php echo $zone_id; ?>');
//--></script> 
<?php echo $footer; ?>