<?php echo $header; ?>


    <div class="breadcrumb">
        <?php foreach ($breadcrumbs as $breadcrumb) { ?>
            <?php echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
        <?php } ?>
    </div>

<?php echo $column_left; ?><?php echo $column_right; ?>
<div id="content"><?php echo $content_top; ?>

    <div class="account-heading">
        <h1><img src="catalog/view/theme/default/image/product.png" alt="" /> <?php echo $heading_title; ?></h1>
        <div class="nyomtat">
            <a onclick="JelentesNyomtat();" class="button"><?php echo $button_nyomtatas; ?></a>
            <a href='<?php echo $csv_be; ?>' class="button"><?php echo $button_exportalas; ?></a>
        </div>
    </div>

    <div class="">
        <table class="form">
            <tr>
                <td><?php echo $entry_date_start; ?>
                    <input type="text" name="filter_date_start" value="<?php echo $filter_date_start; ?>" id="date-start" size="8" /></td>
                <td><?php echo $entry_date_end; ?>
                    <input type="text" name="filter_date_end" value="<?php echo $filter_date_end; ?>" id="date-end" size="8" /></td>
                <td><?php echo $entry_status; ?>
                    <select name="filter_order_status_id">
                        <option value="0"><?php echo $text_all_status; ?></option>
                        <?php foreach ($order_statuses as $order_status) { ?>
                            <?php if ($order_status['order_status_id'] == $filter_order_status_id) { ?>
                                <option value="<?php echo $order_status['order_status_id']; ?>" selected="selected"><?php echo $order_status['name']; ?></option>
                            <?php } else { ?>
                                <option value="<?php echo $order_status['order_status_id']; ?>"><?php echo $order_status['name']; ?></option>
                            <?php } ?>
                        <?php } ?>
                    </select></td>
                <td style="text-align: right;"><a onclick="filter();" class="button"><?php echo $button_filter; ?></a></td>
            </tr>
        </table>
        <table class="list">
            <thead>
            <tr>
                <td class="left"><?php echo $column_name; ?></td>
                <!--<td class="left"><?php echo $column_model; ?></td>-->
                <td class="right"><?php echo $column_quantity; ?></td>
                <!--<td class="right"><?php echo $column_total; ?></td>-->
            </tr>
            </thead>
            <tbody>
            <?php if ($products) { ?>
                <?php foreach ($products as $product) { ?>
                    <tr>
                        <td class="left"><?php echo $product['name']; ?></td>
                        <!--<td class="left"><?php echo $product['model']; ?></td>-->
                        <td class="right"><?php echo $product['quantity']; ?></td>
                        <!--<td class="right"><?php echo $product['total']; ?></td>-->
                    </tr>
                <?php } ?>
            <?php } else { ?>
                <tr>
                    <td class="center" colspan="4"><?php echo $text_no_results; ?></td>
                </tr>
            <?php } ?>
            </tbody>
        </table>
        <div class="pagination"><?php echo $pagination; ?></div>
    </div>
    </div>
<script type="text/javascript"><!--

    function filter() {
        url = 'index.php?route=account/megvasarolt';

        var filter_date_start = $('input[name=\'filter_date_start\']').attr('value');

        if (filter_date_start) {
            url += '&filter_date_start=' + encodeURIComponent(filter_date_start);
        }

        var filter_date_end = $('input[name=\'filter_date_end\']').attr('value');

        if (filter_date_end) {
            url += '&filter_date_end=' + encodeURIComponent(filter_date_end);
        }

        var filter_order_status_id = $('select[name=\'filter_order_status_id\']').attr('value');

        if (filter_order_status_id) {
            url += '&filter_order_status_id=' + encodeURIComponent(filter_order_status_id);
        }

        location = url;
    }
//--></script>

<script type="text/javascript"><!--
    $(document).ready(function() {
        $('#date-start').datepicker({dateFormat: 'yy-mm-dd'});

        $('#date-end').datepicker({dateFormat: 'yy-mm-dd'});
    });


//--></script>


<?php echo $footer; ?>