<?php echo $header; ?>


    <div class="breadcrumb">
        <?php foreach ($breadcrumbs as $breadcrumb) { ?>
            <?php echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
        <?php } ?>
    </div>

<?php echo $column_left; ?><?php echo $column_right; ?>
<div id="content"><?php echo $content_top; ?>

    <div class="box">

        <div class="account-heading">
            <h1><img src="catalog/view/theme/default/image/product.png" alt="" /> <?php echo $heading_title; ?></h1>
            <div class="nyomtat">
                <a onclick="JelentesNyomtat();" class="button"><?php echo $button_nyomtatas; ?></a>
                <a href='<?php echo $csv_be; ?>' class="button"><?php echo $button_exportalas; ?></a>
            </div>
        </div>



        <div class="rendelesek_jelentes">
            <table class="form">
                <thead>
                    <tr>
                        <td><?php echo $entry_date_start; ?></td>
                        <td><?php echo $entry_date_end; ?></td>

                        <?php if ( ($this->config->get('megjelenit_eletkor_regisztracio') == 1 && $ceges == 0) || ($this->config->get('megjelenit_eletkor_regisztracio_ceges') == 1 && $ceges == 1) ) {?>
                            <td><?php echo $entry_korosztaly; ?></td>
                        <?php } ?>
                        <?php if ( ($this->config->get('megjelenit_nem_regisztracio') == 1 && $ceges == 0 ) || ($this->config->get('megjelenit_nem_regisztracio_ceges') == 1 && $ceges == 1 ) ) {?>
                            <td><?php echo $entry_nem; ?></td>
                        <?php } ?>
                        <?php if (($this->config->get('megjelenit_regisztracio_iskolai_vegzettseg') == 1 && $ceges == 0) || ($this->config->get('megjelenit_regisztracio_ceges_iskolai_vegzettseg') == 1 && $ceges == 1 )) {?>
                            <td><?php echo $entry_iskolai_vegzettseg; ?></td>
                        <?php } ?>
                        <td><?php echo $entry_group; ?></td>
                        <td><?php echo $entry_status; ?></td>
                    </tr>
                </thead>

                <tr>
                    <td><input type="text" name="filter_date_start" value="<?php echo $filter_date_start; ?>" id="date-start" size="12" /></td>
                    <td><input type="text" name="filter_date_end" value="<?php echo $filter_date_end; ?>" id="date-end" size="12" /></td>
                    <?php if ( ($this->config->get('megjelenit_eletkor_regisztracio') == 1 && $ceges == 0) || ($this->config->get('megjelenit_eletkor_regisztracio_ceges') == 1 && $ceges == 1) ) {?>
                        <td>
                            <select name="filter_korosztaly">
                                <option value="0"><?php echo $text_all_status; ?></option>
                                <?php foreach ($eletkors as $eletkor) { ?>
                                    <?php if ($eletkor['megnevezes'] == $filter_korosztaly) { ?>
                                        <option value="<?php echo $eletkor['megnevezes']; ?>" selected="selected"><?php echo $eletkor['megnevezes']; ?></option>
                                    <?php } else { ?>
                                        <option value="<?php echo $eletkor['megnevezes']; ?>" ><?php echo $eletkor['megnevezes']; ?></option>
                                    <?php } ?>
                                <?php } ?>
                            </select>
                        </td>
                    <?php } ?>
                    <?php if ( ($this->config->get('megjelenit_nem_regisztracio') == 1 && $ceges == 0 ) || ($this->config->get('megjelenit_nem_regisztracio_ceges') == 1 && $ceges == 1 ) ) {?>
                        <td>
                            <select name="filter_nem">
                                <option value="0"><?php echo $text_all_status; ?></option>
                                <?php foreach ($nems as $nem) { ?>
                                    <?php if ($nem['ertek'] == $filter_nem) { ?>
                                        <option value="<?php echo $nem['ertek']; ?>" selected="selected"><?php echo $nem['nev']; ?></option>
                                    <?php } else { ?>
                                        <option value="<?php echo $nem['ertek']; ?>" ><?php echo $nem['nev']; ?></option>
                                    <?php } ?>
                                <?php } ?>
                            </select>
                        </td>
                    <?php } ?>
                    <?php if (($this->config->get('megjelenit_regisztracio_iskolai_vegzettseg') == 1 && $ceges == 0) || ($this->config->get('megjelenit_regisztracio_ceges_iskolai_vegzettseg') == 1 && $ceges == 1 )) {?>
                        <td>
                            <select name="filter_iskolai_vegzettseg" >
                                <option value=""><?php echo $text_all_status; ?></option>
                                <?php foreach ($iskolai_vegzettsegek as $cur_iskolai_vegzettseg) { ?>
                                    <?php if ($cur_iskolai_vegzettseg['megnevezes'] == $filter_iskolai_vegzettseg) { ?>
                                        <option value="<?php echo $cur_iskolai_vegzettseg['megnevezes']; ?>" selected="selected"><?php echo $cur_iskolai_vegzettseg['megnevezes']; ?></option>
                                    <?php } else { ?>
                                        <option value="<?php echo $cur_iskolai_vegzettseg['megnevezes']; ?>"><?php echo $cur_iskolai_vegzettseg['megnevezes']; ?></option>
                                    <?php } ?>
                                <?php } ?>
                            </select>
                        </td>
                    <?php } ?>
                    <td>
                        <select name="filter_group">
                            <?php foreach ($groups as $groups) { ?>
                                <?php if ($groups['value'] == $filter_group) { ?>
                                    <option value="<?php echo $groups['value']; ?>" selected="selected"><?php echo $groups['text']; ?></option>
                                <?php } else { ?>
                                    <option value="<?php echo $groups['value']; ?>"><?php echo $groups['text']; ?></option>
                                <?php } ?>
                            <?php } ?>
                        </select>
                    </td>
                    <td>
                        <select name="filter_order_status_id">
                            <option value="0"><?php echo $text_all_status; ?></option>
                            <?php foreach ($order_statuses as $order_status) { ?>
                                <?php if ($order_status['order_status_id'] == $filter_order_status_id) { ?>
                                    <option value="<?php echo $order_status['order_status_id']; ?>" selected="selected"><?php echo $order_status['name']; ?></option>
                                <?php } else { ?>
                                    <option value="<?php echo $order_status['order_status_id']; ?>"><?php echo $order_status['name']; ?></option>
                                <?php } ?>
                            <?php } ?>
                        </select>
                    </td>


                    <td style="text-align: right;"><a onclick="filter();" class="button"><?php echo $button_filter; ?></a></td>
                </tr>
            </table>
            <table class="list">
                <thead>
                <tr>
                    <td class="left"><?php echo $column_date_start; ?></td>
                    <td class="left"><?php echo $column_date_end; ?></td>
                    <td class="right"><?php echo $column_orders; ?></td>
                    <td class="right"><?php echo $column_products; ?></td>
                    <!--<td class="right"><?php echo $column_tax; ?></td>-->
                    <!--<td class="right"><?php echo $column_total; ?></td>-->
                </tr>
                </thead>
                <tbody>
                <?php if ($orders) { ?>
                    <?php foreach ($orders as $order) { ?>
                        <tr>
                            <td class="left"><?php echo $order['date_start']; ?></td>
                            <td class="left"><?php echo $order['date_end']; ?></td>
                            <td class="right"><?php echo $order['orders']; ?></td>
                            <td class="right"><?php echo $order['products']; ?></td>
                            <!--<td class="right"><?php echo $order['tax']; ?></td>-->
                            <!--<td class="right"><?php echo $order['total']; ?></td>-->
                        </tr>
                    <?php } ?>
                <?php } else { ?>
                    <tr>
                        <td class="center" colspan="6"><?php echo $text_no_results; ?></td>
                    </tr>
                <?php } ?>
                </tbody>
            </table>
            <div class="pagination"><?php echo $pagination; ?></div>
        </div>

</div>

<script type="text/javascript"><!--
    $(document).ready(function() {
        $('#date-start').datepicker({dateFormat: 'yy-mm-dd'});
        $('#date-end').datepicker({dateFormat: 'yy-mm-dd'});
    });


    function filter() {
        url = 'index.php?route=account/rendelesek';

        var filter_date_start = $('input[name=\'filter_date_start\']').attr('value');

        if (filter_date_start) {
            url += '&filter_date_start=' + encodeURIComponent(filter_date_start);
        }

        var filter_date_end = $('input[name=\'filter_date_end\']').attr('value');

        if (filter_date_end) {
            url += '&filter_date_end=' + encodeURIComponent(filter_date_end);
        }

        var filter_group = $('select[name=\'filter_group\']').attr('value');

        if (filter_group) {
            url += '&filter_group=' + encodeURIComponent(filter_group);
        }

        var filter_order_status_id = $('select[name=\'filter_order_status_id\']').attr('value');

        if (filter_order_status_id) {
            url += '&filter_order_status_id=' + encodeURIComponent(filter_order_status_id);
        }

        var filter_korosztaly = $('select[name=\'filter_korosztaly\']').attr('value');

        if (filter_korosztaly) {
            url += '&filter_korosztaly=' + encodeURIComponent(filter_korosztaly);
        }

        var filter_nem = $('select[name=\'filter_nem\']').attr('value');

        if (filter_nem) {
            url += '&filter_nem=' + encodeURIComponent(filter_nem);
        }

        var filter_iskolai_vegzettseg = $('select[name=\'filter_iskolai_vegzettseg\']').attr('value');

        if (filter_iskolai_vegzettseg) {
            url += '&filter_iskolai_vegzettseg=' + encodeURIComponent(filter_iskolai_vegzettseg);
        }

        location = url;
    }


//--></script>

<?php echo $footer; ?>