<div class="kiemeltmenu"><!--
          <?php if ($kiemeltmenusorok != null) { ?>
              <?php foreach ($kiemeltmenusorok as $kiemeltmenusor) { ?>
                  --><a href="<?php echo $kiemeltmenusor['link']; ?>" class="termekek-kiemeltmenusor"><span  id="<?php echo $kiemeltmenusor['module_name']?>" >
                     <?php echo $kiemeltmenusor['name_text']; ?>
                  </span></a><!--
              <?php }?>
          <?php }?>
--></div>
