<div id="search">

    <?php if ($filter_name) { ?>
        <input type="text" name="filter_name" value="<?php echo $filter_name; ?> "  onclick="this.value = '';"/>
    <?php } else { ?>
        <input type="text" name="filter_name" value="<?php echo $text_search; ?>" onclick="this.value = '';" onkeydown="this.style.color = '#000000';" />
    <?php } ?>
    <div class="button-search"></div>
    <div class="search-button"></div>
    <input type="hidden" name="keres_autocomplate" value="<?php echo $this->config->get('megjelenit_keres_autocomplete')?>">

</div>
