<?php include("utvonal.php") ?>


<?php if ($utvonal) { ?>
    <div class="header-path">
        <?php if (isset($image_icon) && $image_icon) { ?>
             <img src="<?php echo $image_icon; ?>" title="<?php echo $utvonal; ?>" alt="<?php echo $utvonal; ?>" />
        <?php } ?>

        <span><?php echo $utvonal; ?></span>
    </div>

<?php } ?>
