*{margin:0;padding:0;font-family: verdana}body{width:100%;height:100%}
#wrapper_ads{position:absolute;top:0%;left:0%;width:17%;height:100%;background-color:#eee}#wrapper_bu{position:absolute;top:0%;left:17%;width:83%;height:100%;background-color:#ddd}.txt_Center{margin:50% 0% 0% 20%}.txt_h1{font-size:2em}.holder_bu{cursor:pointer}
.holder_bu_awayL1{position:absolute;top:30%;left:10%;width:10%;height:40%;background-color:rgba(0,0,50,0.7);-webkit-transition:width 1s,height 1s,top 1s,left 1s;-moz-transition:width 1s,height 1s,top 1s,left 1s;-o-transition:width 1s,height 1s,top 1s,left 1s;-ms-transition:width 1s,height 1s,top 1s,left 1s;transition:width 1s,height 1s,top 1s,left 1s}
.holder_bu_awayL2{position:absolute;top:35%;left:0%;width:10%;height:30%;background-color:rgba(0,0,50,0.5);-webkit-transition:width 1s,height 1s,top 1s,left 1s;-moz-transition:width 1s,height 1s,top 1s,left 1s;-o-transition:width 1s,height 1s,top 1s,left 1s;-ms-transition:width 1s,height 1s,top 1s,left 1s;transition:width 1s,height 1s,top 1s,left 1s}
.holder_bu_center{position:absolute;top:5%;left:20%;width:60%;height:90%;background-color:#37c;-webkit-transition:width 1s,height 1s,top 1s,left 1s;-moz-transition:width 1s,height 1s,top 1s,left 1s;-o-transition:width 1s,height 1s,top 1s,left 1s;-ms-transition:width 1s,height 1s,top 1s,left 1s;transition:width 1s,height 1s,top 1s,left 1s}
.holder_bu_awayR1{position:absolute;top:30%;left:80%;width:10%;height:40%;background-color:rgba(0,0,50,0.7);-webkit-transition:width 1s,height 1s,top 1s,left 1s;-moz-transition:width 1s,height 1s,top 1s,left 1s;-o-transition:width 1s,height 1s,top 1s,left 1s;-ms-transition:width 1s,height 1s,top 1s,left 1s;transition:width 1s,height 1s,top 1s,left 1s}
.holder_bu_awayR2{position:absolute;top:35%;left:90%;width:10%;height:30%;background-color:rgba(0,0,50,0.5);-webkit-transition:width 1s,height 1s,top 1s,left 1s;-moz-transition:width 1s,height 1s,top 1s,left 1s;-o-transition:width 1s,height 1s,top 1s,left 1s;-ms-transition:width 1s,height 1s,top 1s,left 1s;transition:width 1s,height 1s,top 1s,left 1s}