<?php if(isset($product['text_popup_checkout']) && $product['text_popup_checkout']) { ?>
    <div class="button_checkout"><a href="<?php echo $product['checkout_href']; ?>"><?php echo $product['text_popup_checkout']; ?></a></div>
<?php } ?>