html > *{
    margin: 0;
    border: 0;
}
.csv_files{
    margin-bottom: 10px;
}
.tablak {
    display: inline-table;
    width: 17%;
    margin: 6px 3px;
    border: 1px solid #ccc;
    min-height: 100px;
    vertical-align: top;
    position: relative;
}

.csv_files a {
    display: inline-block;
    border: 1px solid #aaa;
    background: #ddd;
    color: #000;
    padding: 4px 10px;
    text-decoration: none;
    margin-right: 15px;
}

.csv_files a:hover {
    border: 1px outset #aaa;
}

.csv_files a:active {
    border: 1px inset #aaa;
}

.csv_files .active {
    background: #0000C0;
    color: #fff;
}

.check_all{
    display: inline-table;
    vertical-align: top;
}
.tabla_select{
    display: table;
    vertical-align: top;
    position: absolute;
    right: 0;
    top: 0;
}
.tabla_select > *{
    display: table;
    width: 100%;
    vertical-align: top;
    text-align: right;
}
.tablak:nth-child(2n){
    background: #eee;
}
.filename_input{
    position: absolute;
}