
<!-- Legnépszerűbb termékek-->

<? if($products) { ?>


    <?php $template=$this->config->get("config_template");?>


    <div id="akcio_fejlec" class="box box-product-right">
        <?php if ($heading_latszik) { ?>
            <div class="box-heading-right"><span><?php echo $heading_title; ?></span></div>
        <?php } ?>

        <?php  foreach ($products as $product) { ?>

           <div>
               <div class="name">
                   <a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></div>

               <?php if ($product['thumb']) { ?>
                   <div class="image"><a href="<?php echo $product['href']; ?>"><img id="<?php echo $module_name.$product['product_id']  ?>" src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" /></a></div>
               <?php } ?>

               <div class="price"><?php echo "- ".$product['price']; ?></div>



               <div class="">
                   <a href="<?php echo $product['href']; ?>">
                       <input  type="button" style="" value="<?php echo $button_bovebben; ?>" class="bovebben kozepre" />
                   </a>
               </div>
           </div>
        <?php } ?>
</div>

<?php } ?>


