<?php foreach ($styles as $style) { ?>
    <link rel="<?php echo $style['rel']; ?>" type="text/css" href="<?php echo $style['href']; ?>" media="<?php echo $style['media']; ?>" />
<?php } ?>
<script type="text/javascript" src="catalog/view/javascript/jquery/jquery-1.7.1.min.js"></script>
<!--<script type="text/javascript" src="catalog/view/javascript/jquery/colorbox/jquery.colorbox.js"></script>
<link rel="stylesheet" type="text/css" href="catalog/view/javascript/jquery/colorbox/colorbox.css" media="screen" />-->
<script type="text/javascript" src="catalog/view/javascript/common.js"></script>


    <div class="box">
        <div class="box-content"><?php echo $message; ?></div>
    </div>

<script>
    $('.kosar').bind("click",function(){
        debugger;
        if ( $(".mennyit_vasarol").length > 0 ) {
            var mennyit_vasarol_id =  $('.mennyit_vasarol').attr("id");
            mennyit_vasarol_id = mennyit_vasarol_id.split('_');
            var product_id = mennyit_vasarol_id[1];
            var siker = addToCart(product_id, $('.mennyit_vasarol').val());
        } else {
            var siker = addToCart(<?php echo $product_id?>);
        }

        kosar = setInterval("cartLekerdez()",200);


    });

    function cartLekerdez() {
        $.ajax({
            url: 'index.php?route=checkout/cart/kosarban',
            type: 'post',
            dataType: 'json',
            beforeSend: function(json) {
                if ($(".takaro").length == 0) {

                    var height = screen.height;
                    var margin = Math.round((height-150)/3);
                    var html = '';
                    html += '<div class="takaro" style="height: '+height+'px">';
                    html += '<img class="wait" style="margin-top: '+margin+'px;" src="catalog/view/theme/default/image/loading_nagy.gif" alt="" />';
                    html += '</div>';
                    $("body").append(html);
                    $(".takaro").slideDown("fast");
                }

            },
            success: function(json) {
                debugger;
                if (json['success']) {
                    clearInterval(kosar);
                    /*$(".takaro").slideUp("slow",function(){
                        $(".takaro").remove();

                    });*/
                    tovabbLep();

                }
            },
            error: function(json){
                    debugger;
            },
            complete: function(e) {
                $(".takaro").slideUp("slow",function(){
                    $(".takaro").remove();
                });
            }
        });
    }



    function tovabbLep(){
        <?php if ($erkeztetes) { ?>
            location= 'index.php?route=checkout/cart';
        <?php } else { ?>
            location= 'index.php?route=checkout/checkout';
        <?php } ?>
    }

</script>


