<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/hu_HU/all.js#xfbml=1&appId=828794903803316";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<div class="box">
	<div class="fb-like-box" data-href="<?php echo $page_url; ?>" data-width="<?php echo $width; ?>"  data-height="<?php echo $height; ?>" data-show-faces="<?php echo $show_faces; ?>" data-stream="<?php echo $show_stream; ?>" data-header="<?php echo $show_header; ?>" data-colorscheme="<?php echo $color_scheme; ?>" data-border-color="<?php echo $border_color; ?>"></div>
</div>	
