
<?php if ($show_felnott ) { ?>



    <style>
        #felnott-content{
        /*    position: fixed;
            top:  50%;
            left: 50%;
            margin-top: -<?php echo $css_move_up; ?>px;
            margin-left:-<?php echo $css_move_left; ?>px;*/
        }
    </style>


    <div id="felnott<?php echo $module; ?>" class="felnott">

        </br>
        </br>
        </br>
        <img id="enter<?php echo $module; ?>" src="<?php echo $image; ?>" alt="<?php echo $module; ?>" />
        </br>
        <div id="felnott-content"><?php echo $text_close;?></div>
        </br>
        <a href="#" id="dont-show<?php echo $module; ?>" class="close-felnott">
            <img src="<?php echo HTTPS_IMAGE?>igen.png" alt="Igen" />
        </a>
        <a href="http://egyszervolt.hu/" id="close-felnott<?php echo $module; ?>" class="close-felnott">
            <img src="<?php echo HTTPS_IMAGE?>nem.png" alt="Nem" />
        </a>

    </div>


    <script type="text/javascript"><!--
        $(function(){
            $('#felnott<?php echo $module; ?>').meerkat({
                <?php if ($color != "" && $pattern != ""){ ?>
                background: '#<?php echo $color; ?> url(\'<?php echo $pattern?>\') repeat left top',
                <?php } elseif ($pattern != "" && $color == "") { ?>
                background: url(\'<?php echo $pattern?>\') repeat left top',
                <?php } else { ?>
                background: '#<?php echo $color; ?>',
                <?php } ?>
                height: '100%',
                width: '100%',
                position: 'left',
               // close: '#close-felnott<?php echo $module; ?>',
                dontShowAgain: '#dont-show<?php echo $module; ?>',
                animationIn: 'none',
                animationOut: 'fade',
                animationSpeed: 1005,
                timer: <?php echo $timer?>,
            removeCookie: '.reset'
        });
        });
        --></script>

<?php } ?>