
<div id="manufacturer_module">

  <?php if ($fejlec) {?>
      <h1><?php echo $heading_title; ?></h1>
  <?php } ?>

  <?php if ($manufacturers) { ?>
    <?php foreach ($manufacturers as $manufacturer) { ?>
        <a href="index.php?route=product/manufacturer/product&manufacturer_id=<?php echo $manufacturer['manufacturer_id']; ?>&filter_gyarto=<?php echo $manufacturer['manufacturer_id']; ?>">
            <?php echo $manufacturer['name']; ?></a>
    <?php } ?>

  <?php } ?>
</div>
