<div class="box" style="">
    <div class=hirlevel_fej>
        <div class="box-heading-hirlevel pirosatmenet"><?php echo $heading_title; ?></div>
        <img src="image/data/hirlevel.png" alt="">
    </div>
    <div class="box-content1" style="text-align: center;">

        <!--<?php
   if($thickbox) { ?>
	<a href="#frm_subscribe" title="Newsletter Subscribe" class="fancybox_sub"> <?php echo($text_subscribe); ?> </a>
  <?php }  ?>
  <?php
   if($thickbox || true) { ?> <div id="frm_subscribe_hidden" style="display:block;"> <?php } ?>-->


        <div id="frm_subscribe">
            <form name="subscribe" id="subscribe"   >
                <table>
                    <tr>
                        <td><span class="required" style="margin-left: 0px;">*</span>&nbsp;<!--<?php echo $entry_email; ?><br />-->
                            <input type="text" value="" name="subscribe_email" id="subscribe_email" style="color: #b5b5b5" onkeydown="this.style.color = '#000000';" placeholder="<?php echo $entry_email; ?>" ></td>
                    </tr>
                    <tr>
                        <td><span class="required" style="margin-left: 0px;">*</span>&nbsp;<!--<?php echo $entry_name; ?><br />-->
                            <input type="text" value="" name="subscribe_name" id="subscribe_name"  style="color: #b5b5b5" onkeydown="this.style.color = '#000000';" placeholder="<?php echo $entry_name; ?>"> </td>
                    </tr>
                    <?php
                    for($ns=1;$ns<=$option_fields;$ns++) {
                        $ns_var= "option_fields".$ns;
                        ?>
                        <tr>
                            <td>
                                <?php
                                if($$ns_var!=""){
                                    echo($$ns_var."&nbsp;<br/>");
                                    echo('<input type="text" value="" name="option'.$ns.'" id="option'.$ns.'">');
                                }
                                ?>
                            </td>
                        </tr>
                    <?php
                    }
                    ?>

                    <tr>
                        <td>
                            <a class="button" style="margin-top: 10px;" onclick="email_subscribe()"><span><?php echo $entry_button; ?></span></a>
                            <?php if($option_unsubscribe) { ?>
                                <a class="button" style="margin-top: 10px;" onclick="email_unsubscribe()"><span><?php echo $entry_unbutton; ?></span></a>
                            <?php } ?>
                        </td>
                    </tr>
                    <tr>
                        <td id="subscribe_result"></td>
                    </tr>
                </table>
            </form>
        </div>
        <!--<?php if($thickbox) { ?> </div> <?php } ?>-->
</div>
<div class="bottom">&nbsp;</div>
<script>
    <?php if(!$thickbox) { ?>
        function email_subscribe(){
            $.ajax({
                type: 'post',
                url: 'index.php?route=module/newslettersubscribe/subscribe',
                dataType: 'html',
                data:$("#subscribe").serialize(),
                success: function (html) {
                    eval(html);
                }});
        }
        function email_unsubscribe(){
            $.ajax({
                type: 'post',
                url: 'index.php?route=module/newslettersubscribe/unsubscribe',
                dataType: 'html',
                data:$("#subscribe").serialize(),
                success: function (html) {
                    eval(html);
                }});
        }
    <?php }else{ ?>
        function email_subscribe(){
            $.ajax({
                type: 'post',
                url: 'index.php?route=module/newslettersubscribe/subscribe',
                dataType: 'html',
                data:$("#subscribe").serialize(),
                success: function (html) {
                    eval(html);
                }});
        }
        function email_unsubscribe(){
            $.ajax({
                type: 'post',
                url: 'index.php?route=module/newslettersubscribe/unsubscribe',
                dataType: 'html',
                data:$("#subscribe").serialize(),
                success: function (html) {
                    eval(html);
                }});
        }
    <?php } ?>

    $('.fancybox_sub').fancybox({
        width: 180,
        height: 180,
        autoDimensions: false
    });
</script>
</div>
