<div class="box">
    <?php if ($heading_latszik){ ?>
        <div class="box-heading"><?php echo $heading_title; ?></div>
    <?php }?>
  <div class="box-content" style="text-align: center;">
	<iframe class="youtube-player" type="text/html" width="<?php echo $width; ?>" height="<?php echo $height; ?>" src="http://www.youtube.com/v/<?php echo $code; ?><?php echo $youtube_extension; ?>" frameborder="0"><br /></iframe>
  </div>
  <div class="bottom">&nbsp;</div>
</div>

