<!--<div class="html-name"><img src="catalog/view/theme/helios/image/<?php echo ($this->config->get('tg_helios_cp_default_color')); ?>/bullet.png" alt="" />&nbsp;<?php echo $heading_title; ?></div>-->

<div id="html-wrapper">
			<div id="html-1" class="html-4"><div><?php echo $code1; ?></div></div>
			<div id="html-2" class="html-4"><div><?php echo $code2; ?></div></div>
			<div id="html-3" class="html-4"><div><?php echo $code3; ?></div></div>
			<!--<div id="html-4" class="html-4"><div><?php echo $code4; ?></div></div>-->
</div>
