<?php if($this->config->get('megjelenit_email_fk') == 1){ ?>
    <span class="addthis_default_style">
                            <a class="addthis_button_email"> </a>
                        </span>
<?php }?>