<?php if($this->config->get('megjelenit_facebook_fk') == 1){ ?>
    <?
    $fboldal = str_replace("http://","",HTTP_SERVER);
    $fboldal = str_replace("www.","",$fboldal);
    $fblink = "https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F".$fboldal."%2Findex.php%3Froute%3Dproduct%2Fproduct%26product_id%3D";
    $fbproduct_id = $product['product_id'];
    ?>
    <div class="facebook_megoszt_gomb"><a href="<?php echo $fblink.$fbproduct_id; ?>" target="_blank"><div class="fb_kep"></div></a></div>
<?php }?>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53675cea59952f34"></script>