<?php if($product['utalvany'] != 1 ) { ?>
    <div class="szoveg">
        <?php if(!empty($product['href'])) { ?>
        <a href="<?php echo $product['href']; ?>">
            <?php } ?>
            <b><?php echo $text_eredeti_ar?>: <span><?php echo $product['price'] ?></span></b>
            <?php if(!empty($product['href'])) { ?>
        </a>
    <?php } ?>
    </div>
<?php } ?>