<?php if(isset($product['manufacturers']['name']) && $product['manufacturers']['name']) { ?>
    <div class="name manufacturer_name">
        <?php if (isset($beallitas['gyarto_kotojel'])) { ?>
            <a href="<?php echo $product['href']; ?>"><?php echo $product['manufacturers']['name']."&nbsp;-&nbsp;"; ?></a>
        <?php } else { ?>
            <a href="<?php echo $product['href']; ?>"><?php echo $product['manufacturers']['name']; ?></a>
        <?php } ?>
    </div>
<?php } ?>
