<span class="atmenet-hatter">
     <?php if($this->config->get('megjelenit_minikosar_fk') == 1) { ?>
         <input type="button" value="" onclick="addToCart('<?php echo $product['product_id']; ?>',$('#d-quantity_<?php echo $product['product_id']; ?>').val()*<? echo $product['csomagolasi_mennyiseg']?>,'<?php echo $this->config->get('config_template')?>','<?php echo $module_name.$product['product_id']?>')" class="minicart" />
     <?php } else { ?>
         <input type="button" value="<?php echo $button_cart; ?>" onclick="addToCart('<?php echo $product['product_id']; ?>',$('#d-quantity_<?php echo $product['product_id']; ?>').val()*<? echo $product['csomagolasi_mennyiseg']?>,'<?php echo $this->config->get('config_template')?>','<?php echo $module_name.$product['product_id']?>')" class="button" />
     <?php } ?>
</span>