<?php if (isset($beallitas['rovid'])) { ?>
<div class="name">
    <a class="module line-clamp" href="<?php echo $product['href']; ?>"><p><?php echo $product['name']; ?></p></a>
</div>
<?php } else { ?>
    <div class="name">
        <a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a>
    </div>
<?php } ?>