<?php if ($product['szallitasi_koltseg']) { ?>
    <div class="szallitas">
        <a class="infofancy fancybox.ajax"
           href="<?php echo $this->url->link('information/information/info', 'information_id=' . $beallitas['informacios_id_szall']);?>"
           alt="<?php echo !empty($text_szallitas) ? $text_szallitas : ''  ;?>">
            <span><?php echo $product['text_szallitas']  ;?></span>
            <span><?php echo $product['szallitasi_koltseg'];   ?></span>
        </a>
    </div>
<?php } ?>