<div class="termek-kuldes-gomb" id="termekkuldesgomb<?php echo $product['product_id']; ?>">

</div>


<style>

</style>

<div class="termekkuldesformbox" id="termekkuldesform<?php echo $product['product_id']; ?>">
    <div class="termek-kuldes">
        <div class="termek-kuldes-balfelso">
            <span>Email</span>
        </div><!--
            --><div class="termek-kuldes-jobbfelso" id="termekkuldesjobbfelsobezar<?php echo $product['product_id']; ?>">

        </div>
        <div class="termek-kuldes-content">
            <form method="post" id="termek-kuldes-postform<?php echo $product['product_id']; ?>">
                <div class="termek-kuldes-kinek termek-kuldes-form">
                    <label>Kinek:</label><input type="email" name="termek_kuldes_kinekemail">
                </div>
                <div class="termek-kuldes-kitol termek-kuldes-form">
                    <label>Kitől:</label><input type="email" name="termek_kuldes_kitolemail">
                </div>
                <div class="termek-kuldes-targy termek-kuldes-form">
                    <label>Tárgy:</label><label>Webáruház</label>
                </div>
                <div class="termek-kuldes-szoveg termek-kuldes-form">
                    <textarea name="termek-kuldes-szoveg"></textarea>
                </div>
                <div class="termek-kuldes-url termek-kuldes-form">
                    <label>URL:</label>
                    <label><?php echo $product['href']; ?></label>
                </div>
                <div class="captchaellenor">
                    <b>Írja be az alábbi keretben lévő kódot:</b><br />
                    <input type="text" name="captcha" value="<?php echo $captcha; ?>" />
                    <br />
                    <img src="index.php?route=information/contact/captcha" alt="" />
                    <?php if ($error_captcha) { ?>
                        <span class="error"><?php echo $error_captcha; ?></span>
                    <?php } ?>
                </div>
                <div class="termek-kuldes-kuldesbox  termek-kuldes-form">
                    <input type="submit" value="Küldés">
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){

        $("#termekkuldesgomb<?php echo $product['product_id']; ?>").bind('click', function() {
            $(".termekkuldesformbox").removeAttr( 'style' );
            debugger;
            if($("#termekkuldesform<?php echo $product['product_id']; ?>").css("display") != "none"){
                $("#termekkuldesform<?php echo $product['product_id']; ?>").css("display","none");
            }
            else {
                $("#termekkuldesform<?php echo $product['product_id']; ?>").css("display","block");
            }
        });
        $("#termekkuldesjobbfelsobezar<?php echo $product['product_id']; ?>").bind('click', function() {
            $(".termekkuldesformbox").removeAttr( 'style' );
        });
    });
</script>