html {
	overflow: -moz-scrollbars-vertical;
	margin: 0;
	padding: 0;
}
body {
	background-color: #FFFFFF;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}
body, td, th, input, textarea, select, a {
	font-size: 12px;
}
h1, .welcome {
	color: #636E75;
	font: Verdana;
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 12px;
	font-weight: normal;
	text-shadow: 0 0 1px rgba(0, 0, 0, .01);
	
}
h2 {
	color: #000000;
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 5px;
}
p {
	margin-top: 0px;
	margin-bottom: 20px;
}
a, a:visited, a b {
	color: #38B0E3;
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}
a img {
	border: none;
}
form {
	padding: 0;
	margin: 0;
	display: inline;
}
input[type='text'], input[type='password'], textarea {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 3px;
	margin-left: 0px;
	margin-right: 0px;
}

input.maximize, textarea.maximize {
	width: 90%;
}

select {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 2px;
	
}

label {
	cursor: pointer;
}
/* layout */ 
#container {
	width: 100%;
	margin: 0px;
	text-align: left;
}

#column-left {
	float: left;
	width: 200px;
}

#column-left + #column-right + #content, #column-left + #content {
	margin-left: 215px;
}

#content {
	min-height: 200px;
	margin-bottom: 25px;
}

#content.round {
	background: #fff;
	padding: 10px;
	border: 1px solid #CBCBCB;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


/* header */
#header {
	/*position: fixed;
	top: 0px;*/
	width: 100%;
	height: 36px;
	background: url('../image/mobile_store/mobile-store-bar-bg.png') repeat-x;
	overflow: hidden;
}

#store-name {
	float: left;
	width: 60%;
	padding-top: 10px;
	
	color: #FFF;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
}

#home-up {
	float: left;
	width: 32px;
	height: 32px; 
	background: url('../image/mobile_store/mobile-store-home-up.png') center center no-repeat;
}

#home-up.no-bg {
	background: none;
	width: 32px;
	height: 32px;
}

#search-up {
	float: right;
	width: 32px;
	height: 32px; 
	background: url('../image/mobile_store/mobile-store-search-up.png') center center no-repeat;
	cursor:pointer;
}

#search {
	float: left;
	padding: 3px;
}

#search  input.search {
	float: left;
	height: 20px;
	line-height: 16px;
	border: 1px solid #aaa;
	color: #7B7B7B !important;
	font-size: 14px;
	text-decoration: none;
	text-align: center;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -o-linear-gradient(top, #eeeeee 0%,#ffffff 50%);
    background-image: -ms-linear-gradient(top, #eeeeee 0%,#ffffff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
    background-image: linear-gradient(top, #eeeeee 0%,#ffffff 50%);
    -webkit-border-radius: 4px;
    -moz-border-radius   : 4px;
    border-radius        : 4px;
    -moz-background-clip   : padding;
    -webkit-background-clip: padding-box;
    background-clip        : padding-box;
    white-space: nowrap;
	overflow: hidden;
}



#floating-bar {
	/*margin-top: 36px;*/
	padding-top: 3px;
	background: url('../image/mobile_store/mobile-buttons-bar-bg.png') repeat-x;
	text-align: center;
	margin-bottom: 5px;
	-webkit-box-shadow: 0 6px 6px -6px #C0BCBC;
    -moz-box-shadow: 0 6px 6px -6px #C0BCBC;
    box-shadow: 0 6px 6px -6px #C0BCBC;
	overflow: auto;
}


.trans-button {
	float: left;
	width: 24.5%;
	height: 48px;
	/*border-right: 1px solid #999999;*/
	color: #0095DA;
	cursor: pointer;
	text-decoration: none;
}

.trans-button .icon {
	display: block;
	width: 100%;
	height: 32px;
}

.icon.home {
	background: url('../image/mobile_store/mobile-store-account.png') center bottom no-repeat;
}

.icon.login {
	background: url('../image/mobile_store/mobile-store-login.png') center center no-repeat;
}

.icon.account {
	background: url('../image/mobile_store/mobile-store-account.png') center center no-repeat;
}

.icon.categories {
	background: url('../image/mobile_store/mobile-store-categories.png') center center no-repeat;
}
.icon.cart {
	background: url('../image/mobile_store/mobile-store-cart.png') center center no-repeat;
}

.icon.pay {
	background: url('../image/mobile_store/mobile-store-pay.png') center center no-repeat;
}


.cart-module > div {
	display: none;
}

#language {
	position: absolute;
	top: 15px;
	left: 335px;
	width: 75px;
	color: #999;
	line-height: 17px;
}
#language img {
	cursor: pointer;
}
#currency {
	width: 75px;
	position: absolute;
	top: 15px;
	left: 425px;
	color: #999;
	line-height: 17px;
}
#currency a {
	display: inline-block;
	padding: 2px 4px;
	border: 1px solid #CCC;
	color: #999;
	text-decoration: none;
	margin-right: 2px;
	margin-bottom: 2px;
}
#currency a b {
	color: #000;
	text-decoration: none;
}


#header #welcome {
	z-index: 5;
	width: 298px;
	text-align: right;
	color: #999999;
}
#header .links {
	position: absolute;
	right: 0px;
	bottom: 3px;
	font-size: 10px;
	padding-right: 10px;
}
#header .links a {
	float: left;
	display: block;
	padding: 0px 0px 0px 7px;
	color: #38B0E3;
	text-decoration: none;
	font-size: 12px;
}
#header .links a + a {
	margin-left: 8px;
	border-left: 1px solid #CCC;
}
/* menu */
#menu {
	background: #DEDFDF ;
	border-bottom: 1px solid #A5A5A5;
	height: 71px;
	margin-bottom: 15px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-webkit-box-shadow: 0px 2px 2px #DDDDDD;
	-moz-box-shadow: 0px 2px 2px #DDDDDD;
	box-shadow: 0px 2px 2px #DDDDDD;
	padding: 5px 5px;
}

#menu  input.search {
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -o-linear-gradient(top, #eeeeee 0%,#ffffff 50%);
    background-image: -ms-linear-gradient(top, #eeeeee 0%,#ffffff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
    background-image: linear-gradient(top, #eeeeee 0%,#ffffff 50%);
    -webkit-border-radius: 4px;
    -moz-border-radius   : 4px;
    border-radius        : 4px;
    -moz-background-clip   : padding;
    -webkit-background-clip: padding-box;
    background-clip        : padding-box;
    border: 1px solid #aaa;
    overflow: hidden;
    white-space: nowrap;
    height: 30px;
    line-height: 30px;
    padding: 0 0 0 8px;
    color: #444;
    text-decoration: none;
	/* -- */
	position: absolute;
	margin-top: 0px;
	margin-left: 5px;
}

.breadcrumb {
	color: #CCCCCC;
	margin-bottom: 10px;
}
.success, .warning, .attention, .information {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	color: #555555;
}
.success {
	background: #EAF7D9 url('../image/mobile_store/success.png') 10px center no-repeat;
	border: 1px solid #BBDF8D;
}
.warning {
	background: #FFD1D1 url('../image/mobile_store/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
}
.attention {
	background: #FFF5CC url('../image/mobile_store/attention.png') 10px center no-repeat;
	border: 1px solid #F2DD8C;
}
.success .close, .warning .close, .attention .close, .information .close {
	float: right;
	padding-top: 4px;
	padding-right: 4px;
	cursor: pointer;
}
.required {
	color: #FF0000;
	font-weight: bold;
}
.error {
	display: block;
	color: #FF0000;
}
.help {
	color: #999;
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	display: block;
}

#select_categories{
	width: 200px;
}

table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.form tr td:first-child {
	width: 150px;
}
table.form > * > * > td {
	color: #000000;
}
table.form td {
	padding: 4px;
}
input.large-field, select.large-field {
	width: 90%;
}
table.list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
table.list td {
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
table.list thead td {
	background-color: #EFEFEF;
	padding: 0px 5px;
}
table.list thead td a, .list thead td {
	text-decoration: none;
	color: #222222;
	font-weight: bold;
}
table.list tbody td a {
	text-decoration: underline;
}
table.list tbody td {
	vertical-align: top;
	padding: 0px 5px;
}
table.list .left {
	text-align: left;
	padding: 7px;
}
table.list .right {
	text-align: right;
	padding: 7px;
}
table.list .center {
	text-align: center;
	padding: 7px;
}
table.radio {
	width: 100%;
	border-collapse: collapse;
}
table.radio td {
	padding: 5px;
	vertical-align: middle;
}
table.radio tr td:first-child {
	width: 1px;
}
table.radio tr.highlight:hover td {
	background: #F1FFDD;
	cursor: pointer;
}
table.radio label {
	width: 100%;
	height: 15px;
	display: inline-block;
}

.pagination {
	border-top: 1px solid #DCDCDC;
	padding-top: 8px;
	display: inline-block;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}
.pagination .links {
	float: left;
}
.pagination .links a {
	display: inline-block;
	border: 1px solid #EEEEEE;
	padding: 3px 7px;
	text-decoration: none;
	color: #000;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #FFFFFF;
}
.pagination .links a:hover {
	border: 1px solid #CAD4E7;
	color: #3B5998;
}	
.pagination .links b {
	display: inline-block;
	border: 1px solid #269BC6;
	padding: 3px 7px;
	font-weight: normal;
	text-decoration: none;
	color: #000;
	background: #FFFFFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #FFFFFF;
}
.pagination .results {
	float: right;
	padding-top: 3px;
}

/* pagination for special price countdown*/
.bx-pager {
	display: inline-block;
	width: 100%;
	text-align:right;
	z-index: 105;
}

.bx-pager a.pager-link{
	margin-right: 2px;
}

.bx-pager .pager-link {
	display: inline-block;
	background: url('../image/mobile_store/pager-inactive.png') top left no-repeat;
	width: 17px;
	height: 18px;
}
.bx-pager .pager-link.pager-active {
	display: inline-block;
	background: url('../image/mobile_store/pager-active.png') top left no-repeat;
	width: 17px;
	height: 18px;
}

/*bx prev next */
#spc-prev-selector, #spc-next-selector, #featured-prev-selector, #featured-next-selector, #latest-prev-selector, #latest-next-selector, #bestsellers-prev-selector, #bestsellers-next-selector {
	float: right;
	margin-top: -3px;
}

#spc-pager-selector, #featured-pager-selector, #latest-pager-selector, #bestsellers-pager-selector {
	float: right;
	font-weight: normal;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 12px;
}

/* button */
a.button, input.button {
	display: inline-block;
	padding-left: 6px;
	border: 1px solid #D8DFEA;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-decoration: none;
	cursor: pointer;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 35%, rgba(237,237,237,1) 65%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(35%,rgba(255,255,255,1)), color-stop(65%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 35%,rgba(237,237,237,1) 65%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 35%,rgba(237,237,237,1) 65%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 35%,rgba(237,237,237,1) 65%); /* IE10+ */
	background: linear-gradient(top,  rgba(255,255,255,1) 35%,rgba(237,237,237,1) 65%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	

}
input.button {
	margin: 0;
	border: 0;
	height: 28px;
	color: #333;
	padding: 0px 12px 0px 12px;
	border: 1px solid #D8DFEA;
}
a.button {
	line-height: 12px;
	font-size: 12px;
	font-weight: normal;
	display: inline-block;
	color: #333;
	padding: 6px 12px 8px 5px;
}
a.button:hover {
	-webkit-box-shadow: 0 8px 6px -6px #C0BCBC;
    -moz-box-shadow: 0 8px 6px -6px #C0BCBC;
    box-shadow: 0 8px 6px -6px #C0BCBC;
}

a.button:hover span {
	text-shadow: #FFF 1px 1px 1px;
	
}

.button-cart {
	display: block;
	cursor: pointer;
	text-align: center;
}
.button-cart:hover {
	
}

.button-cart span {
	display: inline-block;
	background: url('../image/mobile_store/grid-button-cart-16.png') 0px 3px no-repeat;
    line-height: 12px;
	padding: 6px 3px 3px 20px;
	color: #78B942;
	/*border: 1px solid #000;*/
	text-shadow: #fff 1px 1px 1px;
}

.buttons {
	background: #FFFFFF;
	overflow: auto;
	padding: 6px;
	margin-bottom: 10px;
}
.buttons .left {
	float: left;
	text-align: left;
}
.buttons .right {
	float: right;
	text-align: right;
}
.buttons .center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.htabs {
	height: 30px;		
	line-height: 16px;
	border-bottom: 1px solid #DDDDDD;	
}
.htabs a {
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD; 
	background: #FFFFFF url('../image/mobile_store/tab.png') repeat-x;
	padding: 7px 15px 6px 15px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #000000;
	margin-right: 2px;
}
.htabs a.selected {
	padding-bottom: 7px;
	background: #FFFFFF;
}
.tab-content {
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	padding: 10px;
	margin-bottom: 20px;
	z-index: 2;
	overflow: auto;
}

.row-title {
	border: 1px solid #DBDEE1;
	padding: 8px 8px 8px 22px;
	font-weight: bold;
	font-size: 13px;
	color: #555555;
	margin-bottom: 5px;
	cursor: pointer;
	background: #F8F8F8 url('../image/mobile_store/arrow-right.png') 10px 50% no-repeat;
}
.row-title.no-mb {
	margin-bottom: 0px;
}
.row-title.active {
	background: #F8F8F8 url('../image/mobile_store/arrow-down.png') 7px 50% no-repeat;
}
.row-content {
	border: 1px solid #DBDEE1;
	padding: 5px 10px 5px 10px;
	margin-bottom: 5px;
	display: none;
	overflow: auto;
}

.row-content.active {
	display: block;
}

.row-content.no-bt {
	border-top: none;
}


/*
.row-title {
	width: 100%;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 3px;
	overflow: auto;
}

.row-content {
	padding: 5px 10px 5px 10px;
	border: 1px solid #DDDDDD;
	margin-bottom: 10px;
}


#tab-review {
	display: none;
}
*/

/* box */
.android-box {
	margin-bottom: 10px;
}

.box {
	margin-bottom: 20px;
}
.box .box-heading {
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
	border: 1px solid #DBDEE1;
	background: url('../image/background.png') repeat-x;
	/*background: url('../image/fs-product-box-heading-bg.png') repeat;*/
	padding: 8px 10px 7px 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	color: #365899;
	text-shadow: #fff 1px 1px 1px;
}
.box-heading .category-arrow{
	float: right;
	width: 16px;
	height: 16px;
}
.category-arrow.up{
	background: url('../image/mobile_store/category-arrow-up.png') no-repeat;
}

.category-arrow.down{
	background: url('../image/mobile_store/category-arrow-down.png') no-repeat;
}

.box .box-content {
	background: #FFFFFF;
	border-left: 1px solid #DBDEE1;
	border-right: 1px solid #DBDEE1;
	border-bottom: 1px solid #DBDEE1;
	padding: 10px;
	-webkit-border-radius: 0px 0px 7px 7px;
	-moz-border-radius: 0px 0px 7px 7px;
	-khtml-border-radius: 0px 0px 7px 7px;
	border-radius: 0px 0px 7px 7px;
	-webkit-box-shadow: 0 8px 6px -6px #C0BCBC;
    -moz-box-shadow: 0 8px 6px -6px #C0BCBC;
    box-shadow: 0 8px 6px -6px #C0BCBC;
}
/* box products */
.box-product {
	width: 100%;
	overflow: auto;
}
.box-product > div {
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	margin-bottom: 20px;	
}
#column-left + #column-right + #content .box-product > div {
	width: 119px;
}
.box-product .image {
	display: block;
	margin-bottom: 0px;
}
.box-product .image img {
	padding: 3px;
	border: 1px solid #E7E7E7;
}
.box-product .name a {
	color: #38B0E3;
	font-weight: bold;
	text-decoration: none;
	display: block;
	margin-bottom: 4px;
}
.box-product .price {
	display: block;
	font-weight: bold;
	color: #333333;
	margin-bottom: 4px;
}
.box-product .price-old {
	color: #F00;
	text-decoration: line-through;
}
.box-product .price-new {
	font-weight: bold;
}
.box-product .rating {
	display: block;
	margin-bottom: 4px;
}

/* content */
#content .content {
	padding: 10px;
	overflow: auto;
	margin-bottom: 10px;
	border: 1px solid #EEEEEE;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 8px 6px -6px #C0B0B0;
    -moz-box-shadow: 0 8px 6px -6px #C0B0B0;
    box-shadow: 0 8px 6px -6px #C0B0B0;
}
#content .content .left {
	float: left;
	width: 49%;
}
#content .content .right {
	float: right;
	width: 49%;
}
/* category */
.category-info {
	overflow: auto;
	margin-bottom: 20px;
}
.category-info .image {
	float: left;
	padding: 5px;
	margin-right: 15px;
	border: 1px solid #E7E7E7;
}

.refine-list {
	overflow: auto;
}
.refine-list ul {
	float: left;
	list-style: none;
	padding: 0;
	margin: 0 0 2px 0;
}
.refine-list li {
	float: left;
	padding: 5px 20px 5px 20px; 
	margin-bottom: 3px;
	-webkit-box-shadow: 0 6px 6px -6px #C0BCBC;
    -moz-box-shadow: 0 6px 6px -6px #C0BCBC;
    box-shadow: 0 6px 6px -6px #C0BCBC;
}
.refine-list li:hover {
	-webkit-box-shadow: 0 8px 6px -6px #C0BCBC;
    -moz-box-shadow: 0 8px 6px -6px #C0BCBC;
    box-shadow: 0 8px 6px -6px #C0BCBC;
}
.refine-list li  a{
	text-decoration: none;
	color: #3B3B3B;
}

.refine-list li  a:hover{
}
.refine-list .div a {
	text-decoration: underline;
	font-weight: bold;
}


/* category list */
.category-list {
	overflow: auto;
}
.category-list ul {
	float: left;
	list-style: none;
	padding: 0;
	margin: 0;
	width:100%;
	overflow: hidden;
}
.category-list li {
	float: left;
	width: 100%;
	padding: 7px 20px 7px 20px; 
	margin-bottom: 10px;
	-webkit-box-shadow: 0 6px 6px -6px #C0BCBC;
    -moz-box-shadow: 0 6px 6px -6px #C0BCBC;
    box-shadow: 0 6px 6px -6px #C0BCBC;

	clear: both;
}
.category-list li:hover {
	-webkit-box-shadow: 0 8px 6px -6px #C0BCBC;
    -moz-box-shadow: 0 8px 6px -6px #C0BCBC;
    box-shadow: 0 8px 6px -6px #C0BCBC;
}
.category-list a{
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #3B3B3B;
}

.category-list a:hover{
}
.category-list .div a {
	text-decoration: underline;
	font-weight: bold;
}

/* list links */
.link-list {
	overflow: auto;
}
.link-list ul {
	float: left;
	list-style: none;
	padding: 0;
	margin: 0;
	width:100%;
	overflow: hidden;
}
.link-list li {
	float: left;
	width: 100%;
	padding: 7px 20px 7px 20px; 
	margin-bottom: 5px;
	-webkit-box-shadow: 0 6px 6px -6px #C0BCBC;
    -moz-box-shadow: 0 6px 6px -6px #C0BCBC;
    box-shadow: 0 6px 6px -6px #C0BCBC;

	clear: both;
}
.link-list li:hover {
	-webkit-box-shadow: 0 8px 6px -6px #C0BCBC;
    -moz-box-shadow: 0 8px 6px -6px #C0BCBC;
    box-shadow: 0 8px 6px -6px #C0BCBC;
}
.link-list a{
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #3B3B3B;
}

.link-list a:hover{
}
.link-list .div a {
	text-decoration: underline;
	font-weight: bold;
}


/* manufacturer */
.manufacturer-list {
	border: 1px solid #DBDEE1;
	padding: 5px;
	overflow: auto;
	margin-bottom: 20px;
}
.manufacturer-heading {
	background: #F8F8F8;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 8px;
	margin-bottom: 6px;
}
.manufacturer-content {
	padding: 8px;
}
.manufacturer-list ul {
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 10px;
}
/* product */
.product-filter {
	border-bottom: 1px solid #DCDCDC;
	padding-bottom: 5px;
	overflow: auto;
}
.product-filter .display {
	margin-right: 15px;
	float: left;
	padding-top: 4px;
	color: #333;
}
.product-filter .display a {
	font-weight: normal;
}
.product-filter .sort {
	float: right;
	color: #333;
	font-weight: normal;
}
.product-filter .limit {
	margin-left: 15px;
	float: right;
	color: #333;
	font-weight: normal;
}
.product-compare {
	padding-top: 1px;
	margin-bottom: 5px;
	font-weight: bold;
}
.product-compare a {
	text-decoration: none;
	font-weight: bold;
}

.product-list .image {
	/*margin-right: 10px;*/
}
.product-list .image img {
	padding: 3px;
	/*
	border: 1px solid #E7E7E7;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	*/
}
.product-list .name {
	margin-bottom: 3px;
    min-height: 100px;
}
.product-list .name a {
	color: #38B0E3;
	font-size:12px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}
.product-list .description {
	line-height: 16px;
	margin-bottom: 10px;
	color: #4D4D4D;
}
.product-list .rating {
	color: #7B7B7B;
}
.product-list .price {
	/*float: left;*/
	text-align: center;
	color: #365899;
	font-size: 12px;
	padding: 5px 10px 5px 10px;
	overflow: auto;
/*	-webkit-box-shadow: 0 6px 6px -6px #C0BCBC;
    -moz-box-shadow: 0 6px 6px -6px #C0BCBC;
    box-shadow: 0 6px 6px -6px #C0BCBC;*/
    min-height: 43px;
    border-bottom: 1px solid #eeeeee;
    display: table;
    margin: 0 auto;
}
.product-list .price-old {
    font-size: 10px;
    color: #F00;
    text-decoration: line-through;
    /*clear: both;*/
    margin-right: 10px;
    display: inline-block;
}
.product-list .price-new {
	/*float: left;*/
	font-weight: normal;
	/*clear: both;*/
    display: inline-block;
}
.product-list .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #BBBBBB;
}
.product-list .cart {
    /*float:right;*/
	margin: 0 auto;
    -webkit-box-shadow: 0 6px 6px -6px #C0BCBC;
    -moz-box-shadow: 0 6px 6px -6px #C0BCBC;
    box-shadow: 0 6px 6px -6px #C0BCBC;
    padding: 10px;
}
.product-list .wishlist, .product-list .compare {
	margin-bottom: 3px;
}
.product-list .wishlist a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') left center no-repeat;
}
.product-list .compare a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') left 60% no-repeat;
}

.product-list .social{
	float:left;
	width: 100%;
	clear: both;
	border: 1px solid #D8DFEA;
	border-left: none;
	border-right: none;
	padding: 2px 2px;
	margin-bottom: 3px;
	margin-top: 5px;
}

.product-grid {
	width: 100%;
	overflow: auto;
}
.product-grid > div {
	width: 160px;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 15px;
	padding: 0 0 5px 5px;
}
#column-left + #column-right + #content .product-grid > div {
	width: 125px;
}
.product-grid .image {
	display: block;
	margin-bottom: 5px;
	border:1px solid #ECEAEB;
	-webkit-box-shadow: 0 8px 6px -6px #C0BCBC;
    -moz-box-shadow: 0 8px 6px -6px #C0BCBC;
    box-shadow: 0 8px 6px -6px #C0BCBC;
	text-align: center;
}
.product-grid .image img {
	padding: 5px;
}

.product-grid .name a {
    position: relative;
	color: #365899;;
	font-weight: bold;
	text-decoration: none;
	display: block;
	padding: 4px 0;
	text-align: center;
	background: #F0F3F7;
	border: 1px solid #ECEAEB;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-shadow: #fff 1px 1px 1px;
}
.product-grid .description {
	display: none;
}
.product-grid .rating {
	display: block;
	margin-bottom: 4px;
}
.product-grid .price {
    position: absolute;
	display: block;
	padding: 5px;
	background: #F0F3F7;
	font-weight: bold;
	color: #365899;
	border-bottom:1px solid #ECEAEB;
	border-right:1px solid #ECEAEB;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
	/*
	-webkit-box-shadow: 0 8px 6px -5px #C0BCBC;
    -moz-box-shadow: 0 8px 6px -5px #C0BCBC;
    box-shadow: 0 8px 6px -5px #C0BCBC;
	*/
}
.product-grid .price-old {
    float: left;
	color: #F00;
	text-decoration: line-through;
}
.product-grid .price-new {
    float: left;
	font-weight: bold;
	clear: both;
}
.product-grid .price .price-tax {
	display: none;
}
.product-grid .cart {
    height: 26px;
	background: url('../image/mobile_store/grid-add-to-cart-bg.png') left top repeat;
	border: 1px solid #D8DFEA;
	border-top: none;
	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	margin-bottom: 3px;

}
.product-grid .cart:hover {
	-webkit-box-shadow: 0 8px 6px -6px #C0BCBC;
    -moz-box-shadow: 0 8px 6px -6px #C0BCBC;
    box-shadow: 0 8px 6px -6px #C0BCBC;
}

.product-grid .wishlist, .product-grid .compare {
	margin-bottom: 3px;
}
.product-grid .wishlist a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') left center no-repeat;
}
.product-grid .compare a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') left center no-repeat;
}

/* autosuggest search result */
.autosuggest-list > div {
	overflow: auto;
	padding: 3px 3px;
	background: #fff;
	border-bottom: 1px solid #CBCBCB;
}

.autosuggest-list > div:hover {
	background: #EEEEEE;
}

.autosuggest-list > div.no-borders {
	overflow: auto;
	margin-bottom: 15px;
	padding: 0;
	background: #fff;
	border: none;
	border-radius: none;
}
.autosuggest-list .left {
	float: left;
	margin-left: 15px;
}
.autosuggest-list .right {
	float: left;
	margin-left: 15px;
}
.autosuggest-list > div + div {
	border-top: 1px solid #EEEEEE;
	padding-top: 3px;
}
.autosuggest-list .image {
	float: left;
	margin-right: 10px;
}
.autosuggest-list .image img {
	padding: 3px;
	/*
	border: 1px solid #E7E7E7;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	*/
}
.autosuggest-list .name {
	margin-bottom: 3px;
}
.autosuggest-list .name a {
	color: #38B0E3;
	font-size:13px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}
.autosuggest-list .description {
	line-height: 15px;
	margin-bottom: 10px;
	color: #4D4D4D;
}
.autosuggest-list .rating {
	color: #7B7B7B;
}
.autosuggest-list .price {
	float: left;
	text-align: left;
	color: #365899;
	font-weight:bold;
	font-size: 14px;
	padding: 5px 15px 5px 15px;
	overflow: auto;
	-webkit-box-shadow: 0 6px 6px -6px #C0BCBC;
    -moz-box-shadow: 0 6px 6px -6px #C0BCBC;
    box-shadow: 0 6px 6px -6px #C0BCBC;
}
.autosuggest-list .price-old {
	color: #F00;
	text-decoration: line-through;
}
.autosuggest-list .price-new {
	font-weight: bold;
}

.autosuggest-list .cart {
    float:right;
	margin: 0 5px 0 10px;
}


/* Product */
.product-info {
	overflow: auto;
}
.product-info > .left {
	float: left;
	margin-right: 15px;
}
.product-info > .left + .right {
	margin-left: 120px;
}
.product-info .image {
	border: 1px solid #E7E7E7;
	float: left;
	margin: 2px 5px 0 0;
	text-align: center;
	-webkit-box-shadow: 0 8px 6px -6px #C0BCBC;
    -moz-box-shadow: 0 8px 6px -6px #C0BCBC;
    box-shadow: 0 8px 6px -6px #C0BCBC;
}
.product-info .more-images {
    position: absolute;
	float: right;
	margin-top: -38px;
	width: 48px;
	height: 48px;
	background: url('../image/mobile_store/fs-more-images.png') left top no-repeat;
	cursor: pointer;
	opacity:0.7;
	filter:alpha(opacity=70); 
}
.product-info .more-images:hover {
	opacity:1;
	filter:alpha(opacity=100);
}
.product-info .more-images span{
    float: left;
	background: #70B236;
	color: #FFF;
	font-weight: bold;
	padding: 2px;
	border-radius: 10px;
	-moz-border-radius:10px;
	-webkit-border-radius: 10px;
}


.product-info .description {
	border-top: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
	padding: 5px 5px 10px 5px;
	margin-bottom: 10px;
	line-height: 20px;
	color: #4D4D4D;
	overflow: auto;
}
.product-info .description span {
	color: #38B0E3;
}
.product-info .description a {
	color: #4D4D4D;
	text-decoration: none;
}
.product-info .price {
	overflow: auto;
	border-bottom: 1px solid #E7E7E7;
	padding: 0px 5px 10px 5px;
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: bold;
	color: #333333;
}
.product-info .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product-info .price-new {
	
}
.product-info .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .reward {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .discount {
	font-weight: normal;
	font-size: 12px;
	color: #4D4D4D;
}
.product-info .options {
	border-bottom: 1px solid #E7E7E7;
	padding: 0px 5px 10px 5px;
	margin-bottom: 10px;
	color: #000000;
}
.product-info .option-image {
	margin-top: 3px;
	margin-bottom: 10px;
}
.product-info .option-image label {
	display: block;
	width: 100%;
	height: 100%;
}
.product-info .option-image img {
	margin-right: 5px;
	border: 1px solid #CCCCCC;
	cursor: pointer;
}
.product-info .cart {
	border-bottom: 1px solid #E7E7E7;
	padding: 0px 5px 10px 5px;
	margin-bottom: 20px;
	color: #4D4D4D;
	overflow: auto;
}
.product-info .cart div {
	float: left;
	vertical-align: middle;
}
.product-info .cart div > span {
	padding-top: 7px;
	display: block;
	color: #999;
}
.product-info .cart .minimum {
	padding-top: 5px;
	font-size: 11px;
	color: #999;
	clear: both;
}
.product-info .review {
	color: #4D4D4D;
	border-top: 1px solid #E7E7E7;
	border-left: 1px solid #E7E7E7;
	border-right: 1px solid #E7E7E7;
	margin-bottom: 10px;
}
.product-info .review > div {
	padding: 8px;
	border-bottom: 1px solid #E7E7E7;
	line-height: 20px;
}
.product-info .review > div > span {
	color: #38B0E3;
}
.product-info .review .share {
	overflow: auto;
	line-height: normal;
}
.product-info .review .share a {
	text-decoration: none;
}
.attribute {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.attribute thead td, .attribute thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.attribute tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: right;
	width: 20%;
}
.attribute td {
	padding: 7px;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.compare-info {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.compare-info thead td, .compare-info thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.compare-info tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: right;
}
.compare-info td {
	padding: 7px;
	width: 20%;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.compare-info .name a {
	font-weight: bold;
}
.compare-info .price-old {
	font-weight: bold;
	color: #F00;
	text-decoration: line-through;
}
.compare-info .price-new {
	font-weight: bold;
}
/* wishlist */
.wishlist-product table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.wishlist-product td {
	padding: 7px;
}
.wishlist-product thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-product thead .remove, .wishlist-product thead .image, .wishlist-product thead .cart {
	text-align: center;
}
.wishlist-product thead .name, .wishlist-product thead .model, .wishlist-product thead .stock {
	text-align: left;
}
.wishlist-product thead .quantity, .wishlist-product thead .price, .wishlist-product thead .total {
	text-align: right;
}
.wishlist-product tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-product tbody .remove {
	vertical-align: middle;
}
.wishlist-product tbody .remove, .wishlist-product tbody .image, .wishlist-product tbody .cart {
	text-align: center;
}
.wishlist-product tbody .name, .wishlist-product tbody .model, .wishlist-product tbody .stock {
	text-align: left;
}
.wishlist-product tbody .quantity, .wishlist-product tbody .price, .wishlist-product tbody .total {
	text-align: right;
}
.wishlist-product tbody .price s {
	color: #F00;
}
.login-content {
	margin-bottom: 20px;
	overflow: auto;
}
.login-content .left {
	float: left;
	width: 48%;
}
.login-content .right {
	float: right;
	width: 48%
}
.login-content .left .content, .login-content .right .content {
	min-height: 190px;
}
/* orders */
.order-list {
	margin-bottom: 10px;
}
.order-list .order-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.order-list .order-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.order-list .order-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.order-list .order-content div {
	float: left;
	width: 33.3%;
}
.order-list .order-info {
	text-align: right;
}
.order-detail {
	background: #EFEFEF;
	font-weight: bold;
}
/* returns */
.return-list {
	margin-bottom: 10px;
}
.return-list .return-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.return-list .return-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.return-list .return-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.return-list .return-content div {
	float: left;
	width: 33.3%;
}
.return-list .return-info {
	text-align: right;
}
.return-product {
	overflow: auto;
	margin-bottom: 20px;
}
.return-name {
	float: left;
	width: 33.3%;
}
.return-model {
	float: left;
	width: 33.3%;
}
.return-quantity {
	float: left;
	width: 33.3%;
}
.return-detail {
	overflow: auto;
	margin-bottom: 20px;
}
.return-reason {
	float: left;
	width: 33.3%;
}
.return-opened {
	float: left;
	width: 33.3%;
}
.return-opened textarea {
	width: 98%;
	vertical-align: top;
}
.return-remove {
	float: left;
	width: 33.3%;
	padding-top: 90px;
	text-align: center;
	vertical-align: middle;
}
.return-additional {
	overflow: auto;
	margin-bottom: 20px;
}
.return-comment {
	float: left;
	width: 49%;
}
.return-captcha {
	float: right;
	width: 49%;
}
.download-list {
	margin-bottom: 10px;
}
.download-list .download-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.download-list .download-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.download-list .download-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.download-list .download-content div {
	float: left;
	width: 33.3%;
}
.download-list .download-info {
	text-align: right;
}
/* cart */
.cart-info table {
	width: 100%;
	margin-bottom: 20px;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}
.cart-info td {
	padding: 2px;
	font-size: 10px;
}
.cart-info thead td {
	color: #4D4D4D;
	font-size: 12px;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info thead .remove, .cart-info thead .image {
	text-align: center;
}
.cart-info thead .name, .cart-info thead .model {
	text-align: left;
}
.cart-info thead .quantity, .cart-info thead .price, .cart-info thead .total {
	text-align: right;
}
.cart-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info tbody .remove {
	vertical-align: middle;
}
.cart-info tbody .remove, .cart-info tbody .image {
	text-align: center;
}
.cart-info tbody .name, .cart-info tbody .model {
	text-align: left;
}
.cart-info tbody .quantity, .cart-info tbody .price, .cart-info tbody .total {
	text-align: right;
}
.cart-info tbody span.stock {
	color: #F00;
	font-weight: bold;
}
.cart-module .cart-heading {
	border: 1px solid #DBDEE1;
	padding: 8px 8px 8px 22px;
	font-weight: bold;
	font-size: 13px;
	color: #555555;
	margin-bottom: 10px;
	cursor: pointer;
	background: #F8F8F8 url('../image/mobile_store/arrow-right.png') 10px 50% no-repeat;
}
.cart-module .active {
	background: #F8F8F8 url('../image/mobile_store/arrow-down.png') 7px 50% no-repeat;
}
.cart-module .cart-content {
	padding: 0px 0px 15px 0px;
	display: none;
	overflow: auto;
}
.cart-total {
	border-top: 1px solid #DDDDDD;
	overflow: auto;
	padding-top: 8px;
	margin-bottom: 15px;
}
.cart-total table {
	float: right;
}
.cart-total td {
	padding: 3px;
	text-align: right;
}
/* checkout */
.checkout-heading {
	background: #F8F8F8;
	border: 1px solid #DBDEE1;
	padding: 8px;
	font-weight: bold;
	font-size: 13px;
	color: #555555;
	margin-bottom: 15px;
}
.checkout-heading a {
	float: right;
	margin-top: 1px;
	font-weight: normal;
	text-decoration: none;
}
.checkout-content {
	padding: 10px 7px 7px 7px;
	margin-bottom: 10px;
	display: none;
	overflow: auto;
	border: 1px solid #CBCBCB;
	-webkit-border-radius: 0px 0px 7px 7px;
	-moz-border-radius: 0px 0px 7px 7px;
	-khtml-border-radius: 0px 0px 7px 7px;
	border-radius: 0px 0px 7px 7px;
	-webkit-box-shadow: 0 8px 6px -6px #C0BCBC;
    -moz-box-shadow: 0 8px 6px -6px #C0BCBC;
    box-shadow: 0 8px 6px -6px #C0BCBC;
	
}
.checkout-content .left {
	float: left;
	width: 48%;
}
.checkout-content .right {
	float: right;
	width: 48%;
}
.checkout-content .buttons {
	clear: both;
}
.checkout-product table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.checkout-product td {
	padding: 7px;
}
.checkout-product thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product thead .name, .checkout-product thead .model {
	text-align: left;
}
.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {
	text-align: right;
}
.checkout-product tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product tbody .name, .checkout-product tbody .model {
	text-align: left;
}
.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {
	text-align: right;
}
.checkout-product tfoot td {
	text-align: right;
	border-bottom: 1px solid #DDDDDD;
}
.contact-info {
	overflow: auto;
}
.contact-info .left {
	float: left;
	width: 48%;
}
.contact-info .right {
	float: left;
	width: 48%;
}
.sitemap-info {
	overflow: auto;
	margin-bottom: 40px;
}
.sitemap-info .left {
	float: left;
	width: 48%;
}
.sitemap-info .right {
	float: left;
	width: 48%;
}
/* footer */ 
#footer {
	clear: both;
	overflow: auto;
	min-height: 100px;
	padding: 20px;
	border-top: 1px solid #DBDEE1;
	border-bottom: 1px solid #DBDEE1;
	background: #F8F8F8;
}
#footer h3 {
	color: #000000;
	font-size: 12px;
	margin-top: 0px;
	margin-bottom: 8px;
}
#footer .column {
	float: left;
	width: 49%;
	min-height: 100px;
}
#footer .column ul {
	margin-top: 0px;
	margin-left: 0px;
	padding-left: 0px;
	list-style: none;
}
#footer .column ul li {
	margin-bottom: 3px;
}
#footer .column a {
	text-decoration: none;
	color: #000;
}
#footer .column a:hover {
	text-decoration: underline;
}

#footer .about-info {
	float: right;
	width: 60%;
}
#powered {
	margin-top: 5px;
	text-align: right;
	clear: both;
}
/* banner */
.banner div {
	text-align: center;
	width: 100%;
}
.banner div img {
	margin-bottom: 20px;
}

.highlight { 
	text-decoration: underline;
	font-weight: bold;
	/*
	background-color: #F7941D;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	*/
}
#spc_fc_comments, #featured_fc_comments, #latest_fc_comments, #bestsellers_fc_comments{
	display: none;
}

.facebook-comments{
	display:none;
	height: 250px;
	overflow: hidden;
}
.facebook-comments-button {
	float: right;
	height: 18px;
	min-width: 30px;
	/*background: url('../image/fs-mail-comments.png') center right no-repeat;*/
	background: #ECEEF5 url('../image/mobile_store/fs-comments-bg.png') center right no-repeat;
	/*background: #ECEEF5 url('../image/facebook_comment_add.png') center right no-repeat;*/
	padding: 3px 5px 0px 5px;
	font-family: Arial, sans-serif;
	font-size: 11px;
	color: #6176C9;
	border: 1px solid #CAD4E7;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	cursor: pointer;
}


/* login page */

#content .content.login-box {
	background: #FDFDFD;
	border: 1px solid #D5D5D5;
	padding-top: 20px;
	-webkit-box-shadow: 0 8px 6px -6px #C0BCBC;
    -moz-box-shadow: 0 8px 6px -6px #C0BCBC;
    box-shadow: 0 8px 6px -6px #C0BCBC;
}

#content .content.login-box  input {
	background: #F3F3F3;
	width: 90%;
	height: 23px;

}

.login-box .login-title-box {
	position: absolute;
	margin-left: 0px;
	background: url('../image/mobile_store/login-title-box.png') center top no-repeat;
	width: 100%;
	height: 45px;
}

h2.login-header {
	position: absolute;
	background: url('../image/mobile_store/login-title-box.png') center top no-repeat;
	width: 48%;
	height: 45px;
	margin-top: -8px;
	text-align: center;
	color: #fff;
	font-size: 12px;
	font-weight: normal;
	padding-top: 15px;
}

/* facebook notification */
.UIBeeper{
	width: 100%;
	left: 0px;
	top: 40px;
	position: fixed;
	z-index: 99;
	display: none;
}
.UIBeeper .UIBeeper_Full{
	background-color:#E1E6EE;
	border:1px solid #99A8C7;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	margin:0;
	padding:3px;
}
.UIBeeper .UIBeeper_Full:hover{
	/* change background color on mouseover */
	background-color:#CAD1DE;
}
.UIBeeper .UIBeep_Bottom{
	border-bottom:none;
}
.UIBeeper .UIBeep_Selected{
	background:#CAD1DE;
}
.UIBeeper .UIBeep_Top{
	padding-top:0;
}
.UIBeeper .UIBeep_Bottom{
	padding-bottom:0;
}
.UIBeep{
	background:#E1E6EE;
	border-bottom:1px solid #BFCADE;
	overflow:hidden;
	padding:3px 0;
	clear:right;
}
.UIBeep .UIBeep_Icon{
	float:left;
	width:20px;
	height:20px;
	text-align:center;
	margin:5px 5px;
}
.UIBeep_Selected .UIBeep_Icon{
	margin-right:2px;
}
.image2{
	/* icon within the beeper */
	background: url('../image/mobile_store/success.png') left center no-repeat;
	display:inline-block;
	height:16px;
	width:16px;
}
.UIBeeper .UIBeep  .beeper_x{
/* close button */
	float:right;
	height:16px;
	width:16px;
	margin-top:6px;
	background:url('../image/mobile_store/fs_notify_close.gif') no-repeat;
	cursor: pointer;
	visibility:hidden;
}
.UIBeep .beeper_x:hover{
	/* close button on mouseover */
	background:url('../image/fs_notify_closehover.gif') no-repeat !important;
}
.UIBeep_Selected .beeper_x{
	display:block !important;
	visibility:visible !important;
	margin-left:4px;
}
#notify_text {
    margin: 3px;
	color:#3B5998;
}

/*progress bar */
.progress-bar{
		background:#FFF;
		width:490px;
		height: 2px;
		font-size:80%;
		margin-top:3px;
		position:relative;
		overflow: hidden;
}


.pbar {
	overflow: hidden;
	display: block;
	height: 2px;
	background: #70B236;
}

.percent {
	position:relative;
	text-align: right;
}

/* scrollbars */
/* Tiny Scrollbar */
#container .viewport { 
	height: 1400px; 
	overflow: hidden; 
	position: relative; 
}
#container .overview { 
	list-style: none; 
	position: absolute; 
	left: 0; 
	top: 0; 
	padding: 0; 
	margin: 0; 
}
#container .scrollbar{ 
	background: #transparent; 
	position: absolute;
	top:0;
	left:751px;	
	width: 7px; 
	z-index:3000;
}
#container .track { 
	background: transparent; 
	height: 100%; 
	width:7px; 
	position: relative; 
	padding: 0; 
}
#container .thumb { 
	background: #919295; 
	height: 250px !important; 
	width: 7px; 
	cursor: pointer; 
	overflow: hidden; 
	position: absolute; 
	top: 0; 
	left: 0px; 
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	opacity:0.7;
	filter:alpha(opacity=70); /* For IE8 and earlier */
}

#container .thumb:hover {
	opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
} 

#container .disable { display: none; }

.image-additional {
	width: 100%;
	clear: both;
	overflow: hidden;
}

.image-additional ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.image-additional ul li {
	float: left;
	display: block;
	padding: 1px;
}

.borders-inside:last-child{
	border-bottom: none;
}

.android-counter {
	height: 30px;
	overflow: auto;
}
.as-counter{
	float: left;
	background: url('../image/mobile_store/mobile-store-time-left.png') 10px center no-repeat;
	text-align: left;
	color: #365899;
	padding: 5px 20px 5px 35px;
	overflow: auto;
	-webkit-box-shadow: 0 6px 6px -6px #C0BCBC;
    -moz-box-shadow: 0 6px 6px -6px #C0BCBC;
    box-shadow: 0 6px 6px -6px #C0BCBC;
}

.as-counter .digit_time {
	font-size: 13px;
	font-weight: bold;
}

.as-counter .time_unit {
	text-transform: lowercase;
}


/* photoswipe */
body.ps-active, body.ps-building, div.ps-active, div.ps-building
{
	background: #000;
	overflow: hidden;
}
body.ps-active *, div.ps-active *
{ 
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
	display: none;
}
body.ps-active *:focus, div.ps-active *:focus 
{ 
	outline: 0; 
}


/* Document overlay */
div.ps-document-overlay 
{
	background: #000;
}


/* UILayer */
div.ps-uilayer { 
	
	background: #000;
	cursor: pointer;
	
}


/* Zoom/pan/rotate layer */
div.ps-zoom-pan-rotate{
	background: #000;
}
div.ps-zoom-pan-rotate *  { display: block; }


/* Carousel */
div.ps-carousel-item-loading 
{ 
	background: url('../image/mobile_store/photoswipe/loader.gif') no-repeat center center; 
}

div.ps-carousel-item-error 
{ 
	background: url('../image/mobile_store/photoswipe/error.gif') no-repeat center center; 
}


/* Caption */
div.ps-caption
{ 
	background: #000000;
	background: -moz-linear-gradient(top, #303130 0%, #000101 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303130), color-stop(100%,#000101));
	border-bottom: 1px solid #42403f;
	color: #ffffff;
	font-size: 13px;
	font-family: "Lucida Grande", Helvetica, Arial,Verdana, sans-serif;
	text-align: center;
}
div.ps-caption *  { display: inline; }

div.ps-caption-bottom
{ 
	border-top: 1px solid #42403f;
	border-bottom: none;
	min-height: 44px;
}

div.ps-caption-content
{
	padding: 13px;
	display: block;
}


/* Toolbar */
div.ps-toolbar
{ 
	background: #000000;
	background: -moz-linear-gradient(top, #303130 0%, #000101 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303130), color-stop(100%,#000101));
	border-top: 1px solid #42403f;
	color: #ffffff;
	font-size: 13px;
	font-family: "Lucida Grande", Helvetica, Arial,Verdana, sans-serif;
	text-align: center;
	height: 44px;
	display: table;
	table-layout: fixed;
}
div.ps-toolbar * { 
	display: block;
}

div.ps-toolbar-top 
{
	border-bottom: 1px solid #42403f;
	border-top: none;
}

div.ps-toolbar-close, div.ps-toolbar-previous, div.ps-toolbar-next, div.ps-toolbar-play
{
	cursor: pointer;
	display: table-cell;
}

div.ps-toolbar div div.ps-toolbar-content
{
	width: 44px;
	height: 44px;
	margin: 0 auto 0;
	background-image: url('../image/mobile_store/photoswipe/icons.png');
	background-repeat: no-repeat;
}

div.ps-toolbar-close div.ps-toolbar-content
{
	background-position: 0 0;
}

div.ps-toolbar-previous div.ps-toolbar-content
{
	background-position: -44px 0;
}

div.ps-toolbar-previous-disabled div.ps-toolbar-content
{
	background-position: -44px -44px;
}

div.ps-toolbar-next div.ps-toolbar-content
{
	background-position: -132px 0;
}

div.ps-toolbar-next-disabled div.ps-toolbar-content
{
	background-position: -132px -44px;
}

div.ps-toolbar-play div.ps-toolbar-content
{
	background-position: -88px 0;
}

/* Hi-res display */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 240dpi)
{
	div.ps-toolbar div div.ps-toolbar-content
	{
		-moz-background-size: 176px 88px;
		-o-background-size: 176px 88px;
		-webkit-background-size: 176px 88px;
		background-size: 176px 88px;
		background-image: url('../image/mobile_store/photoswipe/icons@2x.png');
	}
}

/* DNews */

.news-wrapper
{
	position: relative;
	overflow: hidden;
	margin-top: 3px;
	margin-bottom: 10px;
}
.news-title
{
	float: left;
	background-image: url('../image/dnews/title-news.png');
	background-color: #2f2f2f;
	width: 18px;
	height: 36px;
	z-index: 11;
	border-radius-topleft: 3px;
	border-radius-bottomleft: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
}
.news
{
	background-color: #FFF;
	border: 1px solid #DBDEE1;
	border-left: none;
	height: 34px;
	border-radius-topright: 4px;
	border-radius-bottomright: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	overflow: hidden;
}
.headline
{
	position: absolute;
	width: 95%;
	font-size: 10pt;
	height: 10px;
	padding: 8px 12px 8px 8px;
	overflow: hidden;
	z-index: 1;
	/*overflow: hidden;*/
}
.headline a
{
	padding-left: 5px;	
}
.headline a, .headline a:active, .headline a:visited
{
	color: #1e1e1e;
	text-decoration: none;
}
.headline a:hover
{
	color: #163b5b;
	text-decoration: none;
}

.news-wrapper.multiple
{
	overflow: hidden;
}
.news-wrapper.multiple .news-title
{
	float: left;
}
.news-wrapper.multiple .news
{
	float: left;
	width: 2000px;
}
.news-wrapper.multiple .headline
{
	position: relative;
	float: left;
	margin-left: 0px;
}
.mennyit_vasarol{
    width:25px;
}