.trans-button .icon-name {
	display: block;
	width: 100%;
	height: 12px;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	color: #A4A4A4;
}

.product-list > div {
	float: left;
	overflow: auto;
	padding: 5px 5px;
	background: #fff;
	border-right: 1px solid #EEEEEE;	
	width: 19%;
    text-align: center;

}

.product-list > div.no-borders {
	overflow: auto;
	padding: 0;
	background: #fff;
	border: none;
	border-radius: none;
    text-align: center;

}
.product-list .left {
	float: left;
	margin-left: 15px;
}
.product-list .right {
	float: left;
	margin-left: 15px;
}
.product-list > div + div {
	border-right: 1px solid #EEEEEE;
	padding-top: 10px;
}

.product-list > div + div:nth-child(5n+5) {
	border-right: none;
	padding-left: 5px;
}