/* Box products - Rács nézet */
.box-product-categories {
    width: 100%;

    font-size: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.box-product-categories * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 12px;
}

.box-product-categories > div {
    width: 190px;
    height: 190px;
    display: inline-block;
    vertical-align: top;
    margin-left: 13px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

.box-product .termek_tabban {
    padding: 3px 10px 10px 10px;
    margin-bottom: 25px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.box-product, .box-product * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 0;
}

.box-product * {
    font-size: 14px;
}

#column-left  + #content .box-product > div:not(.bx-wrapper) {
    width: 25%;
    display: inline-block;
    vertical-align: top;
}

.outer-box-product .box-product > div:not(.bx-wrapper) {
    width: 33.3%;
    display: inline-block;
    vertical-align: top;
}

.box-product .product-search {
    padding: 5px;
}

.box-product .image {
    display: block;
    margin-bottom: 0px;
    position: relative;
    text-align: center;
}

.box-product .name {
    min-height: 64px;
    text-align: center;
}

.box-product .image img {
    min-width: 83px;
    width: 100%;
    max-width: 150px;
    margin: 0 auto;
    padding: 3px;
    border: 1px solid #E7E7E7;
}
.box-product .name a {
    font-size: 12px;
    color: #000000;
    /*font-weight: bold;*/
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

.box-product .termek_tabban .price_netto span:first-child {
    font-size: 12px;
}

.box-product .ikonok {
    text-align: left;
    min-height: 17px;
}

.box-product .termek_tabban .price_netto span.price-tax {
    color: #000;
    font-size: 14px;
    font-weight: bold;
}

.box-product .termek_tabban:hover {
    background: #f5f5f5;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.box-product .termek_tabban .price {
    padding-top: 10px;
    border-top: 1px solid #dadada;
}

.box-product .termek_tabban .price, .box-product .termek_tabban .price span, .box-product  .price, .box-product  .price span {
    font-size: 18px;
    color: #333333;
    margin-bottom: 4px;
    text-align: center;
}
.box-product .price-old {
    color: #F00;
    text-decoration: line-through;
}
.box-product .price-new {
    /*font-weight: bold;*/
}
.box-product .cart{
    text-align: center;
}
.box-product .rating {
    display: block;
    margin-bottom: 4px;
}

.fb-like-box{
    margin-top: 13px;
}

/* Box products - Rács nézet -- VÉGE -- */