
/* Box category - kategóriák a bal oszlopban*/
.box-category {
    margin-top: 0;
}
.box-category ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.box-category > ul > li {

    width: 240px;
    padding: 0px 0px 10px 0px;
}
.box-category > ul > li + li {
    /*border-top: 1px solid #EEEEEE;*/
}



.box-category > ul > li > a {
    /*-webkit-border-radius: 7px 7px 0px 0px;
  -moz-border-radius: 7px 7px 0px 0px;
  -khtml-border-radius: 7px 7px 0px 0px;
  border-radius: 7px 7px 0px 0px;
  border: 1px solid #DBDEE1;
  background: url('../image/background.png') repeat-x;*/
    display: block;
    width: 220px;
    background: #c5c5c5;
    border-bottom: 4px solid #ff0000;
    padding: 10px;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    color: #333;

    text-decoration: none;
    color: #333;
}
.box-category > ul > li ul {
    display: none;
}
.box-category > ul > li ul li > a.active span:before {
    content: '\2666\a0';
    color: #810000;
    font-size: 10px;
    position: relative;
    top:-1px;
}

.box-category > ul > li a.active {
    padding: 10px 0px 10px 10px;
    width: auto;
    border: none;
    background: #909090;
    font-weight: bold;
}
.box-category > ul > li a.active + ul {
    /*padding-top: 10px;*/
    display: block;
}
.box-category > ul > li ul > li  {
    padding: 1px 0px 0px 0px;
}

.box-category > ul > li ul > li a, .box-category > ul > li ul > li a.active {
    border-top: 1px solid #acacac;
}

.box-category > ul > li ul > li > a {
    width: auto;
    color: #000000;
    padding: 10px 0px 10px 10px;
    background: #dadada;
    text-decoration: none;
    display: block;
}
.box-category > ul > li ul > li > a:hover {
    background: #ededed;
    color: red;
    text-decoration: none;
    display: block;
}
.box-category > ul > li ul > li > a.active {
    padding: 10px 0px 10px 5px;
    width: auto;
    background: #ededed;
    /*color: red;*/
    font-weight: bold;
    display: block;
}

.menu-text-image-1.active-li * {
    background: #ededed;
}

/*.menu-text-image-1.active-li .menu-text-image-1.active-li * {
    background: #f5f5f5;
}*/

.box-category > ul > li > ul > li > ul > li > a > span {
    padding: 0px 0px 0px 8px;
}

.box-category > ul > li > ul > li > ul > li > ul > li > a > span {
    padding: 0px 0px 0px 16px;
}

.box-category > ul > li > ul > li > ul > li > ul > li > ul > li > a > span {
    padding: 0px 0px 0px 22px;
}





/* Box category -- VÉGE -- */