.felnott{
	/*position:absolute;
	left: 0;
	display:none;*/
    margin: 0 auto;
	/*z-index: 99999999999999999;
	width: 100%;
	height: 100%;*/
	background-color: #fff;
}

.felnott .box-heading {
	text-align: center;
}
.close-felnott {
	/*position: fixed;
	right:10%;
	top: 5px;
	display: block;
	height: 18px;
	cursor: pointer;
	color: #EC7700;
	font-weight:bold;
	text-decoration:none;
	z-index: 10;*/
}

a.close-felnott:hover {
	color:#FFF;
}

.dont-show {
	position: fixed;
	left:10%;
	top: 5px;
	display: block;
	height: 18px;
	cursor: pointer;
	color: #EC7700;
	font-weight:bold;
	text-decoration:none;
	z-index: 10;
}
			
a.dont-show:hover {
	color:#FFF;
}

#felnott-content{
    /*    position: fixed;
        top:  50%;
        left: 50%;
        margin-top: -<?php echo $css_move_up; ?>px;
        margin-left:-<?php echo $css_move_left; ?>px;*/
}