.q_details{float:right;color:#999;}
.q_q{margin-bottom:5px;}
.qa{margin-bottom:10px !important;}
.q_qt,.q_at{font-weight:bold;padding-right:5px;}
.q_qa,.q_aa{font-weight:bold;}
.q_qd,.q_ad{font-style:italic;}
.pull-left{float:left;}
.q_input{margin-bottom:15px;}
.q_input{margin-right:15px;}
.q_input_name{font-weight:bold;}
.q_note{font-size:80%;}
.q_input_question{width:100%;}
.clearfix:before,.clearfix:after{display:table;content:" "}.clearfix:after{clear:both}
input[type='tel'],input[type='email']{background:#F8F8F8;border:1px solid #CCCCCC;padding:3px;margin-left:0px;margin-right:0px;}
label.q_input_name,label.q_input_name.required{color:#000;}
label.q_input_name.required:before{content:"* ";color:#ff0000;}
