<div class="kiemelt_piros_hatter">

    <?php if (file_exists(DIR_TEMPLATE . $this->config->get('config_template') . '/template/module/arkiiratas.tpl')) {
        $arkiir = DIR_TEMPLATE. $this->config->get('config_template') . '/template/module/arkiiratas.tpl';
    } else {
        $arkiir = DIR_TEMPLATE.'default/template/module/arkiiratas.tpl';
    } ?>
    <?php include($arkiir); ?>

</div>
<script>
   // $(".kiemelt_piros_hatter").parent().css("border","2px solid #FFFF00");
</script>
