<span style='color: #000'>503 frames</span>	<span style='color: #900'>26,112 KB</span>	<span style='color: #090'>3,657.32 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />