
    <div class="box">

        <div id="mf-price" class="box-content box-filter_artol box-filter">

            <input type="text"  data-slider="true" data-slider-step="1" data-slider-range="<?php echo $beallitas['tol']?>,<?php echo $beallitas['ig']?>"
                   data-slider-highlight="true"
                   value="<?php echo $filter_artol; ?>" id="filter_artol"  />
        </div>


    </div>