<div class="box">
    <div class="box-content" style="margin-top: 20px;">
        <input type="button" id="szurok_torlese" class="button box-filter szurok_torlese" value="<?php echo $text_szurok_torlese; ?>" style="display: table; margin-bottom: 10px; margin-top: 10px; padding: 10px 0; width: 100%"/>
    </div>
</div>