<div class="box">
    <div class="box-content">
        <input type="button" class="button box-filter" value="Szűrés" style="margin: 0 auto; display: table; margin-bottom: 10px; margin-top: 10px; padding: 5px 9px;"/>
    </div>
</div>