﻿<?php echo $header; ?>

<script>
    var selectkivet = new Array();
    var tombszamlal = 0;
	<?php foreach ($filters as $filter) { ?>
		selectkivet[tombszamlal] = "<?php echo $filter?>";
		selectkivet[tombszamlal] = "<?php echo $filter['filter_select_id']?>";
		tombszamlal ++;
	<?php }?>
</script>

<div id="content">
  <div class="breadcrumb">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <?php echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
    <?php } ?>
  </div>
  <?php if ($error_warning) { ?>
  <div class="warning"><?php echo $error_warning; ?></div>
  <?php } ?>
  <div class="box">
    <div class="heading">
      <h1><img src="view/image/information.png" alt="" /> <?php echo $heading_title; ?></h1>
      <div class="buttons"><a onclick="$('#form').submit();" class="button"><?php echo $button_save; ?></a><a href="<?php echo $cancel; ?>" class="button"><?php echo $button_cancel; ?></a></div>
    </div>
    <div class="content">
      <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form">
        <table class="form">
          <tr>
            <td><span class="required">*</span> <?php echo $entry_group; ?></td>
            <td><?php foreach ($languages as $language) { ?>
              <input type="text" name="filter_group_description[<?php echo $language['language_id']; ?>][name]" value="<?php echo isset($filter_group_description[$language['language_id']]) ? $filter_group_description[$language['language_id']]['name'] : ''; ?>" />
              <img src="view/image/flags/<?php echo $language['image']; ?>" title="<?php echo $language['name']; ?>" /><br />
              <?php if (isset($error_name[$language['language_id']])) { ?>
              <span class="error"><?php echo $error_name[$language['language_id']]; ?></span><br />
              <?php } ?>
              <?php } ?>
            </td>


              <td class="left"><?php echo $entry_filter_select; ?>
                  <div id="selectem">

                  </div>
              </td>


          </tr>		  
          <tr>
            <td><?php echo $entry_sort_order; ?></td>
            <td><input type="text" name="sort_order" value="<?php echo $sort_order; ?>" size="1" /></td>
            <td></td>
          </tr>
        </table>
        <table id="filter" class="list">
          <thead>
            <tr>
              <td class="left"><span class="required">*</span> <?php echo $entry_name ?></td>
              <td class="right"><?php echo $entry_sort_order; ?></td>
              <td></td>
            </tr>
          </thead>
          <?php $filter_row = 0; ?>
          <?php foreach ($filters as $filter) { ?>
          <tbody id="filter-row<?php echo $filter_row; ?>">
            <tr>
              <td class="left"><input type="hidden" name="filter[<?php echo $filter_row; ?>][filter_id]" value="<?php echo $filter['filter_id']; ?>" />
                <?php foreach ($languages as $language) { ?>
                    <input type="text" name="filter[<?php echo $filter_row; ?>][filter_description][<?php echo $language['language_id']; ?>][name]" value="<?php echo isset($filter['filter_description'][$language['language_id']]) ? $filter['filter_description'][$language['language_id']]['name'] : ''; ?>" readonly="readonly"/>
                    <img src="view/image/flags/<?php echo $language['image']; ?>" title="<?php echo $language['name']; ?>" /><br />
                    <input type="hidden" name="filter[<?php echo $filter_row; ?>][filter_select_id]" value="<?php echo isset($filter['filter_select_id']) ? $filter['filter_select_id'] : ''; ?>">

                      <?php if (isset($error_filter[$filter_row][$language['language_id']])) { ?>
                        <span class="error"><?php echo $error_filter[$filter_row][$language['language_id']]; ?></span>
                    <?php } ?>
                <?php } ?>
              </td>




              <td class="right"><input type="text" name="filter[<?php echo $filter_row; ?>][sort_order]" value="<?php echo $filter['sort_order']; ?>" size="1" /></td>
              <td class="left"><a onclick="$('#filter-row<?php echo $filter_row; ?>').remove();" class="button"><?php echo $button_remove; ?></a></td>
            </tr>
          </tbody>
          <?php $filter_row++; ?>
          <?php } ?>
          <tfoot>
          <!--  <tr>
              <td colspan="2"></td>
              <td class="left"><a onclick="addFilter();" class="button"><?php echo $button_add_filter; ?></a></td>
            </tr>-->
          </tfoot>
        </table>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript"><!--


$(document).ready(function(){
	selectEpit();
});

var filter_row = <?php echo $filter_row; ?>;

function addFilter(nevtombje, select_filter_idja) {
	html  = '<tbody id="filter-row' + filter_row + '">';
	html += '  <tr>';	
    html += '    <td class="left"><input type="hidden" name="filter[' + filter_row + '][filter_id]" value="" />';
	<?php foreach ($languages as $language) { ?>
        if ( typeof(nevtombje) != "undefined" ){
            if (typeof(nevtombje[<?php echo $language['language_id']?>]) != "undefined") {
	            html += '    <input type="text" name="filter[' + filter_row + '][filter_description][<?php echo $language['language_id']; ?>][name]" value="'+nevtombje[<?php echo $language['language_id']?>]+ '"  readonly="readonly"/> <img src="view/image/flags/<?php echo $language['image']; ?>" title="<?php echo $language['name']; ?>" /><br/>';
                html += '    <input type="hidden" name="filter[' + filter_row + '][filter_select_id]" value='+select_filter_idja+'>';
            } else {
                html += '    <input type="text" name="filter[' + filter_row + '][filter_description][<?php echo $language['language_id']; ?>][name]" value=""  readonly="readonly"/> <img src="view/image/flags/<?php echo $language['image']; ?>" title="<?php echo $language['name']; ?>" /><br/>';

            }
        } else {
            html += '    <input type="text" name="filter[' + filter_row + '][filter_description][<?php echo $language['language_id']; ?>][name]" value=""  readonly="readonly"/> <img src="view/image/flags/<?php echo $language['image']; ?>" title="<?php echo $language['name']; ?>"  /><br/>';

        }
    <?php } ?>
	html += '    </td>';
	html += '    <td class="right"><input type="text" name="filter[' + filter_row + '][sort_order]" value="" size="1" /></td>';
	html += '     <td class="left"><a onclick="$(\'#filter-row' + filter_row + '\').remove();" class="button"><?php echo $button_remove; ?></a></td>';
	html += '  </tr>';	
    html += '</tbody>';
	
	$('#filter tfoot').before(html);
	
	filter_row++;
}

    function szuroHozzaad(obj, teljes){
        if (obj > 0) {
            selectkivet[tombszamlal] = obj;
            tombszamlal ++;
            var nevtomb = new Array();
            var select_filter_id;
            <?php foreach($select_filters as $sel_filt) {?>

            if (obj ==  <?php echo $sel_filt['filter_select_id']?> ){
                nevtomb['<?php echo $sel_filt['language_id']?>'] = "<?php echo $sel_filt['name']?>";
                select_filter_id = "<?php echo $sel_filt['filter_select_id']?>";
            }

            <?php }?>

            addFilter(nevtomb, select_filter_id);

    		selectEpit();
        }
    }

function selectEpit() {
  html1 = '<select name="select_filter" size="<?php echo $select_language_darab?>" id="szuro_hozzaad" onclick="szuroHozzaad(this.value)">';

       <?php foreach ($select_filters as $select_filter) { ?>
            <?php if ($this->config->get('config_language_id') == $select_filter['language_id']) {?>

                var mehet = true;
                if (tombszamlal > 0) {
                    for (var i in selectkivet) {
                        if (selectkivet[i] == <?php echo $select_filter['filter_select_id']; ?>) {
                            mehet = false;
                            break;
                        }
                    }
                }

                if (mehet) {
				    var nev = "<?php echo $select_filter['name']; ?>"
                    if (nev.length == 0 ){
                        nev = "Általános"
                        html1 += '<option style="background: red; color: white;" value="<?php echo $select_filter['filter_select_id']; ?>">'+nev+'</option>';
                    } else {
                        html1 += '<option value="<?php echo $select_filter['filter_select_id']; ?>">'+nev+'</option>';

                    }
                }
             <?php }?>
        <?php } ?>

        html1 += "</select>";
        $('#selectem').html(html1);
}


//--></script>



<?php echo $footer; ?>


