.box {
    display: block;
    margin: auto;
    max-width: 1200px;
}
.takaro {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 20;
    text-align: center;
    display: none;
}