/*
Theme Name:     bootstrap-basic-child
Description:    
Author:         flamesdesign
Template:       bootstrap-basic

(optional values you can add: Theme URI, Author URI, Version, License, License URI, Tags, Text Domain)
*/

.trapez3{
text-align: justify;
margin-top: 40px;
}
.csuszka_reszponziv{
width:40%;
height:40%;
}
.last_row {
  margin-left:-12px;
  margin-right:4px;
    max-width:90%;
    height:auto;
    position: relative;
    display:block;
    margin:0 auto;
}
.last_row2 {
  margin-left:-12px;
  margin-right:4px;
  margin-top: -40px;
}
.last_row img{
    width:100% !important;
    display:block;
}

.entry-title {
  display: none;
}
btn,h1,h2,h3,h4,h5,h6,p,span,strong,li{font-family: helvetica, arial, sans-serif}

nav, .site-branding, .site-title-heading {
  display: none;
}
.container-fluid.header {
  background: url('http://eu-solar.hu/napelemtervn66140/img/header-bg.jpg') no-repeat;
  background-size: cover;
}
.ketoszlopos .card-text, .single .card-text {
  font-size: 1.1em;
}
.btn.btn-blue {
  background: #02b1fa none repeat scroll 0 0;
  color: white;
  display: block;
  font-size: 1em;
  margin: 20px auto 16px;
  transition: all 0.3s ease 0s !important;
}
.caption {
  background: rgba(255,255,255,.6);
  padding: 10px 0 10px 10px;
}
.caption > p {
  font-style: italic;
}
.row.ketoszlopos {  
  margin-top: 80px;
}
.jumbotron{
	background: transparent;
	padding-top: 0;
	padding-bottom: 0;
}
.logo1  {
    background-color: rgba(25, 15, 1, 0.39);
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.csik  {
     margin-top:50px;
     margin-bottom:5px;
     margin-left: -10px;
}
.jumbotron h1 {
  font-size: 22px;
  font-weight: bold;  
  text-transform: uppercase;  
  padding: 0;
  color: black;
}
csuszka {
    margin-top: 37px;
}
.kalkulacio h3 {
  font-weight: normal;
  margin-left: 0;
  font-weight: bold;
}
.kalkulacio {
  background: rgba(255, 0, 0, 0.75) none repeat scroll 0 0;
  padding: 10px 20px;
  margin-bottom: 60px;
  margin-top: 40px;
  max-width: 550px;
}
.kalkulacio > h3 {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
} 
.kalkulacio p {
  font-size: 1.4em;    
  color: white;
}
.btn-yellow {
  background: #fab702;
  color: white;
  text-shadow: 0 0 5px black;
  transition: all 0.3s ease 0s;
}
.btn-yellow:hover{
	background: #ffa200;
	color: white;
}
.form-group > label {
  width: 100%;
  text-align: center;
  margin-right: 20px;
  color: white;
  float: none;
}
.form-control {
  margin-top: -24px;
}
.btn-danger {
  display: block;
  margin: auto;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 30px;
  margin-bottom: 45px;
}
.btn.btn-success {  
  background: #00847d;
border: none;  
  transition: all 0.3s ease 0s;
}
.btn.btn-success:hover{
	background: #C12E2A;
	border-color: #C12E2A;
}
.gombok.btn {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.btn {
  font-size: 1.3em;
  text-transform: uppercase;
  padding: 10px 20px;
  font-weight: bold;
}


h2 {
  margin-bottom: 30px;
  font-weight: bold;
}
h3{
	font-weight: bold;
}
.card-title { 
  font-weight: bold;
}
.btn.btn-ghost-green {
  background: transparent;
  color: #00847d;
  border: 2px solid #00847d; 
  display: block;
  margin: auto;  
  border-radius: 0;
  font-weight: bold;
  transition: all 0.3s ease 0s !important;
}
.btn.btn-ghost-green:hover{
background-color: #00847d; 
  color: #fff;
}
.btn.btn-orange {
  background: #ff4e00 none repeat scroll 0 0;
  color: white;
  display: inline;
  font-size: 1em;
  margin: -5px auto 16px 5px;
  transition: all 0.3s ease 0s !important;
}
.container-fluid.velemenyek {
  background: url(http://eu-solar.hu/napelemtervf3645/img/panel-bg.jpg) no-repeat;
  background-size: cover;
}
.btn.btn-orange:hover{
	background-color: black;
}

.container-fluid.section-2, 
.container-fluid.section-4 {
  background: none;
  margin-top:-40px;
}
.center p {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2em;
}
.card-title.center {
  text-align: center;
}
h4 {
  font-size: 1.4em;
  font-weight: bold; 
}
.card-block li::before {
  content: url("http://eu-solar.hu/napelemtervn66140/img/pipa.png");
  margin-right: 10px;
  text-indent: 2em;
  position: relative;
  top: 16px;
}

.pipa .btn {
  display: block;
  margin: auto !important;
}
.card-block li {
  font-weight: bold;
  list-style: outside none none;
  margin-left: 2rem;
  text-indent: -5rem;
  font-size: 1.2em;
}
.card-block li::after {
  content: url(http://eu-solar.hu/napelemtervn66140/img/shadow.jpg);
  display: block !important;
  margin: auto !important;
  margin-left: 50px !important;
}
.pipa .card-title.center {
  border-bottom: 1px solid;
  padding-bottom: 15px;
}
.card.pipa, .card {
  box-shadow: 0 0 5px black;
  min-height: 316.5px;
}
.section-6 {
  background: url(http://eu-solar.hu/napelemtervn66140/img/panel-bg.jpg) no-repeat;
  background-size: cover;
  margin-top: -140px;
  min-height: 1090px;

}
.velemenyek .jumbotron {
  background: transparent !important;
}
div.container-fluid.velemenyek.section-6
{
  min-height: 1050px;
  margin-top:15px;
}
.container-fluid.velemenyek.section-6
{
  min-height: 1050px;
}

.testimonial-box {
  background: white;
  padding: 2px;
}

.velemenyek h3 {
  background: rgba(255,255,255,0.6);
  max-width: 320px;
  padding: 12px;
  margin-left: 16px;
  text-align: center;
}

/* SECTOION-7 */
.section-7 .col-2 img {
  margin-top: 17px;
}
.section-7 .col-3 img {
  display: block;
  margin: auto;
  margin-top: 30px;
}
.section-7 .btn.btn-orange {
  display: block;
  margin: auto;
  margin-top: 18px;
}
img.house {
  margin-top: 0px !important;
  display: block;
}
.section-7 h3 {  
  color: #111111;
}
.trapez3 > h3 {
  color: white;
  padding-top: 70px;
  text-align: center;
}
.section-7 p {
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 26px;
  margin-top: 20px;
}
.haztetok > img {
  margin-bottom: 20px;
}
.testimonial-box > p {
  font-style: italic;
}
.container-fluid.footer {
background: #ffffff;
color: #2e2e2e;
}
.footer li {
  border-bottom: 1px solid;
  list-style: outside none none;
  line-height: 2.6;
}
.footer li::before {
  
}
.footer ul {
  padding-bottom: 50px;
  padding-top: 20px;
}
.footer h3 {
  margin-top: 40px;
}

#site-footer {
  background: #111111 none repeat scroll 0 0;
  border-top: 1px solid #ddd;
  font-size: 12px;
  padding: 10px;
  color: white;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0px;
  overflow: hidden;
}
.jumbotron {  
  border-radius: 0;
  margin-top:-1px;
}
.jumbotron {
  padding-top: 0;
  padding-bottom: 0 !important;
  margin-top:100px;
}
.container.section-2 {
  margin-bottom: 30px;
}
.card.pipa {
  margin-top: 40px;
}
.card a img {
  transition: all 0.3s ease 0s;
}

.card a img:hover {
  opacity: .8;
}
.container-fluid.section-2 {
  margin-bottom: 40px;
}
.container.csalad {
  margin-top: 130px;
  margin-bottom: 40px;
}
.footer a {
  color: white !important;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
.footer a:hover {
  color: #E14045 !important; 
}

.section-2 h2 {
  text-align: center;
  font-size: 1.6em;
}
.section-4 h2 {
  text-align: center;  
}
.jumbotron p {
  font-size: 1.1em;
  font-weight: 200;
  margin-bottom: 15px;
}
h2 {
  font-size: 1.6em;
}
.csalad h3 {
  text-align: center;
}
.form-control { 
  margin-top: 0 !important;
}
.section-7 {
  margin-top: 40px;
}

.author {
  background: white;
  width: 150px;
  padding: 8px;
  padding-left: 0;
  text-align: center;
  margin-top: 2px;
  margin-left: 0;  
}
.velemenyek img {
  background: white none repeat scroll 0 0;
  border: 2px solid red;
  border-radius: 70px;
  display: block;
  margin: -65px auto auto 130px;
  padding: 5px;
}


.btn.btn-ghost {  
  font-size: 1em;
  font-weight: normal;  
  border: 2px solid black;
  padding: 6px;
}
.btn.btn-ghost {
  font-weight: bold;
  background: rgba(255,255,255,.5);  
  color: black;
  margin-left: 0px;
  transition: all 0.3s ease 0s !important;  
  margin-bottom: 0px;
}
.btn.btn-ghost:hover {
	border-color: white;
	color: white;
	background: rgba(0,0,0,.5);
}
.kalkulacio > h3 {  
  font-size: 1.2em;
}
.header .jumbotron {
  margin-bottom: 0 !important;
}

/* SECTION-3 */

.section-3 .btn-ghost {
  font-size: 1.3em;
  display: block;
  margin: auto !important;
  width: 240px;
}
.section-3 .btn-ghost:hover{
	background: black !important;
}
.section-3 h2 {  
  text-align: center;  
  margin-left: 0;
}
.icons img {
  display: block;
  margin: auto;
}
.row.icon-sec {
  margin-top: 30px;
}
.container-fluid.section-3 {  
margin-top: -100px !important;
}
.section-3 .wrapper {
  display: block;
  margin: -10px auto auto;
  max-width: 600px;
}
.section-3  {
  margin-top: 25px !important;
}
.section-3 .btn-orange {
  font-size: 1.4em;
  display: block;
  margin: auto;
  width: 280px;
  margin-top: 20px;
}

.jobb {
  float: right;
}
h2 {
  margin-left: 12px;
}
/* SECTION-5 */
.section-5 .btn.btn-orange {
  display: block;
  margin: auto;
  width: 250px;
  font-size: 1.2em;
  margin-top: 30px;
}
.section-5 h3 {
  text-align: center;
}
.section-5 p {
  font-size: 1.4em;
  background: rgba(0,0,0,.05);
  padding: 20px;
  border-radius: 10px;
}

.section-5 .col-3 .card {
  background: url(http://eu-solar.hu/napelemtervn66140/img/napelem-panel.jpg) no-repeat;
  color: white;
}
.section-5 .btn {
  display: block;
  margin: auto !important;
  margin-top: 35px !important;
  margin-bottom: 15px !important;
}
.section-5 {
  background: rgba(0, 0, 0, 0) url("http://eu-solar.hu/napelemtervn66140/img/panel-bg.jpg") no-repeat scroll 0 0;
  background-size: cover;
  margin-top: -10px;
}
.trapez3 {
  background: url(http://eu-solar.hu/napelemtervn66140/img/trapez2.png) no-repeat;
  color: white;
}
.trapez3 > h3 {
  padding-top: 70px;
color: white;  
}
.trapez3 > p {
  padding-bottom: 90px;
  padding-right: 20px;
  padding-left: 20px;
  line-height: 1.6;
}
/*SECTION 8*/
.cta .btn.btn-orange {
  float: left;
  margin-right: 50px;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.4em;
}
.cta {
  margin-top: 40px;
}
.cta p {
  font-size: 1.3em;
  margin-top: 10px;
}
.section-8 p{
  font-size: 1.3em;

}
.section-8 .glyphicon { 
  font-size: 5em;
  color: #02b1fa;
  text-align: center !important;
  display:block;
  margin: auto;
}
.section-8 .card {
  text-align: center;
  padding-top: 15px;
  margin-top: 15px;
  margin-bottom: 30px;
}
.section-8 .card-text > a {
  display: block;
}
.footer h4 {
  font-weight: normal;
  font-size: 1.3em;
  margin-left: 16px;
}

/*MOBILE FIRST*//*MOBILE FIRST*//*MOBILE FIRST*/
/*MOBILE FIRST*//*MOBILE FIRST*//*MOBILE FIRST*/
/*MOBILE FIRST*//*MOBILE FIRST*//*MOBILE FIRST*/
.footer h3 {
  display: block;
  margin: 30px auto auto;
  text-align: center;
  width: 80%;
}
.trapez{
 background: url('http://eu-solar.hu/napelemtervn66140/img/trapez2.png')no-repeat;
 background-size: cover; 
 margin-top: 40px;
}
.trapez > h3 {
  margin-top: 60px;
  color: white;
}
.trapez p {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-radius: 10px;
  color: white;
  font-size: 1.3em;
  padding: 20px;
}
.trapez3 {
  background: rgba(0, 0, 0, 0) url("http://eu-solar.hu/napelemtervn66140/img/trapez2.png") no-repeat scroll 0 0;
  color: white;
  background-size: cover;
  text-align: justify;
}

.kalkulacio {  
  margin-bottom: 60px;
  margin-top: 10px;  
  padding: 10px 20px;
}

.btn.btn-ghost {
  background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
  border: 4px solid black;
  color: black;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 40px;
  margin-left: 10px;
  transition: all 0.3s ease 0s !important;
}
.card.single {
  margin-top: -8%;
}
.jobb {
  float: none;
}
.caption {
  background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
  padding: 0 0 0 10px;  
}
.caption > h3 {
  font-weight: normal;
  margin-top: 30px;
  font-size: 1.2em;
  line-height: 1.3;
}
.jumbotron h1 {
  margin-bottom: -20px;
}

.section-1{
    height: 330px !important;
    position:relative;
    margin-top: 0;
    width:100%;
}
.jumbotron h1 {
  margin-bottom: -30px;
}

.section-1 .btn {
  margin: auto;
  display: block;
  margin-top: 6px;
}

.section-3 {
  background: url(http://eu-solar.hu/napelemtervn66140/img/section3-bg.jpg) no-repeat;
  background-size: cover;
}
.section-3 h2 {
  color: white;
  margin-left: 0;
  text-align: center;    
  background: rgba(0,0,0,.7);
  border-radius: 40px;
  padding: 22px;
}
.section-3 h2 {  
  font-size: 1.6em;
  margin-left: 0;
  margin-top: 100px; 
font-weight: normal !important;  
}
.section-3 .grey p {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  border-radius: 20px;
  color: white;
  display: block;
  font-size: 1.4em;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  padding: 10px;
}
.section-2 {
  margin-bottom: 20px !important;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.section-3 .wrapper {
  display: block;
  margin: -10px auto auto;
  max-width: 600px;
  background: rgba(255,255,255,.6);
  padding: 10px 0;
  margin-top: 10px;
}
.section-3 h2 {
  font-size: 2em;
}
.plecsni {
  background: url(http://eu-solar.hu/napelemtervn66140/img/card-5.jpg) no-repeat;
  height: 360px;
  background-size: cover;
  background-position:center;  
}
.plecsni > h3 {
  position: absolute;
  top: 126px;
  text-align: center;
  width: 270px;
  display: block;
  margin: auto;
  color: white;
  font-size: 2.4em;
  margin-left: 28px;
}
.section-7 {
  margin-top: 0;
    margin-bottom: -60px;
    margin-top: 20px;
}

/*RESPONSIVE*//*RESPONSIVE*//*RESPONSIVE*/
/*RESPONSIVE*//*RESPONSIVE*//*RESPONSIVE*/
/*RESPONSIVE*//*RESPONSIVE*//*RESPONSIVE*/


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

@media (min-width: 180px) { 
.section-1{
	height: 160px;
	position:relative;	
	margin-bottom: 95px;	
}
.section-6{
	max-height: 200px;
}
.btn-ghost {  
  font-size: 1.2em !important;
  font-weight: normal;  
  border: 3px solid black;
  padding: 6px;  
  margin-bottom: 10px;
}
.trapez{
padding-top: 20px;
}
.balkep{
min-height: 10px;
margin-left: -5%;
}
.trapez3{
text-align: justify;
margin-top: 40px;
}
}

@media (min-width: 321px) { 
.section-1{
	height: 160px;
	position:relative;	
	margin-bottom: 85px;	
}
.btn-ghost {  
  font-size: 1.2em !important;
  font-weight: normal;  
  border: 3px solid black;
  padding: 6px;  
  margin-bottom: 10px;
}
.section-6{
	max-height: 250px;
}
.balkep{
min-height: 10px;
margin-left: -5%;
}
.trapez3{
text-align: justify;
margin-top: 40px;
}
}

@media (min-width: 480px) { 
.section-1{
	height: 200px;
	position:relative;	
	margin-bottom: 85px;		
}
.btn-ghost {  
  font-size: 1.3em !important;  
  border: 3px solid black;
  padding: 6px;
}
.section-6{
	max-height: 250px;
}
.container-fluid.velemenyek {
min-height: 1050px;
}

}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
.section-2 h2 {
  text-align: left !important;
  font-size: 1.9em;
}
h2 {
  font-size: 2em;
}
.csalad h3 {
  text-align: left;
}
.form-group > label {
  color: white;
  margin-right: 10px;
  text-align: right;
  width: 84px;
}
.section-1 .form-control {
  margin-top: -20px !important;
}
.btn.btn-ghost {
  background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
  border: 4px solid black;
  color: black;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 40px;
  margin-left: 10px;
  transition: all 0.3s ease 0s !important;
}
.author {
  background: rgba(255,255,255,0.8); 
  width: 150px;
  padding: 8px;
  text-align: center;
  margin-top: 2px;
  margin-left: 40px;
  font-weight: bold;
}
.velemenyek img {
  display: block;
  margin: auto;
  border-radius: 70px;
  border: 2px solid red;
  padding: 5px;
  background: white;
  margin-top: -55px;
  margin-left: 200px;
}
.kalkulacio > h3 {  
  font-size: 1.5em;
}
.section-6{
	min-height: 650px;
}
.container-fluid.velemenyek {
  background: url(http://eu-solar.hu/napelemtervf3645/img/panel-bg.jpg) no-repeat;
  background-size: cover;
  min-height:200px;
}
}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
.section-6{
	min-height: 750px;
}
.container-fluid.velemenyek {
  background: url(http://eu-solar.hu/napelemtervf3645/img/panel-bg.jpg) no-repeat;
  background-size: cover;
  min-height:200px;
}
}