/*
Theme Name:     bootstrap-basic-child
Description:    
Author:         flamesdesign
Template:       bootstrap-basic

(optional values you can add: Theme URI, Author URI, Version, License, License URI, Tags, Text Domain)
*/

.last_row {
  margin-left:-12px;
  margin-right:4px;
    max-width:90%;
    height:auto;
    position: relative;
    display:block;
    margin:0 auto;
    padding-top: 80px;
}
.last_row2 {
  margin-left:-12px;
  margin-right:4px;
  margin-top: -40px;
}
.last_row img{
    width:100% !important;
    /*height:100% !important;*/
    display:block;
}
.container-fluid.velemenyek {
  background: url(http://eu-solar.hu/napelemtervf3645/img/panel-bg.jpg) no-repeat;
  background-size: cover;
  padding-bottom: 40px;
}

.testimonial-box {
  background: white;
  padding: 2px;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

btn,h1,h2,h3,h4,h5,h6,p,span,strong,li{font-family: helvetica, arial, sans-serif}
.entry-title {
  display: none;
}

.entry-title {
  text-align: center;
  margin-top: 15px !important;
  font-weight: bold;
}
.row.main-navigation, .site-branding{display: none}
.container-fluid.header {
  background: url('http://eu-solar.hu/napelemtervf66140/img/header-bg.jpg') no-repeat;
  background-size: cover;
  padding-bottom: 55px;
}
.jumbotron{
	background: transparent;
	padding-top: 0;
	padding-bottom: 0;
}
.jumbotron h1 {
  font-size: 22px;
  font-weight: bold;  
  text-transform: uppercase;  
  padding: 0;
  color: white;
}
.kalkulacio {
  background: rgba(0,105,135,0.6);
  padding: 10px 20px;
  margin-bottom: 60px;
  margin-top: 25px;
}
.kalkulacio > h3 {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
} 
.kalkulacio p {
  font-size: 1.4em;    
  color: white;
}
.form-group > label {
  width: 100%;
  text-align: center;
  margin-right: 20px;
  color: white;
  float: none;
}
.form-control {
  margin-top: -24px;
}
.btn-danger {
  display: block;
  margin: auto;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 30px;
  margin-bottom: 45px;
}
.btn.btn-success {  
  background: #00847d;
border: none;  
  transition: all 0.3s ease 0s;
}
.btn.btn-success:hover{
	background: #C12E2A;
	border-color: #C12E2A;
}
.gombok.btn {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.btn {
  font-size: 1.3em;
  text-transform: uppercase;
  padding: 10px 20px;
  font-weight: bold;
}

h2 {
  margin-bottom: 30px;
  font-weight: bold;
}
h3{
	font-weight: bold;
}
.card-title { 
  font-weight: bold;
}
.btn.btn-ghost-green {
  background: transparent;
  color: #00847d;
  border: 2px solid #00847d; 
  display: block;
  margin: auto;  
  border-radius: 0;
  font-weight: bold;
  transition: all 0.3s ease 0s !important;
}
.btn.btn-ghost-green:hover{
background-color: #00847d; 
  color: #fff;
}
.btn.btn-orange {
  background: #ff4e00 none repeat scroll 0 0;
  color: white;
  display: inline;
  font-size: 1em;
  margin: -5px auto 16px 5px;
  transition: all 0.3s ease 0s !important;
}
.btn.btn-orange:hover{
	background-color: black;
}

.container-fluid.section-2, 
.container-fluid.section-4 {
  background: none;
}
.center p {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2em;
}
.card-title.center {
  text-align: center;
}
h4 {
  font-size: 1.4em;
  font-weight: bold; 
}
.card-block li::before {
  content: url("http://eu-solar.hu/napelemtervf66140/img/pipa.png");
  margin-right: 10px;
  text-indent: 2em;
  position: relative;
  top: 16px;
}

.pipa .btn {
  display: block;
  margin: auto !important;
}
.card-block li {
  font-weight: bold;
  list-style: outside none none;
  margin-left: 2rem;
  text-indent: -5rem;
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 15px;
}
.card-block li::after {
  content: url(http://eu-solar.hu/napelemtervf66140/img/shadow.jpg);
  display: block !important;
  margin: auto !important;
  margin-left: 50px !important;
}
.pipa .card-title.center {
  border-bottom: 1px solid;
  padding-bottom: 15px;
  margin-top: 30px;
}
.card.pipa, .card {
  box-shadow: 0 0 5px black;
}
.section-6 {
  background: url(http://eu-solar.hu/napelemtervf66140/img/panel-bg.jpg) no-repeat;
  background-size: cover;
}
.velemenyek .jumbotron {
  background: transparent !important;
}
.testimonial-box {
  background: white;
  padding: 3px;
}

.velemenyek h3 {
  background: rgba(255,255,255,0.6);
  max-width: 320px;
  padding: 12px;
  margin-left: 16px;
  text-align: center;}

/* SECTOION-7 */
.section-7 .col-2 img {
  margin-top: 17px;
}
.section-7 .col-3 img {
  display: block;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 60px;
}
.section-7 .btn.btn-orange {
  display: block;
  margin: auto;
  margin-top: 18px;
}
img.house {
  margin-top: 0px !important;
  display: block;
}
.section-7 h3 {
  text-align: center;
  color: #111111;
}
.section-7 p {
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 26px;
  margin-top: 20px;
}
.haztetok > img {
  margin-bottom: 20px;
}
.testimonial-box > p {
  font-style: italic;
}
.container-fluid.footer {
background: #ffffff;
color: #2e2e2e;
}
.footer li {
  border-bottom: 1px solid;
  list-style: outside none none;
  line-height: 2.6;
}
.footer li::before {
}
.footer ul {
  padding-bottom: 50px;
  padding-top: 20px;
}
.footer h3 {
  margin-top: 40px;
}

#site-footer {
  background: #111111 none repeat scroll 0 0;
  border-top: 1px solid #ddd;
  font-size: 12px;
  padding: 10px;
  color: white;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0px;
  overflow: hidden;
}
.jumbotron {  
  border-radius: 0;
  margin-top: -1px;
}
.jumbotron {
  padding-top: 0;
  padding-bottom: 0 !important;
}
.container.section-2 {
  margin-bottom: 30px;
}

.card a img {
  transition: all 0.3s ease 0s;
}

.card a img:hover {
  opacity: .8;
}
.container-fluid.section-2 {
  margin-bottom: 40px;
}
.container.csalad {
  margin-top: 30px;
  margin-bottom: 40px;
}
.footer a {
  color: white !important;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
.footer a:hover {
  color: #E14045 !important; 
}

.section-2 h2 {
  text-align: center;
  font-size: 1.6em;
}
.section-4 h2 {
  text-align: center;  
}
.jumbotron p {
  font-size: 1.1em;
  font-weight: 200;
  margin-bottom: 15px;
}
h2 {
  font-size: 1.6em;
}
.csalad h3 {
  text-align: center;
}
.form-control { 
  margin-top: 0 !important;
}
.section-7 {
  margin-top: 40px;
}

.author {
background: rgba(255, 255, 255, 0.8); 
width: 150px;
padding: 8px;
text-align: center;
margin-top: 2px;
margin-left: 40px;
font-weight: bold;
}
.velemenyek img {
  background: white none repeat scroll 0 0;
  border: 2px solid red;
  border-radius: 70px;
  display: block;
  margin: -65px auto auto 130px;
  padding: 5px;
}


.btn.btn-ghost {  
  font-size: 1em;
  font-weight: normal;  
  border: 2px solid black;
  padding: 6px;
}
.btn.btn-ghost {
  font-weight: bold;
  background: rgba(255,255,255,.5);  
  color: black;
  margin-left: 0px;
  transition: all 0.3s ease 0s !important;  
  margin-bottom: 0px;
}
.btn.btn-ghost:hover {
	border-color: white;
	color: white;
	background: rgba(0,0,0,.5);
}
.kalkulacio > h3 {  
  font-size: 1.2em;
}
.header .jumbotron {
  margin-bottom: 0 !important;
}

/* SECTION-3 */

.section-3 .btn-ghost {
  font-size: 1.3em;
  display: block;
  margin: auto !important;
  width: 240px;
}
.section-3 .btn-ghost:hover{
	background: black !important;
}
.section-3 h2 {
  color: #cd3434;
  text-align: center;  
  margin-left: 0;
}
.section-3 h3{
	color: #111111;
    text-align: center;  	
}
.section-3 .wrapper {
  display: block;
  margin: -10px auto auto;
  max-width: 820px;
}
.section-3 .btn.btn-ghost {
  margin-top: 25px !important;
}
.section-3 .btn-orange {
  font-size: 1.4em;
  display: block;
  margin: auto;
  width: 280px;
  margin-top: 20px;
}

.jobb {
  float: right;
}
h2 {
  margin-left: 12px;
}
/* SECTION-5 */
.section-5 h3 {
  text-align: center;
}
.section-5 p {
  font-size: 1.4em;
  background: rgba(0,0,0,.05);
  padding: 20px;
  border-radius: 10px;
}
.section-5 .col-3 .card {
  background: url(http://eu-solar.hu/napelemtervf66140/img/napelem-panel.jpg) no-repeat;
  color: white;
}
.section-5 .btn {
  display: block;
  margin: auto !important;
  margin-top: 35px !important;
  margin-bottom: 15px !important;
}


/*MOBILE FIRST*//*MOBILE FIRST*//*MOBILE FIRST*/
/*MOBILE FIRST*//*MOBILE FIRST*//*MOBILE FIRST*/
/*MOBILE FIRST*//*MOBILE FIRST*//*MOBILE FIRST*/
.section-1{
	height: 330px !important;
	position:relative;
    margin-top: 0;
}
.jumbotron h1 {
  margin-bottom: -30px;
}
.kalkulacio > h3 {  
  padding-top: -6px !important;
}
.section-1 .btn {
  margin: auto;
  display: block;
  margin-top: 6px;
}

.section-3 {
  background: url(http://eu-solar.hu/napelemtervf66140/img/section3-bg.jpg) no-repeat;
  background-size: cover;
  padding-bottom: 125px;
}
.section-3 .grey p {
background: rgba(227, 236, 243, 0.69);
display: block;
margin: auto;
max-width: 700px;
border-radius: 20px;
color: #353535;
font-size: 1.6em;
margin-bottom: 40px; 
padding: 20px;
}
.section-2 {
  margin-bottom: 20px !important;
}
.section-3 .wrapper {
  display: block;
  margin: -10px auto auto;
  max-width: 820px;
  background: rgba(255,255,255,.6);
  padding: 10px 0;
  margin-top: 10px;
}
.section-3 h2 {
  font-size: 2em;
}
.plecsni {
  background: url(http://eu-solar.hu/napelemtervf66140/img/card-5.jpg) no-repeat;
  height: 360px;
  background-size: cover;
  background-position:center;  
}
.plecsni > h3 {
  position: absolute;
  top: 126px;
  text-align: center;
  width: 270px;
  display: block;
  margin: auto;
  color: white;
  font-size: 2.4em;
  margin-left: 28px;
}
.section-7 {
  margin-top: 0;
}

/*RESPONSIVE*//*RESPONSIVE*//*RESPONSIVE*/
/*RESPONSIVE*//*RESPONSIVE*//*RESPONSIVE*/
/*RESPONSIVE*//*RESPONSIVE*//*RESPONSIVE*/


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (max-width: 350px) { 
.logo1{
margin-left:5px;
margin-top:5px;
margin-right:5px;
}
.container-fluid.header {
  padding-bottom: 455px;
}
.col-xs-6 {
 width: 100%;
}
.container{
padding-right: 0px;
padding-left: 0px;
}
.single-content-wrapper{
width: device-width;
}
.p {
  font-size: 30px;
}
.card-text{
font-size: 28px;
}
.h4{
font-size: 44px;
}
.h3{
font-size: 46px;
}
.card-title{
    font-size: 36px;
}
.section-5 p {
  font-size: 32px;
}
.container-fluid.section-4 h4{
  font-size: 34px;
}
.row h3{
  font-size: 32px;
}
.container.section-7 h4{
  font-size: 34px;
}
.container.section-7 h3{
  font-size: 34px;
}
.container.section-7 p{
  font-size: 30px;
}
.container-fluid.section-3 p{
  font-size: 30px;
}
.container-fluid.section-3 h2{
  font-size: 32px;
}
.container-fluid.section-3 h5{
  font-size: 30px;
}
.container-fluid.section-3{
padding-bottom: 255px;
}

}

@media (min-width: 321px) { 
.section-1{
	height: 160px;
	position:relative;		
}
.btn-ghost {  
  font-size: 1.2em !important;
  font-weight: normal;  
  border: 3px solid black;
  padding: 6px;  
  margin-bottom: 10px;
}
.container-fluid.header {
padding-bottom: 355px;
}
.col-xs-6 {
 width: 100%;
}
.container{
padding-right: 0px;
padding-left: 0px;
zoom: 1.16;
}
.p {
  font-size: 30px;
}
.card-text{
font-size: 28px;
}
.h4{
font-size: 44px;
}
.h3{
font-size: 46px;
}
.card-title{
    font-size: 36px;
}
.section-5 p {
  font-size: 32px;
}
.container-fluid.section-4 h4{
  font-size: 34px;
}
.row h3{
  font-size: 32px;
}
.container.section-7 h4{
  font-size: 34px;
}
.container.section-7 h3{
  font-size: 34px;
}
.container.section-7 p{
  font-size: 30px;
}
.container-fluid.section-3 p{
  font-size: 30px;
}
.container-fluid.section-3 h2{
  font-size: 32px;
}
.container-fluid.section-3 h5{
  font-size: 30px;
}
.container-fluid.section-3{
padding-bottom: 255px;
}

}

@media (min-width: 480px) { 
.section-1{
	height: 200px;
	position:relative;		
}
.btn-ghost {  
  font-size: 1.3em !important;  
  border: 3px solid black;
  padding: 6px;
}
.container-fluid.velemenyek {
min-height: 1050px;
}
.container-fluid.header {
  padding-bottom: 355px;
}
.col-xs-6 {
 width: 100%;
}
.container{
padding-right: 0px;
padding-left: 0px;
zoom: 1.16;
}
.single-content-wrapper{
width: device-width;
}

.p {
  font-size: 30px;
}
.card-text{
font-size: 28px;
}
.h4{
font-size: 44px;
}
.h3{
font-size: 46px;
}
.card-title{
    font-size: 36px;
}
.section-5 p {
  font-size: 32px;
}
.container-fluid.section-4 h4 {
  font-size: 34px;
}
.row h3 {
  font-size: 32px;
}
.container.section-7 h4 {
  font-size: 34px;
}
.container.section-7 h3 {
  font-size: 34px;
}
.container.section-7 p {
  font-size: 30px;
} 
.container-fluid.section-3 p{
  font-size: 30px;
}
.container-fluid.section-3 h2{
  font-size: 32px;
}
.container-fluid.section-3 h5{
  font-size: 30px;
}
.container-fluid.section-3{
padding-bottom: 225px;
}

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
.container-fluid.header {
    padding-bottom: 254px;
}
.section-7 {
  margin-top: 40px;
}
.plecsni > h3 {
  position: absolute;
  top: 126px;
  text-align: center;
  width: 300px;
  display: block;
  margin: auto;
  color: white;
  font-size: 2.4em;
  margin-left: 28px;
}
.section-3 .wrapper {
  background: rgba(255, 252, 252, 0.85);
  display: block;
  margin: -10px auto auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 910px;
}
.section-2 {
  margin-bottom: 40px !important;
}
.section-3 .grey p {
  background: rgba(236, 243, 251, 0.86);
display: block;
margin: auto;
max-width: 820px;
border-radius: 20px;
color: #3f3f3f;
font-size: 1.6em;
margin-bottom: 40px; 
padding: 20px;
}
.section-1 .btn {
  margin: inherit;
  display: inline-block;
  /*margin-top: -20px;*/
}
.jumbotron h1 {
  margin-bottom: 0;
}
.kalkulacio > h3 {  
  padding-top: 0 !important;
}

.section-1{
	height: 300px;
	position:relative;
}
.jumbotron h1 {
  font-size: 34px;
  }
.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  height: 450px;
}
.gombok {
  position: absolute;
  bottom: 0;  
}

.jumbotron p {
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 15px;
}
.section-4 h2 {
  text-align: left;  
}
.btn-ghost {  
  font-size: 1.3em !important;  
  border: 3px solid black;
  padding: 6px;
}
.col-xs-6 {
 width: 100%;
}
.single-content-wrapper{
width: device-width;
}
.container{
padding-right: 0px;
padding-left: 0px;
zoom: 1.16;
}
.p {
  font-size: 24px;
}
.card-text{
font-size: 24px;
}
.h4{
font-size: 30px;
}
.h3{
font-size: 32px;
}
.card-title{
    font-size: 24px;
}
.section-5 p {
  font-size: 24px;
}
.container-fluid.section-4 h4 {
  font-size: 30px;
}
.row h3 {
  font-size: 30px;
}
.container.section-7 h4 {
  font-size: 30px;
}
.container.section-7 h3 {
  font-size: 30px;
}
.container.section-7 p {
  font-size: 24px;
} 
.container-fluid.section-3 p{
  font-size: 24px;
}
.container-fluid.section-3 h2{
  font-size: 30px;
}
.container-fluid.section-3 h5{
  font-size: 28px;
}
.container-fluid.section-3{
padding-bottom: 150px;
}


}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .container-fluid.section-2, 
.container-fluid.section-4 {
  background: url(http://eu-solar.hu/napelemtervf66140/img/foot.jpg);
  background-size: cover;
  background-position: 30% 0%;
}
.section-2 h2 {
  text-align: left !important;
  font-size: 1.9em;
}
h2 {
  font-size: 2em;
}
.csalad h3 {
  text-align: left;
}
.form-group > label {
  color: white;
  margin-right: -10px;
  text-align: left;
  width: 100px;
}
.form-inline .form-group {
  display: inline-block;
  margin-bottom: 15px;
  vertical-align: middle;
}
.form-inline .form-control {
  display: block;
  vertical-align: middle;
  width: auto;
}
.section-1 .btn {
  display: inline-block;
  margin-top: 28px;
  margin-left: 20px;
}
.section-1 .form-control {
  /*margin-top: -20px !important;*/
}
.btn.btn-ghost {
  background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
  border: 4px solid black;
  color: black;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 10px;
  transition: all 0.3s ease 0s !important;
}
.author {
background: rgba(255, 255, 255, 0.8); 
width: 150px;
padding: 8px;
text-align: center;
margin-top: 2px;
margin-left: 40px;
font-weight: bold;
}
.velemenyek img {
  display: block;
  margin: auto;
  border-radius: 70px;
  border: 2px solid red;
  padding: 5px;
  background: white;
  margin-top: -55px;
  margin-left: 200px;
}
.kalkulacio > h3 {  
  font-size: 1.5em;
}
.kalkulacio
{
    min-width:480px;
}
.container-fluid.velemenyek {
min-height: 200px;
}

.card2 {
position: relative;
display: block;
margin-bottom: .75rem;
background-color: #fff;
border-radius: .25rem;
margin-top: 20px;
}

.card3 {
position: relative;
display: block;
margin-bottom: .75rem;
margin-top: 30px;
background-color: #fff;
border-radius: .25rem;
margin-top: 20px;
}

.card4 {
position: relative;
display: block;
margin-bottom: .75rem;
background-color: #fff;
border: 1px solid #e5e5e5;
border-radius: .25rem;
box-shadow: 0 0 5px black;
margin-top: 20px;
}

.rowN.brownN {
box-shadow: 0 5px 10px black;
padding-bottom: 10px;
margin-top: 110px;
background: rgba(0, 105, 135, 0.83);
}
.rowN.brown2N {
  box-shadow: 0 5px 19px black;
  padding-bottom: 10px;
  margin-top: 20px;
  background: rgba(0, 105, 135, 0.83);
}
.whiteN {
    color: white;
}
.containerN {
width: 1170px;
}
.rowN{
margin-right: -15px;
margin-left: -15px;
}
.col-xs-12N {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
 }   
.container-fluidN {
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}

.row{
margin-top: 20px;
margin-bottom: -10px;
}
.ketsoros
{
width: 49.9999%;
}
.p {
  font-size: 22px;
}
.card-text{
font-size: 22px;
}
.h4{
font-size: 30px;
}
.h3{
font-size: 32px;
}
.card-title{
    font-size: 22px;
}
.section-5 p {
  font-size: 22px;
}
.container-fluid.section-4 h4 {
  font-size: 28px;
}
.row h3 {
  font-size: 28px;
}
.container.section-7 h4 {
  font-size: 26px;
}
.container.section-7 h3 {
  font-size: 28px;
}
.container.section-7 p {
  font-size: 22px;
} 
.container-fluid.section-3 p{
  font-size: 24px;
}
.container-fluid.section-3 h2{
  font-size: 25px;
}
.container-fluid.section-3 h5{
  font-size: 24px;
}
.container-fluid.section-3{
padding-bottom: 125px;
}
.container-fluid.header {
    padding-bottom: 354px;
}

}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
.container-fluid.velemenyek {
min-height: 200px;
}
.col-xs-6 {
 width: 50%;
}
.container-fluid.header {
    padding-bottom: 345px;
}
}