.slider {
  width: auto;
  display: block;
}

.slider > .dragger {
  background: #eeeeee;
  background: -webkit-linear-gradient(top, #eeeeee, #eeeeee);
  background: -moz-linear-gradient(top, #eeeeee, #eeeeee);
  background: linear-gradient(top, #eeeeee, #eeeeee);

  -webkit-box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);
  box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  border: 1px solid #aaaaaa;
  width: 16px;
  height: 16px;

    background: #c5c5c5;
    background: -moz-linear-gradient(90deg, rgba(180,180,180,1) 20%, rgba(230,230,230,1) 50%, rgba(180,180,180,1) 80%);
    background: -webkit-radial-gradient(  50%   0%,  12% 50%, hsla(0,0%,100%,1) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient(  50% 100%, 12% 50%, hsla(0,0%,100%,.6) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient(	50% 50%, 200% 50%, hsla(0,0%,90%,1) 5%, hsla(0,0%,85%,1) 30%, hsla(0,0%,60%,1) 100%);
}

.slider > .dragger:hover {
  background: -webkit-linear-gradient(top, #aaaaaa, #ffffff);
}


.slider > .track, .slider > .highlight-track {
  background: #df190a;
  background: -webkit-linear-gradient(top, #df190a, #ddd);
  background: -moz-linear-gradient(top, #df190a, #ddd);
  background: linear-gradient(top, #df190a, #ddd);

  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  border: 1px solid #aaa;
  height: 4px;
}

.slider > .highlight-track {
	background-color: #eeeeee;
	background: -webkit-linear-gradient(top, #eeeeee, #eeeeee);
	background: -moz-linear-gradient(top, #eeeeee, #eeeeee);
	background: linear-gradient(top, #eeeeee, #eeeeee);
	
	border-color: #496805;
}

