    <div class="fogalom_fejlec">
        <span class="fogalom_name" style=""><?php echo $name?></span>
        <span class="fogalom_close" onclick="fogalomClosed()" style="text-decoration: underline"><?php echo $button_close?></span>
    </div>

    <div class="fogalom">
        <?php echo $description?>
    </div>
