<?php echo $header; ?>
    <div class="breadcrumb">
        <?php $elemszam=count($breadcrumbs);
        $i=0;
        foreach ($breadcrumbs as $breadcrumb) { $i++;
            if ($i==$elemszam) { ?>
                <? echo $breadcrumb['separator']; ?><a class="utolsobread" href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
            <? } else {
                echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
            <? }
        } ?>
    </div>
<?php echo $column_left; ?><?php echo $column_right; ?>
<div id="content"><?php echo $content_top; ?>

  <h1><?php echo $heading_title; ?></h1>
  <div class="sitemap-info">
    <div class="left">
      <ul>
        <?php foreach ($categories as $category_1) { ?>
        <li><a class="sitemap-link" href="<?php echo $category_1['href']; ?>"><?php echo $category_1['name']; ?></a>
          <?php if ($category_1['children']) { ?>
          <ul>
            <?php foreach ($category_1['children'] as $category_2) { ?>
            <li><a class="sitemap-link"  href="<?php echo $category_2['href']; ?>"><?php echo $category_2['name']; ?></a>
              <?php if ($category_2['children']) { ?>
              <ul>
                <?php foreach ($category_2['children'] as $category_3) { ?>
                <li><a class="sitemap-link" href="<?php echo $category_3['href']; ?>"><?php echo $category_3['name']; ?></a></li>
                <?php } ?>
              </ul>
              <?php } ?>
            </li>
            <?php } ?>
          </ul>
          <?php } ?>
        </li>
        <?php } ?>
      </ul>
    </div>
    <div class="right">
      <ul>
        <li><a class="sitemap-link" href="<?php echo $special; ?>"><?php echo $text_special; ?></a></li>
        <li><a class="sitemap-link" href="<?php echo $account; ?>"><?php echo $text_account; ?></a>
          <ul>
            <li><a class="sitemap-link" href="<?php echo $edit; ?>"><?php echo $text_edit; ?></a></li>
            <li><a class="sitemap-link" href="<?php echo $password; ?>"><?php echo $text_password; ?></a></li>
            <li><a class="sitemap-link" href="<?php echo $address; ?>"><?php echo $text_address; ?></a></li>
            <li><a class="sitemap-link" href="<?php echo $history; ?>"><?php echo $text_history; ?></a></li>
            <li><a class="sitemap-link" href="<?php echo $download; ?>"><?php echo $text_download; ?></a></li>
          </ul>
        </li>
        <li><a class="sitemap-link" href="<?php echo $cart; ?>"><?php echo $text_cart; ?></a></li>
        <li><a class="sitemap-link" href="<?php echo $checkout; ?>"><?php echo $text_checkout; ?></a></li>
        <li><a class="sitemap-link" href="<?php echo $search; ?>"><?php echo $text_search; ?></a></li>
        <li><?php echo $text_information; ?>
          <ul>
            <?php foreach ($informations as $information) { ?>
            <li><a class="sitemap-link" href="<?php echo $information['href']; ?>"><?php echo $information['title']; ?></a></li>
            <?php } ?>
            <li><a class="sitemap-link" href="<?php echo $contact; ?>"><?php echo $text_contact; ?></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <?php echo $content_bottom; ?></div>
<?php echo $footer; ?>